# libraries & global vars

In [34]:
import pandas as pd
import numpy as np

# import combined leaders

In [42]:
## combined leaders to clean - file in
filein_combined_leaders_toclean = "../../data/combined data/combined data - 1 cleaning/cleaning step 1 - combined data/leaders_toparse.xlsx"
merged_leaders = pd.read_excel(filein_combined_leaders_toclean)

In [43]:
merged_leaders["MOUID_2015"] = merged_leaders["MOUID_2015"].fillna(0)
merged_leaders.MOUID_2015

0      807.0
1      430.0
2      153.0
3      542.0
4        0.0
       ...
663    705.0
664    706.0
665    707.0
666    709.0
667    711.0
Name: MOUID_2015, Length: 668, dtype: float64

In [44]:
merged_leaders.MOUID_2015 = merged_leaders.MOUID_2015.astype("int")
merged_leaders.MOUID_2015

0      807
1      430
2      153
3      542
4        0
      ...
663    705
664    706
665    707
666    709
667    711
Name: MOUID_2015, Length: 668, dtype: int32

In [46]:
#merged_leaders.loc[merged_leaders["MOUID_2015"]==0,"MOUID_2015"]=np.nan
merged_leaders.MOUID_2015.replace(0,np.nan,inplace=True)
merged_leaders.MOUID_2015

0      807.0
1      430.0
2      153.0
3      542.0
4        NaN
       ...
663    705.0
664    706.0
665    707.0
666    709.0
667    711.0
Name: MOUID_2015, Length: 668, dtype: float64

# path out for combined career table - to parse and code

In [6]:
## combined career - cleaning - file out
fileout_combined_career_cleaning = "../../data/combined data/combined data - 1 cleaning/cleaning step 1 - combined data/career_everything_toparse.xlsx"

# import and merge 2015 & 2022 career tables

In [7]:
## 2022 career - table - file in
file_2022_career_table = "../../data/2022 data/2022 data - 2 tables/career_everything.xlsx"
new_career = pd.read_excel(file_2022_career_table)
new_career.columns = [item+"_2022" if item != "LeaderID" else item for item in list(new_career.columns)]

In [21]:
## 2015 career - raw - file in
file_2015_career_raw = "../../data/2015 data/2015 data - 0 raw/leaderschoollinkmou.csv"
old_career_columns = ["MOUID_2015", "Name", "CareerStringID_2015", "CareerString_2015", "CareerStartYear", "CareerStartMonth", "EventType", "JointAppointment", "Org1", "Org2", "Org3", "Org4", "Org5", "Position", "OrgLevel", "PositionLevel", "OrgPositionString"]
old_career = pd.read_csv(file_2015_career_raw,sep=";",names=old_career_columns)
old_career = old_career[old_career["MOUID_2015"].notna()]

In [27]:
old_career.MOUID_2015 = old_career.MOUID_2015.astype("int")
old_career.MOUID_2015

0      102
1      102
2      103
3      106
4      107
      ...
299    783
300    799
301    804
302    807
303    807
Name: MOUID_2015, Length: 303, dtype: int32

In [9]:
# add LeaderID to old_family. select columns to merge with new_family
merged_leaders_key = merged_leaders[["LeaderID","MOUID_2015"]]
old_career_withid = old_career.merge(merged_leaders_key,on="MOUID_2015",how="inner")
#old_education_withid = old_education_withid[["LeaderID","FamilyString_2015"]]

ValueError: You are trying to merge on object and float64 columns. If you wish to proceed you should use pd.concat

In [13]:
merged_career = new_career.merge(old_career_withid,on="LeaderID",how="outer")

In [14]:
merged_career

,LeaderID,CareerDateString_2022,CareerString_2022,MOUID_2015,Name,CareerStringID_2015,CareerString_2015,CareerStartYear,CareerStartMonth,EventType,JointAppointment,Org1,Org2,Org3,Org4,Org5,Position,OrgLevel,PositionLevel,OrgPositionString
0,강관주,2011.12,김정일 국가장의위원회 위원,807,강관주,1960. 김일성종합대학 역사학부 졸업,1960,김일성종합대학교,대학교,북한,1960_김일성종합대학교_대학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강관주,2011.12,김정일 국가장의위원회 위원,807,강관주,연도미상김일성고급당학교 졸업,NaN,김일성고급당학교,특수학교,북한,year_김일성고급당학교_특수학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강관주,2010.09,조선노동당 중앙위원회 후보위원,807,강관주,1960. 김일성종합대학 역사학부 졸업,1960,김일성종합대학교,대학교,북한,1960_김일성종합대학교_대학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강관주,2010.09,조선노동당 중앙위원회 후보위원,807,강관주,연도미상김일성고급당학교 졸업,NaN,김일성고급당학교,특수학교,북한,year_김일성고급당학교_특수학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강관주,2010.04,김중린 국가장의위원회 위원,807,강관주,1960. 김일성종합대학 역사학부 졸업,1960,김일성종합대학교,대학교,북한,1960_김일성종합대학교_대학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,송석환,NaN,NaN,701,송석환,연도미상 평양음악대학,NaN,평양음악대학교,대학교,북한,year_평양음악대학교_대학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9875,오광철,NaN,NaN,705,오광철,연도미상 김일성종합대 프랑스어과 졸업,NaN,김일성종합대학교,대학교,북한,year_김일성종합대학교_대학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9876,오길방,NaN,NaN,706,오길방,연도미상 김일성종합대학 졸업,NaN,김일성종합대학교,대학교,북한,year_김일성종합대학교_대학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9877,우두태,NaN,NaN,707,우두태,연도미상 문평제련소 공장대학 야금과,NaN,공장대학,대학교,북한,year_공장대학_대학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9878,이금범,NaN,NaN,711,이금범,연도미상 평양체신대학 전자공학,NaN,평양체신대학교,대학교,북한,year_평양체신대학교_대학교_북한,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# career in 2015, but not 2022 - X rows
# merged_education[merged_education.EducationDateString_2022.isnull() & merged_education.EducationString_2015.notnull()]

In [31]:
# career in 2022, but not 2015 - X rows
# merged_education[merged_education.EducationDateString_2022.notnull() & merged_education.EducationString_2015.isnull()]

In [33]:
# career overlap in 2015 & 2022 - X rows
# merged_education[merged_education.EducationDateString_2022.notnull() & merged_education.EducationString_2015.notnull()]

In [38]:
# all null - X rows - can delete these
# merged_education[merged_education.EducationDateString_2022.isnull() & merged_education.EducationString_2015.isnull()]

# export combined education - to cleaning

In [17]:
# export to combined education - to cleaning
merged_career.to_excel(fileout_combined_career_cleaning,index=False)