In [1]:
import pandas as pd
import numpy as np

# combined data - 2 tables

In [2]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [3]:
filename_careers = "careers.xlsx"

In [4]:
filename_leadercareerlink = "leadercareerlink.xlsx"

In [5]:
filename_leaderjoblink = "leaderjoblink.xlsx"

In [6]:
filename_joborglink = "joborglink.xlsx"

# combined data - 1 cleaning/cleaning step 2 - career/

In [7]:
path_cleaning = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/"

In [11]:
subpath_2_1 = "2.1 career_undivided_unparsed_uncoded/"
subpath_2_2 = "2.2 career_divided_unparsed_uncoded/"
subpath_2_3 = "2.3 joborglink/"
subpath_2_4 = "2.4 orgtree/"
subpath_2_5 = "2.5 position/"
subpath_2_6 = "2.6 career_reassembled/"

In [10]:
# careers_preedits
filein_c = "careers_2_1_preedit.xlsx"
c = pd.read_excel(path_cleaning + subpath_2_6 + filein_c)
c.shape

(9001, 13)

In [34]:
# orgtree with edits to PrimaryInstitution,OrgName
filein_ot = "orgtree_4_3_jeongsu_2_x.xlsx"
ot = pd.read_excel(path_cleaning + subpath_2_4 + filein_ot)
ot.shape

(1394, 14)

In [87]:
# jol with edits to Position
filein_jol = "joborglink_1_jeongsoo_complete.xlsx"
jol = pd.read_excel(path_cleaning + subpath_2_5 + filein_jol)
jol.shape

(5013, 15)

# 1. from orgtree, edits to PrimaryInstitution,OrgName

In [28]:
ot.head(2)

,InsideGov,PrimaryInstitution,OrgName,ImmediateSuperiorOrg,SupervisesParent,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Edit_PI,Edit_OrgName,Edit_Link_PI,Edit_Link_OrgName,Edit_Link_Year,Notes
0,0.0,6.15공동선언실천남북공동위원회북측위원회,NaN,NaN,NaN,Please_Revise,Please_Revise,Please_Revise,6.15공동선언실천남북공동위원회북측위원회,NaN,Current,Current,Current,NaN
1,1.0,김일성경호대,NaN,NaN,NaN,호위사령부,호위총국,Please_Revise,Uncertain,Uncertain,Uncertain,Uncertain,Uncertain,NaN

In [35]:
select_columns = ["PrimaryInstitution","OrgName","Edit_PI","Edit_OrgName"]
ot = ot[select_columns]
ot.shape

(1394, 4)

In [36]:
ot = ot[~(ot["PrimaryInstitution"].isna() & ot["OrgName"].isna()) & ~(ot["Edit_PI"].isna() & ot["Edit_OrgName"].isna())]
ot.shape

(414, 4)

In [37]:
ot[ot["PrimaryInstitution"].isna() & ot["OrgName"].isna()]

Empty DataFrame
Columns: [PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [40]:
ot[ot["Edit_PI"].isna() & ot["Edit_OrgName"].isna()]

Empty DataFrame
Columns: [PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [42]:
ot[ot["Edit_OrgName"].isna()]

         PrimaryInstitution  OrgName                 Edit_PI Edit_OrgName
0    6.15공동선언실천남북공동위원회북측위원회      NaN  6.15공동선언실천남북공동위원회북측위원회          NaN
3                       노동당      연락부               Uncertain          NaN
4                    개성방직공장      NaN                  개성방직공장          NaN
5                    공산청년동맹   공산청년동맹                  공산청년동맹          NaN
6                    공산청년동맹      NaN                  공산청년동맹          NaN
..                      ...      ...                     ...          ...
416                     노동당  조선태권도협회                   태권도협회          NaN
417                   태천발전소      NaN                   태천발전소          NaN
418                  평양영화대학      NaN                  평양영화대학          NaN
419                   평양예술단      NaN                   평양예술단          NaN
424                  후방군관학교      NaN                  후방군관학교          NaN

[98 rows x 4 columns]

In [43]:
ot[ot.duplicated()].shape

(0, 4)

In [44]:
c.head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge
0,△국토환경보호성 상 △조선자연보호연맹 중앙위원회 위원장 * 전임: 박송남,2009.11,1.0,2.0,2009,11.0,국토환경보호성 상,NaN,NaN,NaN,NaN,NaN,left_only
1,△국토환경보호성 상 △조선자연보호연맹 중앙위원회 위원장 * 전임: 박송남,2009.11,1.0,2.0,2009,11.0,조선자연보호연맹 중앙위원회 위원장,NaN,NaN,NaN,NaN,NaN,left_only

In [47]:
c.rename(columns={"_merge":"_merge_orgstring"},inplace=True)

In [48]:
select_columns = ["PrimaryInstitution","OrgName"]
c2 = c.merge(ot,on=select_columns,how="left",indicator=True)
c2.shape

(9001, 16)

In [49]:
c2.groupby("_merge").count()

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName
_merge,,,,,,,,,,,,,,,
left_only,7899,4340,7899,1474,6123,5519,1603,5395,5396,3907,2840,83,7905,0,0
right_only,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
both,1094,555,1094,100,1043,920,111,1096,1084,1096,796,33,1096,1096,785

In [52]:
c2[c2["_merge"]=="both"].head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName,_merge
2790,"1962. 5 인민군 중장, 민족보위성 정치안전국 국장",NaN,1.0,NaN,1962,5.0,민족보위성 정치안전국 국장,민족보위성 정치안전국,국장,국방위원회,민족보위성,NaN,both,내각,민족보위성,both
2922,"1971. 채취공업위원회 지도원, 기사장",NaN,1.0,2.0,1971,NaN,채취공업위원회 기사장,재취공업위원회,기사장,내각,채취공업위원회,채취공업위원회는 없음…; 비고: 채취공업성,both,정무원,채취공업위원회,both

In [53]:
c2.loc[c2["_merge"]=="both","PrimaryInstitution"] = c2.loc[c2["_merge"]=="both","Edit_PI"]
c2.loc[c2["_merge"]=="both","OrgName"] = c2.loc[c2["_merge"]=="both","Edit_OrgName"]

In [54]:
c2[c2["_merge"]=="both"].head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName,_merge
2790,"1962. 5 인민군 중장, 민족보위성 정치안전국 국장",NaN,1.0,NaN,1962,5.0,민족보위성 정치안전국 국장,민족보위성 정치안전국,국장,내각,민족보위성,NaN,both,내각,민족보위성,both
2922,"1971. 채취공업위원회 지도원, 기사장",NaN,1.0,2.0,1971,NaN,채취공업위원회 기사장,재취공업위원회,기사장,정무원,채취공업위원회,채취공업위원회는 없음…; 비고: 채취공업성,both,정무원,채취공업위원회,both

In [78]:
c2.drop(columns=["Edit_PI","Edit_OrgName","_merge"],inplace=True)

# 2. from jol, edits to PrimaryInstitution,OrgName, Position

In [88]:
jol.head(2)

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PrimaryInstitution,OrgName,Edit_PI,Edit_OrgName,InOrgTree,Position,Edit_Position,NotJob,Notes
0,4.0,노동성 상(유임),NaN,1999,2.0,노동성,내각,노동성,NaN,NaN,NaN,상,NaN,NaN,NaN
1,1875.0,1998. 9 노동상,NaN,1998,9.0,노동성,내각,노동성,NaN,NaN,NaN,상,NaN,NaN,NaN

In [97]:
select_columns = ["CareerString","CareerStartYear","CareerStartMonth","OrgString","PrimaryInstitution","OrgName","Edit_PI","Edit_OrgName"]
jolpi = jol[select_columns]
jolpi.shape

(5013, 8)

In [98]:
jolpi = jolpi[~(jolpi["PrimaryInstitution"].isna() & jolpi["OrgName"].isna()) & ~(jolpi["Edit_PI"].isna() & jolpi["Edit_OrgName"].isna())]
jolpi.shape

(668, 8)

In [99]:
jolpi[jolpi["PrimaryInstitution"].isna() & jolpi["OrgName"].isna()]

Empty DataFrame
Columns: [CareerString, CareerStartYear, CareerStartMonth, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [100]:
jolpi[jolpi["Edit_PI"].isna() & jolpi["Edit_OrgName"].isna()]

Empty DataFrame
Columns: [CareerString, CareerStartYear, CareerStartMonth, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [101]:
# jolpi[jolpi["OrgName"].isna()]

In [102]:
c2.shape

(9001, 13)

In [110]:
c2_uncertain = c2[c2["PrimaryInstitution"]=="Uncertain"]
c2_uncertain.shape

(17, 13)

In [113]:
c2_certain = c2[~(c2["PrimaryInstitution"]=="Uncertain")]
c2_certain.shape

(8984, 13)

In [114]:
select_columns = ["CareerString","OrgString","PrimaryInstitution","OrgName"]
c3 = c2_certain.merge(jolpi,on=select_columns,how="left",indicator=True)
c3.shape

(10355, 18)

In [106]:
c3.groupby("_merge").count()

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear_x,CareerStartMonth_x,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,CareerStartYear_y,CareerStartMonth_y,Edit_PI,Edit_OrgName
_merge,,,,,,,,,,,,,,,,,
left_only,8516,4627,8516,1534,6712,6039,1673,6014,6006,4526,3291,110,8524,0,0,0,0
right_only,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
both,1848,1611,1848,66,1768,1586,68,1848,1845,1848,487,6,1848,1773,1590,1848,1845

In [84]:
9001 - 8516

485

In [108]:
c3[c3["PrimaryInstitution"]=="Uncertain"].head(10)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear_x,CareerStartMonth_x,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,CareerStartYear_y,CareerStartMonth_y,Edit_PI,Edit_OrgName,_merge
6079,"당 정치국 후보위원, 당 중앙군사위원회 위원, 당 기계공업부장, 당 중앙위원회 위원",2010.09,1.0,4.0,2010,9.0,당 기계공업부장,당 기계공업부,부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6080,1983. 8 당 기계공업부 부부장,NaN,1.0,NaN,1983,8.0,NaN,당 기계공업부,부부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6081,당 기계공업부 부부장,1983.08,1.0,NaN,1983,8.0,NaN,당 기계공업부,부부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6197,1953. 김일성 경호대장,NaN,1.0,NaN,1953,NaN,NaN,김일성 경호대,경호대장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6418,1962. 당 중공업부 부부장,NaN,1.0,NaN,NaN,NaN,NaN,당 중공업부,부부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6419,1968. 당 중공업부 부장,NaN,1.0,NaN,1968,NaN,NaN,당 중공업부,부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6420,당 중공업부 부부장,1962,1.0,NaN,1962,NaN,NaN,당 중공업부,부부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6421,당 중공업부장,1968,1.0,NaN,1968,NaN,NaN,당 중공업부,장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6422,당 중공업부장,1992.01,1.0,NaN,1992,1.0,NaN,당 중공업부,장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
7419,1988.10 당 중앙위 중공업부 부장,NaN,1.0,NaN,1988,10.0,NaN,노동당 중앙인민위원회 중공업부 제1부,부장,Uncertain,Uncertain,1부 Not found; 비고: 중앙인민위원회 is a PrimaryInstitut...,both,NaN,NaN,NaN,NaN,left_only

In [76]:
c3[~c3["Edit_PI"].isna()].head(10)

KeyError: 'Edit_PI'

# 3. from jol, edits to Position

In [71]:
jol.head(1)

,CareerString,PrimaryInstitution,OrgName,Edit_PI,Edit_OrgName,Position,Edit_Position
0,노동성 상(유임),내각,노동성,NaN,NaN,상,NaN

In [67]:
select_columns = ["CareerString","Position","Edit_Position"]
jolpos = jol[select_columns]
jolpos.shape

(5013, 3)

In [69]:
jolpos = jolpos[~jolpos["Edit_Position"].isna()]
jolpos.shape

(68, 3)

In [70]:
jolpos[jolpos["Edit_Position"].isna()]

Empty DataFrame
Columns: [CareerString, Position, Edit_Position]
Index: []