In [1]:
import pandas as pd
import numpy as np

# combined data - 2 tables

In [2]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [3]:
filename_careers = "careers.xlsx"

In [4]:
filename_leadercareerlink = "leadercareerlink.xlsx"

In [5]:
filename_leaderjoblink = "leaderjoblink.xlsx"

In [6]:
filename_joborglink = "joborglink.xlsx"

# combined data - 1 cleaning/cleaning step 2 - career/

In [7]:
path_cleaning = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/"

In [8]:
subpath_2_1 = "2.1 career_undivided_unparsed_uncoded/"
subpath_2_2 = "2.2 career_divided_unparsed_uncoded/"
subpath_2_3 = "2.3 joborglink/"
subpath_2_4 = "2.4 orgtree/"
subpath_2_5 = "2.5 position/"
subpath_2_6 = "2.6 career_reassembled/"

In [65]:
# org_4_4_JR_완료 with edits to PI & OrgName
filein_ot = "orgtree_4_4_JR_완료.xlsx"
ot = pd.read_excel(path_cleaning + subpath_2_4 + filein_ot,dtype="str")
ot.shape

(1349, 10)

In [66]:
ot.columns

Index(['InsideGov', 'PrimaryInstitution', 'OrgName', 'ImmediateSuperiorOrg',
       'SupervisesParent', 'LinkToNext_PI', 'LinkToNext_Org',
       'LinkToNext_Year', 'Notes', '_merge'],
      dtype='object')

# 1.  check no duplicates

In [67]:
# check no duplicates
ot[ot.duplicated(keep=False)].shape

(0, 10)

In [68]:
# check no duplicate keys
key_columns =["PrimaryInstitution","OrgName"]
ot[ot.duplicated(key_columns,keep=False)].shape

(8, 10)

In [69]:
# drop _merge
ot.drop(columns="_merge",inplace=True)

In [70]:
# confirm SupervisesParent = 1 or NA
ot.SupervisesParent.unique()

array([nan, '1'], dtype=object)

# 2. remove null rows

In [71]:
ot.dropna(how="all",axis=0,inplace=True)

In [72]:
ot.shape

(1348, 9)

In [73]:
ot[ot["PrimaryInstitution"].isna() & ot["OrgName"].isna()]

Empty DataFrame
Columns: [InsideGov, PrimaryInstitution, OrgName, ImmediateSuperiorOrg, SupervisesParent, LinkToNext_PI, LinkToNext_Org, LinkToNext_Year, Notes]
Index: []

In [74]:
ot[(ot["PrimaryInstitution"].str.lower()=="uncertain") & (ot["OrgName"].str.lower()=="uncertain")]

Empty DataFrame
Columns: [InsideGov, PrimaryInstitution, OrgName, ImmediateSuperiorOrg, SupervisesParent, LinkToNext_PI, LinkToNext_Org, LinkToNext_Year, Notes]
Index: []

In [75]:
ot[(ot["PrimaryInstitution"].str.lower()=="uncertain") & (ot["OrgName"].isna())]

Empty DataFrame
Columns: [InsideGov, PrimaryInstitution, OrgName, ImmediateSuperiorOrg, SupervisesParent, LinkToNext_PI, LinkToNext_Org, LinkToNext_Year, Notes]
Index: []

In [76]:
ot[(ot["PrimaryInstitution"].str.lower()=="uncertain") & (ot["OrgName"].isna())]

Empty DataFrame
Columns: [InsideGov, PrimaryInstitution, OrgName, ImmediateSuperiorOrg, SupervisesParent, LinkToNext_PI, LinkToNext_Org, LinkToNext_Year, Notes]
Index: []

# 3. replace null vars with Please_Revise

In [77]:
replace_var = "InsideGov"
ot.loc[ot[replace_var].isna(),replace_var]=np.nan

In [78]:
replace_var = "LinkToNext_PI"
ot.loc[ot[replace_var].isna(),replace_var]=np.nan

In [79]:
replace_var = "LinkToNext_Org"
ot.loc[ot[replace_var].isna(),replace_var]=np.nan

In [80]:
replace_var = "LinkToNext_Year"
ot.loc[ot[replace_var].isna(),replace_var]=np.nan

In [81]:
# 4.