# libraries & global vars

In [19]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

# io job_str

In [20]:
path_job_str = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.3.1 jobs/"

In [21]:
# filein_job_str = "job_str_2_substr_multi.xlsx"
# filein_job_str_1tocode = "job_str_2_substr_single_1tocode.xlsx"

In [22]:
#filein_job_str_2esther1 = "job_str_2_substr_single_2esther1.xlsx"
#filein_job_str_2esther2 = "job_str_2_substr_single_2esther1.xlsx"
#filein_job_str_2jeongsu = "job_str_2_substr_single_2esther1.xlsx"

In [23]:
filein_job_str_single_mail = "job_str_2_substr_single_1tocode_4Mail_Lee.xlsx"
filein_job_str_multi_mail = "job_str_2_substr_multi_expanded_2tocode_2Jacob.xlsx"

In [100]:
pathout_job_str = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 5 - orgtree/"

In [103]:
fileout_job_str = "job_str_3_parsed_merged.xlsx"

In [104]:
fileout_org_pos_unique = "org_pos_uniqe.xlsx"
fileout_org_unique = "org_uniqe.xlsx"
fileout_pos_unique = "pos_uniqe.xlsx"

# io db with old orgcode

In [50]:
path_old_orgcode = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/2015 data/2015 data - 0 raw/"

In [51]:
filein_old_orgcode = "leadercareerlinkmou.csv"

# import newly parsed unique & multi strings

In [34]:
# job_str = pd.read_excel(path_job_str+filein_job_str_1tocode,dtype="str")
job_str_single = pd.read_excel(path_job_str+filein_job_str_single_mail,dtype="str")
job_str_multi = pd.read_excel(path_job_str+filein_job_str_multi_mail,dtype="str")

In [35]:
job_str_multi.shape

(701, 11)

In [36]:
job_str_single.shape

(5897, 9)

In [37]:
job_str_single["CareerSubstring"]=np.nan

# verify that not-jobs, multiple substrings have been removed

In [38]:
job_str_single[~job_str_single.MultipleSubstrings.isna()]

Empty DataFrame
Columns: [CareerStringID, MultipleSubstrings, NotJob, CareerString, CareerDateString_2022, CareerStartYear, CareerStartMonth, OrgString, PositionString, CareerSubstring]
Index: []

In [39]:
job_str_single[~job_str_single.NotJob.isna()]

Empty DataFrame
Columns: [CareerStringID, MultipleSubstrings, NotJob, CareerString, CareerDateString_2022, CareerStartYear, CareerStartMonth, OrgString, PositionString, CareerSubstring]
Index: []

In [40]:
job_str_multi[~job_str_multi.NotJob.isna()]

Empty DataFrame
Columns: [CareerStringID, CareerDateString_2022, MultipleSubstrings, CareerString, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, PositionString, Notes, NotJob]
Index: []

# merge multi & single job_str db

In [41]:
job_str_multi[0:2]

,CareerStringID,CareerDateString_2022,MultipleSubstrings,CareerString,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,Notes,NotJob
0,147.1,NaN,4,"1952. 8 당 중앙위 부위원장, 정치위원, 군사위원, 상무위원",1952,8,당 중앙위 부위원장,당 중앙위,부위원장,NaN,NaN
1,147.2,NaN,4,"1952. 8 당 중앙위 부위원장, 정치위원, 군사위원, 상무위원",1952,8,당 중앙위 정치위원,당 중앙위 정치위원회,정치위원,NaN,NaN

In [42]:
job_str_single[0:2]

,CareerStringID,MultipleSubstrings,NotJob,CareerString,CareerDateString_2022,CareerStartYear,CareerStartMonth,OrgString,PositionString,CareerSubstring
0,1,NaN,NaN,개성공단 남북공동위원회 통행통신통관 분과위원회,2013.09 ~ 2014.01,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN
1,2,NaN,NaN,근로단체부장 해임 * 후임: 리일환,2014,2014,NaN,근로단체,부장,NaN

In [43]:
common_columns = ["CareerStringID","CareerString","CareerSubstring","CareerStartYear","CareerStartMonth","OrgString","PositionString"]

In [73]:
# concatenate data frames
frame = [job_str_multi.loc[:,common_columns],job_str_single.loc[:,common_columns]]
job_str_merged = pd.concat(frame)

In [74]:
job_str_merged.shape

(6598, 7)

In [75]:
job_str_multi.shape[0] + job_str_single.shape[0]

6598

In [76]:
job_str_merged[0:2]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString
0,147.1,"1952. 8 당 중앙위 부위원장, 정치위원, 군사위원, 상무위원",당 중앙위 부위원장,1952,8,당 중앙위,부위원장
1,147.2,"1952. 8 당 중앙위 부위원장, 정치위원, 군사위원, 상무위원",당 중앙위 정치위원,1952,8,당 중앙위 정치위원회,정치위원

In [77]:
job_str_merged.CareerStringID = job_str_merged.CareerStringID.astype("float")

In [78]:
# sort by CareerStringID
job_str_merged.sort_values("CareerStringID",inplace=True,ignore_index=True)
job_str_merged[0:2]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString
0,1.0,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN
1,2.0,근로단체부장 해임 * 후임: 리일환,NaN,2014,NaN,근로단체,부장

# merge coded orgs to org strings

In [79]:
# import old raw data with coded orgs & positions
col_names = ["ID","name","c2","CareerString","c4","c5","c6","c7","c8","c9","c10","c11","c12","c13","c14","c15","org_pos_str"]
rawdat = pd.read_csv(path_old_orgcode+filein_old_orgcode,sep=";",encoding="utf-8",header=None,names=col_names)

In [80]:
rawdat.shape

(5707, 17)

In [82]:
rawdat.drop_duplicates("CareerString",inplace=True)

In [84]:
rawdat.shape

(3587, 17)

In [85]:
rawdat[0:1]

,ID,name,c2,CareerString,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,org_pos_str
0,102,장성택,1,1969. 모스크바 유학,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position

In [87]:
job_str_merged.shape

(6598, 7)

In [88]:
job_str_merged = job_str_merged.merge(rawdat,on="CareerString",how="left")

In [89]:
job_str_merged.shape

(6598, 23)

In [90]:
job_str_merged[~job_str_merged.org_pos_str.isna()].shape

(3160, 23)

In [92]:
job_str_merged.drop(columns=["ID","name","c2","c4","c5","c6","c7","c8","c9","c10","c11","c12","c13","c14","c15"],inplace=True)

In [93]:
job_str_merged.shape

(6598, 8)

In [94]:
job_str_merged[0:2]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,org_pos_str
0,1.0,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN
1,2.0,근로단체부장 해임 * 후임: 리일환,NaN,2014,NaN,근로단체,부장,NaN

# output job_str merged & unique org & position list

In [107]:
orgstr_posstr_unique = job_str_merged[["OrgString","PositionString"]].drop_duplicates()
orgstr_unique = job_str_merged[["OrgString","org_pos_str"]].drop_duplicates()
posstr_unique = job_str_merged[["PositionString"]].drop_duplicates()

In [108]:
orgstr_posstr_unique.shape

(3244, 2)

In [109]:
orgstr_unique.shape

(3188, 2)

In [110]:
posstr_unique.shape

(409, 1)

In [111]:
# output org, pos, orgpos prelim db
orgstr_posstr_unique.to_excel(pathout_job_str+fileout_org_pos_unique,index=False,encoding="utf-8")
orgstr_unique.to_excel(pathout_job_str+fileout_org_unique,index=False,encoding="utf-8")
posstr_unique.to_excel(pathout_job_str+fileout_pos_unique,index=False,encoding="utf-8")

In [112]:
# output job_str merged prelim db
job_str_merged.to_excel(pathout_job_str+fileout_job_str,index=False,encoding="utf-8")