# libraries & global vars

In [8]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

# io job_str

In [2]:
path_job_str = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.3.1 jobs/"

In [3]:
filein_job_str = "job_str_3_db.xlsx"

In [4]:
pathout_job_db = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 5 - orgtree/"

In [113]:
fileout_job_db = "job_db_1.xlsx"

In [ ]:
fileout_job_orglist = "job_db_1_orglist.xlsx"

# import newly parsed unique & multi strings

In [83]:
# read in job_str db
job_str = pd.read_excel(path_job_str+filein_job_str,dtype="str")

In [84]:
job_str.shape

(6598, 8)

In [85]:
job_str[0:2]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,org_pos_str
0,1,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN
1,2,근로단체부장 해임 * 후임: 리일환,NaN,2014,NaN,근로단체,부장,NaN

# add fields: NotJob, InsideGov, PrimaryInstitution

In [86]:
job_str["NotJob"]=np.nan
job_str["InsideGov"]=np.nan
job_str["PrimaryInstitution"]=np.nan

In [87]:
job_str[0:2]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,org_pos_str,NotJob,InsideGov,PrimaryInstitution
0,1,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN,NaN,NaN,NaN
1,2,근로단체부장 해임 * 후임: 리일환,NaN,2014,NaN,근로단체,부장,NaN,NaN,NaN,NaN

# populate InsideGov and PrimaryInstitution, using org_pos_str

In [88]:
# job_str[~job_str.org_pos_str.isna()]
inst = job_str[["CareerStringID","org_pos_str"]]
inst.shape

(6598, 2)

In [89]:
inst = inst[~inst.org_pos_str.isna()]
inst.shape

(3160, 2)

In [90]:
inst = inst[~inst.org_pos_str.str.contains("org1_org2_org3_org4_position")]
inst.shape

(1641, 2)

In [91]:
inst["PrimaryInstitution"] = inst["org_pos_str"].apply(lambda row: row.split("_")[0])

In [92]:
inst[0:5]

   CareerStringID               org_pos_str PrimaryInstitution
46            108   인민군 총참모부_1군단_1사단_NA_사단장           인민군 총참모부
47            109        노동당_중앙위원회_NA_NA_위원                노동당
49            113       최고인민회의_NA_NA_NA_대의원             최고인민회의
50            114  인민군 총참모부_X군단_X사단_X연대_연대장           인민군 총참모부
51            115       최고인민회의_NA_NA_NA_대의원             최고인민회의

In [93]:
job_str = job_str.merge(inst,on="CareerStringID",how="left",suffixes=("","_temp"))

In [94]:
job_str[0:5]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,org_pos_str,NotJob,InsideGov,PrimaryInstitution,org_pos_str_temp,PrimaryInstitution_temp
0,1,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,근로단체부장 해임 * 후임: 리일환,NaN,2014,NaN,근로단체,부장,NaN,NaN,NaN,NaN,NaN,NaN
2,4,노동성 상(유임),NaN,1999,2,노동성,상,NaN,NaN,NaN,NaN,NaN,NaN
3,6,당 정치국 후보위원,NaN,2020,1,당 정치룩,위원,NaN,NaN,NaN,NaN,NaN,NaN
4,7,당 중앙위원회 정치국 위원 (*당 중앙위원회 제7기 제4차 전원회의에서 보선),NaN,2019,4,당 중앙위원회 정치국,위원,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
job_str.loc[~job_str.PrimaryInstitution_temp.isna(),"PrimaryInstitution"] = job_str.loc[~job_str.PrimaryInstitution_temp.isna(),"PrimaryInstitution_temp"]

In [97]:
job_str.loc[~job_str.PrimaryInstitution_temp.isna()][0:5]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,org_pos_str,NotJob,InsideGov,PrimaryInstitution,org_pos_str_temp,PrimaryInstitution_temp
46,108,1948. 2 인민군 제1사단장,NaN,1948,2,인민군 제1사단,사단장,인민군 총참모부_1군단_1사단_NA_사단장,NaN,NaN,인민군 총참모부,인민군 총참모부_1군단_1사단_NA_사단장,인민군 총참모부
47,109,1948. 3 당 중앙위 위원,NaN,1948,3,당 중앙위,위원,노동당_중앙위원회_NA_NA_위원,NaN,NaN,노동당,노동당_중앙위원회_NA_NA_위원,노동당
49,113,1948. 8 최고인민회의 제1기 대의원,NaN,1948,8,최고인민회의 제1기,대의원,최고인민회의_NA_NA_NA_대의원,NaN,NaN,최고인민회의,최고인민회의_NA_NA_NA_대의원,최고인민회의
50,114,1948. 8 인민군 연대장,NaN,1948,8,인민군,연대장,인민군 총참모부_X군단_X사단_X연대_연대장,NaN,NaN,인민군 총참모부,인민군 총참모부_X군단_X사단_X연대_연대장,인민군 총참모부
51,115,1948. 8 최고인민회의 제1기 대의원,NaN,1948,8,최고인민회의 제1기,대의원,최고인민회의_NA_NA_NA_대의원,NaN,NaN,최고인민회의,최고인민회의_NA_NA_NA_대의원,최고인민회의

In [98]:
job_str.drop(labels=[c for c in job_str.columns if "_temp" in c],axis=1,inplace=True)
job_str.shape

In [100]:
job_str[0:2]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,org_pos_str,NotJob,InsideGov,PrimaryInstitution
0,1,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN,NaN,NaN,NaN
1,2,근로단체부장 해임 * 후임: 리일환,NaN,2014,NaN,근로단체,부장,NaN,NaN,NaN,NaN

In [102]:
job_str.PrimaryInstitution.unique()

array([nan, '인민군 총참모부', '노동당', '최고인민회의', '내각', '국방위원회', '중앙인민위원회',
       '중앙검찰소', '최고재판소'], dtype=object)

In [106]:
# InsideGov true if PrimaryInstitution not na
job_str.loc[~job_str.PrimaryInstitution.isna(),"InsideGov"] = True
job_str.loc[~job_str.PrimaryInstitution.isna(),"NotJob"] = False

In [107]:
job_str[~job_str.PrimaryInstitution.isna()][0:5]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,org_pos_str,NotJob,InsideGov,PrimaryInstitution
46,108,1948. 2 인민군 제1사단장,NaN,1948,2,인민군 제1사단,사단장,인민군 총참모부_1군단_1사단_NA_사단장,False,True,인민군 총참모부
47,109,1948. 3 당 중앙위 위원,NaN,1948,3,당 중앙위,위원,노동당_중앙위원회_NA_NA_위원,False,True,노동당
49,113,1948. 8 최고인민회의 제1기 대의원,NaN,1948,8,최고인민회의 제1기,대의원,최고인민회의_NA_NA_NA_대의원,False,True,최고인민회의
50,114,1948. 8 인민군 연대장,NaN,1948,8,인민군,연대장,인민군 총참모부_X군단_X사단_X연대_연대장,False,True,인민군 총참모부
51,115,1948. 8 최고인민회의 제1기 대의원,NaN,1948,8,최고인민회의 제1기,대의원,최고인민회의_NA_NA_NA_대의원,False,True,최고인민회의

In [108]:
# PrimaryInstitution is coded
job_str[~job_str.PrimaryInstitution.isna()].shape

(1641, 11)

In [109]:
# PrimaryInstitution not coded
job_str[job_str.PrimaryInstitution.isna()].shape

(4957, 11)

# output job_db with partially coded orgs

In [114]:
# output job_str as new job_db, with coded orgs
job_str.to_excel(pathout_job_db+fileout_job_db,index=False,encoding="utf-8")

# output job_str merged & unique org & position list

In [ ]:
# query unique org list
org_unique = job_str_merged[["OrgString"]].drop_duplicates()

In [51]:
org_unique.shape

(1995, 1)

In [ ]:
# output unique org list
org_unique.to_excel(pathout_job_db+fileout_job_orglist,index=False,encoding="utf-8")