In [1]:
import pandas as pd
import numpy as np

# combined data - 2 tables

In [2]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [3]:
filename_careers = "careers.xlsx"

In [4]:
filename_leadercareerlink = "leadercareerlink.xlsx"

In [5]:
filename_leaderjoblink = "leaderjoblink.xlsx"

In [6]:
filename_joborglink = "joborglink.xlsx"

# combined data - 1 cleaning/cleaning step 2 - career/

In [7]:
path_cleaning = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/"

In [8]:
subpath_2_1 = "2.1 career_undivided_unparsed_uncoded/"
subpath_2_2 = "2.2 career_divided_unparsed_uncoded/"
subpath_2_3 = "2.3 joborglink/"
subpath_2_4 = "2.4 orgtree/"
subpath_2_5 = "2.5 position/"
subpath_2_6 = "2.6 career_reassembled/"

In [199]:
# careers_preedits
filein_c = "careers_2_1_preedit.xlsx"
c = pd.read_excel(path_cleaning + subpath_2_6 + filein_c,dtype="str")
c.shape

(8993, 13)

In [200]:
# orgtree with edits to PrimaryInstitution,OrgName
filein_ot = "orgtree_4_3_jeongsu_2_x.xlsx"
ot = pd.read_excel(path_cleaning + subpath_2_4 + filein_ot)
ot.shape

(1394, 14)

In [226]:
# jol with edits to Position
filein_jol = "joborglink_1_jeongsoo_complete.xlsx"
jol = pd.read_excel(path_cleaning + subpath_2_5 + filein_jol,dtype="str")
jol.shape

(5013, 15)

# 1. from orgtree, edits to PrimaryInstitution,OrgName

In [202]:
ot.head(2)

,InsideGov,PrimaryInstitution,OrgName,ImmediateSuperiorOrg,SupervisesParent,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Edit_PI,Edit_OrgName,Edit_Link_PI,Edit_Link_OrgName,Edit_Link_Year,Notes
0,0.0,6.15공동선언실천남북공동위원회북측위원회,NaN,NaN,NaN,Please_Revise,Please_Revise,Please_Revise,6.15공동선언실천남북공동위원회북측위원회,NaN,Current,Current,Current,NaN
1,1.0,김일성경호대,NaN,NaN,NaN,호위사령부,호위총국,Please_Revise,Uncertain,Uncertain,Uncertain,Uncertain,Uncertain,NaN

In [203]:
select_columns = ["PrimaryInstitution","OrgName","Edit_PI","Edit_OrgName"]
ot = ot[select_columns]
ot.shape

(1394, 4)

In [204]:
ot = ot[~(ot["PrimaryInstitution"].isna() & ot["OrgName"].isna()) & ~(ot["Edit_PI"].isna() & ot["Edit_OrgName"].isna())]
ot.shape

(414, 4)

In [205]:
ot[ot["PrimaryInstitution"].isna() & ot["OrgName"].isna()]

Empty DataFrame
Columns: [PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [206]:
ot[ot["Edit_PI"].isna() & ot["Edit_OrgName"].isna()]

Empty DataFrame
Columns: [PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [207]:
ot[ot["Edit_OrgName"].isna()]

         PrimaryInstitution  OrgName                 Edit_PI Edit_OrgName
0    6.15공동선언실천남북공동위원회북측위원회      NaN  6.15공동선언실천남북공동위원회북측위원회          NaN
3                       노동당      연락부               Uncertain          NaN
4                    개성방직공장      NaN                  개성방직공장          NaN
5                    공산청년동맹   공산청년동맹                  공산청년동맹          NaN
6                    공산청년동맹      NaN                  공산청년동맹          NaN
..                      ...      ...                     ...          ...
416                     노동당  조선태권도협회                   태권도협회          NaN
417                   태천발전소      NaN                   태천발전소          NaN
418                  평양영화대학      NaN                  평양영화대학          NaN
419                   평양예술단      NaN                   평양예술단          NaN
424                  후방군관학교      NaN                  후방군관학교          NaN

[98 rows x 4 columns]

In [208]:
ot[ot.duplicated()].shape

(0, 4)

In [209]:
c.head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge
0,군 제2사단 제1연대장,1951.01,True,NaN,1951,1,NaN,군 제2사단,연대장,총참모부,작전총국_제x처_제x군단_제2사단,NaN,both
1,1951. 1 인민군 제2사단 제1연대장,NaN,True,NaN,1951,1,NaN,인민군 제2사단 제1연대장,연대장,총참모부,작전총국_제x처_제x군단_제2사단_제1연대,*2사단 없음; 비고: 작전총국_제X처_제Y군단 vs Y군단,both

In [210]:
c.rename(columns={"_merge":"_merge_orgstring"},inplace=True)

In [211]:
select_columns = ["PrimaryInstitution","OrgName"]
c2 = c.merge(ot,on=select_columns,how="left",indicator=True)
c2.shape

(8993, 16)

In [212]:
c2.groupby("_merge").count()

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName
_merge,,,,,,,,,,,,,,,
left_only,7899,4340,7899,1474,6329,5749,1603,5389,5396,3901,2835,82,7899,0,0
right_only,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
both,1094,555,1094,100,1044,920,111,1094,1084,1094,794,33,1094,1094,783

In [213]:
c2[c2["_merge"]=="both"].head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName,_merge
4,"당 중앙위원회 공업부장, 국가계획위원회 위원장",1956.01,True,2,1956,1,당 중앙위원회 공업부장,노동당 중앙인민위원회,공업부장,중앙인민위원회,NaN,NaN,both,중앙인민위원회,NaN,both
22,내각 사무국 부국장,1969.01,True,NaN,1969,1,NaN,내각 사무국,부국장,내각,사무국,NaN,both,내각,내각사무국,both

In [214]:
c2.loc[c2["_merge"]=="both","PrimaryInstitution"] = c2.loc[c2["_merge"]=="both","Edit_PI"]
c2.loc[c2["_merge"]=="both","OrgName"] = c2.loc[c2["_merge"]=="both","Edit_OrgName"]

In [215]:
c2[c2["_merge"]=="both"].head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName,_merge
4,"당 중앙위원회 공업부장, 국가계획위원회 위원장",1956.01,True,2,1956,1,당 중앙위원회 공업부장,노동당 중앙인민위원회,공업부장,중앙인민위원회,NaN,NaN,both,중앙인민위원회,NaN,both
22,내각 사무국 부국장,1969.01,True,NaN,1969,1,NaN,내각 사무국,부국장,내각,내각사무국,NaN,both,내각,내각사무국,both

In [216]:
c2.drop(columns=["Edit_PI","Edit_OrgName","_merge"],inplace=True)

# 2. check CareerStartYear, CareerStartMonth
- write a function to check dates
- check dates in careers and jol tables

In [217]:
# check careers
c2.columns

Index(['CareerString', 'CareerDateString_2022', 'IsJob', 'MultipleSubstrings',
       'CareerStartYear', 'CareerStartMonth', 'CareerSubstring', 'OrgString',
       'PositionString', 'PrimaryInstitution', 'OrgName', 'Notes',
       '_merge_orgstring'],
      dtype='object')

In [218]:
c2[~c2.CareerStartYear.isna() & 
   c2.apply(lambda x: 
            (str(x.CareerStartYear) not in str(x.CareerString))
            & (str(x.CareerStartYear) not in str(x.CareerDateString_2022)),
            axis=1)][["CareerString", "CareerDateString_2022","CareerStartYear"]]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, CareerStartYear]
Index: []

In [219]:
c2[~c2.CareerStartMonth.isna() & 
   c2.apply(lambda x: 
            (str(x.CareerStartMonth) not in str(x.CareerString))
            & (str(x.CareerStartMonth) not in str(x.CareerDateString_2022)),
            axis=1)][["CareerString", "CareerDateString_2022","CareerStartMonth"]]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, CareerStartMonth]
Index: []

In [227]:
# check jol
jol.columns

Index(['CareerStringID', 'CareerString', 'CareerSubstring', 'CareerStartYear',
       'CareerStartMonth', 'OrgString', 'PrimaryInstitution', 'OrgName',
       'Edit_PI', 'Edit_OrgName', 'InOrgTree', 'Position', 'Edit_Position',
       'NotJob', 'Notes'],
      dtype='object')

In [228]:
jol[~jol.CareerStartYear.isna() & 
   jol.apply(lambda x: 
            (str(x.CareerStartYear) not in str(x.CareerString)),
            # & (str(x.CareerStartYear) not in str(x.CareerDateString_2022)),
            # axis=1)][["CareerString", "CareerDateString_2022","CareerStartYear"]]
            axis=1)][["CareerString","CareerStartYear"]]

                            CareerString CareerStartYear
1                           군 제2사단 제1연대장            1951
2              당 중앙위원회 공업부장, 국가계획위원회 위원장            1956
6                         강원도 인민위원회 부위원장            1960
8                                 군 2군단장            1965
10                            내각 사무국 부국장            1969
...                                  ...             ...
4708                          호위사령부 부사령관            2018
4709                               석탄공업상            2019
4710               조국통일민주주의전선 중앙위원회 공동의장            2019
4711  당 중앙검서위원회 위원(*당 제8기 제1차 전원회의에서 선거)            2021
4712                              외무성 과장            1996

[2428 rows x 2 columns]

In [ ]:
# add CareerDateString_2022 to jol

# 3. from jol, edits to PrimaryInstitution,OrgName, Position

In [27]:
jol.head(2)

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PrimaryInstitution,OrgName,Edit_PI,Edit_OrgName,InOrgTree,Position,Edit_Position,NotJob,Notes
0,732.0,1980.12 정무원 교육위 위원장,NaN,1980,12.0,정무원 교육위,정무원,교육위원회,Uncertain,Uncertain,NaN,위원장,NaN,NaN,"정무원 시기 교육담당 부처는 ""교육부"""
1,1179.1,1989. 6 정무원 교육위 위원장 겸 고등교육부 부장,정무원 교육위 위원장,1989,6.0,정무원 교육위,정무원,교육위원회,Uncertain,Uncertain,NaN,위원장,NaN,NaN,"정무원 시기 교육담당 부처는 ""교육부"""

In [58]:
select_columns = ["CareerString","CareerSubstring","CareerStartYear","CareerStartMonth","OrgString","PrimaryInstitution","OrgName","Edit_PI","Edit_OrgName"]
jolpi = jol[select_columns]
jolpi.shape

(5013, 9)

In [59]:
jolpi = jolpi[~(jolpi["PrimaryInstitution"].isna() & jolpi["OrgName"].isna()) & ~(jolpi["Edit_PI"].isna() & jolpi["Edit_OrgName"].isna())]
jolpi.shape

(668, 9)

In [60]:
jolpi[jolpi["PrimaryInstitution"].isna() & jolpi["OrgName"].isna()]

Empty DataFrame
Columns: [CareerString, CareerSubstring, CareerStartYear, CareerStartMonth, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [61]:
jolpi[jolpi["Edit_PI"].isna() & jolpi["Edit_OrgName"].isna()]

Empty DataFrame
Columns: [CareerString, CareerSubstring, CareerStartYear, CareerStartMonth, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [32]:
# jolpi[jolpi["OrgName"].isna()]

In [38]:
# drop duplicates
jolpi.drop_duplicates(keep="first",inplace=True)
jolpi[jolpi.duplicated(keep=False)]

Empty DataFrame
Columns: [CareerString, CareerStartYear, CareerStartMonth, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [39]:
c2[c2.duplicated()]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, IsJob, MultipleSubstrings, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, PositionString, PrimaryInstitution, OrgName, Notes, _merge_orgstring]
Index: []

In [62]:
select_columns = ["CareerString","CareerStartYear","CareerStartMonth","CareerSubstring","OrgString","PrimaryInstitution","OrgName"]
c2[c2.duplicated(select_columns,keep=False)].shape

(167, 13)

In [63]:
c2[c2.duplicated(select_columns,keep=False)].head(5)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring
104,국무위원회 위원,2019.04 ~ 2021.09,True,NaN,2019,4.0,NaN,국무위원회,위원,국무위원회,NaN,NaN,both
106,국무위원회 위원,2019.04,True,NaN,2019,4.0,NaN,국무위원회,위원,국무위원회,NaN,NaN,both
302,국방위원회 위원,2009.04,True,NaN,2009,4.0,NaN,국방위원회,위원,국방위원회,NaN,NaN,both
305,국방위원회 위원,2009.04 ~ 2012.04,True,NaN,2009,4.0,NaN,국방위원회,위원,국방위원회,NaN,NaN,both
1796,내각 부총리,2009.09,True,NaN,2009,9.0,NaN,내각,부총리,내각,NaN,NaN,both

In [64]:
c2.shape

(8993, 13)

In [81]:
select_columns = ["CareerString","OrgString"]
c2[c2.duplicated(select_columns,keep=False)].shape

(2359, 13)

In [82]:
c2[c2.duplicated(select_columns,keep=False)].head(5)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring
9,당 중공업부장,1968,True,NaN,1968,NaN,NaN,당 중공업부,장,Uncertain,Uncertain,NaN,both
10,당 중공업부장,1992.01,True,NaN,1992,1.0,NaN,당 중공업부,장,Uncertain,Uncertain,NaN,both
41,"연도미상 국가보위부 지도원, 부국장",NaN,True,2.0,NaN,NaN,국가보위부 지도원,국가보위부,NaN,국무위원회,국가보위성,NaN,both
42,"연도미상 국가보위부 지도원, 부국장",NaN,True,2.0,NaN,NaN,국가보위부 부국장,국가보위부,NaN,국무위원회,국가보위성,NaN,both
50,국가체육위원회 부위원장,1996.02,True,NaN,1996,2.0,NaN,국가체육위원회,부위원장,국무위원회,국가체육지도위원회,NaN,both

In [85]:
select_columns = ["CareerString","CareerStartYear","CareerStartMonth","OrgString"]
c3 = c2.merge(jolpi,on=select_columns,how="left",indicator=True)
c3.shape

(9004, 19)

In [86]:
c3.groupby("_merge").count()

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring_x,OrgString,PositionString,PrimaryInstitution_x,OrgName_x,Notes,_merge_orgstring,CareerSubstring_y,PrimaryInstitution_y,OrgName_y,Edit_PI,Edit_OrgName
_merge,,,,,,,,,,,,,,,,,,
left_only,8919,4881,8919,1565,7118,6406,1700,6409,6407,4921,3557,114,8919,0,0,0,0,0
right_only,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
both,85,14,85,19,59,36,25,85,84,85,72,1,85,24,85,72,85,84

In [87]:
select_columns = ["CareerString","OrgString"]
c3[c3.duplicated(select_columns,keep=False)].shape

(2371, 19)

In [84]:
c3[c3.duplicated(select_columns,keep=False)].head(3)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear_x,CareerStartMonth_x,CareerSubstring_x,OrgString,PositionString,PrimaryInstitution_x,...,Notes,_merge_orgstring,CareerSubstring_y,CareerStartYear_y,CareerStartMonth_y,PrimaryInstitution_y,OrgName_y,Edit_PI,Edit_OrgName,_merge
9,당 중공업부장,1968,True,NaN,1968,NaN,NaN,당 중공업부,장,Uncertain,...,NaN,both,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,당 중공업부장,1992.01,True,NaN,1992,1.0,NaN,당 중공업부,장,Uncertain,...,NaN,both,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
41,"연도미상 국가보위부 지도원, 부국장",NaN,True,2.0,NaN,NaN,국가보위부 지도원,국가보위부,NaN,국무위원회,...,NaN,both,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [80]:
c3[c3["CareerString"]=="1989. 6 정무원 교육위 위원장 겸 고등교육부 부장"]

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear_x,CareerStartMonth_x,CareerSubstring_x,OrgString,PositionString,PrimaryInstitution_x,...,Notes,_merge_orgstring,CareerSubstring_y,CareerStartYear_y,CareerStartMonth_y,PrimaryInstitution_y,OrgName_y,Edit_PI,Edit_OrgName,_merge
563,1989. 6 정무원 교육위 위원장 겸 고등교육부 부장,NaN,True,2.0,1989,6.0,정무원 고등교육부 부장,고등교육부,부장,내각,...,NaN,both,고등교육부 부장,1989,6.0,내각,교육위원회_고등교육부,정무원,고등교육부,both
3429,1989. 6 정무원 교육위 위원장 겸 고등교육부 부장,NaN,True,2.0,1989,6.0,정무원 교육위 위원장,정무원 교육위,위원장,정무원,...,NaN,both,정무원 교육위 위원장,1989,6.0,정무원,교육위원회,Uncertain,Uncertain,both

In [84]:
9001 - 8516

485

In [108]:
c3[c3["PrimaryInstitution"]=="Uncertain"].head(10)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear_x,CareerStartMonth_x,CareerSubstring,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge_orgstring,CareerStartYear_y,CareerStartMonth_y,Edit_PI,Edit_OrgName,_merge
6079,"당 정치국 후보위원, 당 중앙군사위원회 위원, 당 기계공업부장, 당 중앙위원회 위원",2010.09,1.0,4.0,2010,9.0,당 기계공업부장,당 기계공업부,부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6080,1983. 8 당 기계공업부 부부장,NaN,1.0,NaN,1983,8.0,NaN,당 기계공업부,부부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6081,당 기계공업부 부부장,1983.08,1.0,NaN,1983,8.0,NaN,당 기계공업부,부부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6197,1953. 김일성 경호대장,NaN,1.0,NaN,1953,NaN,NaN,김일성 경호대,경호대장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6418,1962. 당 중공업부 부부장,NaN,1.0,NaN,NaN,NaN,NaN,당 중공업부,부부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6419,1968. 당 중공업부 부장,NaN,1.0,NaN,1968,NaN,NaN,당 중공업부,부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6420,당 중공업부 부부장,1962,1.0,NaN,1962,NaN,NaN,당 중공업부,부부장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6421,당 중공업부장,1968,1.0,NaN,1968,NaN,NaN,당 중공업부,장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
6422,당 중공업부장,1992.01,1.0,NaN,1992,1.0,NaN,당 중공업부,장,Uncertain,Uncertain,NaN,both,NaN,NaN,NaN,NaN,left_only
7419,1988.10 당 중앙위 중공업부 부장,NaN,1.0,NaN,1988,10.0,NaN,노동당 중앙인민위원회 중공업부 제1부,부장,Uncertain,Uncertain,1부 Not found; 비고: 중앙인민위원회 is a PrimaryInstitut...,both,NaN,NaN,NaN,NaN,left_only

In [76]:
c3[~c3["Edit_PI"].isna()].head(10)

KeyError: 'Edit_PI'

# 3. from jol, edits to Position

In [71]:
jol.head(1)

,CareerString,PrimaryInstitution,OrgName,Edit_PI,Edit_OrgName,Position,Edit_Position
0,노동성 상(유임),내각,노동성,NaN,NaN,상,NaN

In [67]:
select_columns = ["CareerString","Position","Edit_Position"]
jolpos = jol[select_columns]
jolpos.shape

(5013, 3)

In [69]:
jolpos = jolpos[~jolpos["Edit_Position"].isna()]
jolpos.shape

(68, 3)

In [70]:
jolpos[jolpos["Edit_Position"].isna()]

Empty DataFrame
Columns: [CareerString, Position, Edit_Position]
Index: []