In [1]:
import pandas as pd
import numpy as np

# path to nkelites/data/combined data/combined data - 2 tables

In [101]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [102]:
filename_joborglink = "joborglink.xlsx"

In [103]:
filename_leaderjoblink = "leaderjoblink.xlsx"

# joborglink paths & filenames

In [2]:
path_joborglink = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/2.3 joborglink/"

In [3]:
filein_jol_7 = "joborglink_7_2.xlsx"

In [4]:
jol7 = pd.read_excel(path_joborglink+filein_jol_7)

In [5]:
jol7.columns

Index(['OrgString', 'PrimaryInstitution', 'OrgName', 'Notes'], dtype='object')

In [6]:
jol7[jol7.duplicated("OrgString",keep=False)].shape

(0, 4)

In [7]:
filein_jol_4 = "joborglink_4.xlsx"

In [8]:
jol4 = pd.read_excel(path_joborglink+filein_jol_4)

In [9]:
jol4.columns

Index(['CareerStringID', 'CareerString', 'CareerSubstring', 'CareerStartYear',
       'CareerStartMonth', 'OrgString', 'PositionString', 'org_pos_str',
       'NotJob', 'InsideGov', 'PrimaryInstitution'],
      dtype='object')

In [10]:
columns_jol4 = ['CareerStringID', 'CareerString', 'CareerSubstring', 'CareerStartYear',
       'CareerStartMonth', 'OrgString', 'PositionString']

In [11]:
jol4 = jol4[columns_jol4]

In [12]:
jol4[jol4.duplicated("OrgString",keep=False)].shape

(5247, 7)

In [13]:
filein_jol413 = "joborglink_4_1tocode_3_Jeongsu.xlsx"

In [14]:
jol413 = pd.read_excel(path_joborglink+filein_jol413)

# merge jol7 and jol4 on OrgString

In [15]:
jolmerge = jol4.merge(jol7,how="outer",on="OrgString",indicator=True,suffixes=["_4","_7"])

In [16]:
jol4.shape

(6598, 7)

In [17]:
jolmerge.shape

(6604, 11)

In [18]:
jolmerge[jolmerge["_merge"]=="both"].shape

(5014, 11)

In [19]:
jolmerge[jolmerge["_merge"]=="left_only"].shape

(1584, 11)

In [20]:
jolmerge[jolmerge["_merge"]=="right_only"].shape

(6, 11)

In [21]:
# check out OrgString only in jol7

In [22]:
jolmerge[jolmerge["_merge"]=="right_only"]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge
6598,NaN,NaN,NaN,NaN,NaN,문화선전성 문화예술국,NaN,내각,문화선전성_문화예술국,NaN,right_only
6599,NaN,NaN,NaN,NaN,NaN,반항공군사령부,NaN,총참모부,작전총국_제6처,인민군 총참모부 산하; 비고: 작전총국_제X처_제Y군단 vs Y군단,right_only
6600,NaN,NaN,NaN,NaN,NaN,법안심의위,NaN,최고인민회의,법안심의위원회,NaN,right_only
6601,NaN,NaN,NaN,NaN,NaN,인민무력부 호위사령부,NaN,국방위원회,호위사령부,NaN,right_only
6602,NaN,NaN,NaN,NaN,NaN,중앙방송위원회 텔레비전총국,NaN,내각,문화성_조선중앙방송위원회_텔레비전총국,NaN,right_only
6603,NaN,NaN,NaN,NaN,NaN,중화군 당 위원회,NaN,노동당,당중앙위원회_황해북도당위원회_중화군당위원회,NaN,right_only

# troubleshoot OrgString only in jol4

In [23]:
jolmerge[jolmerge["_merge"]=="left_only"]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,PrimaryInstitution,OrgName,Notes,_merge
0,1.0,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,2013,9.0,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN,NaN,NaN,left_only
1,2.0,근로단체부장 해임 * 후임: 리일환,NaN,2014,NaN,근로단체,부장,NaN,NaN,NaN,left_only
12,16.0,제4·5·6·7차 남북장성급 군사회담 북측대표,NaN,2006,5.0,제4·5·6·7차 남북장성급 군사회담,북측대표,NaN,NaN,NaN,left_only
13,19.0,최고인민회의 제13기 대의원,NaN,2014,3.0,최고인민회의 제13기,대의원,NaN,NaN,NaN,left_only
14,20.0,최고인민회의 제14기 대의원,NaN,2019,NaN,최고인민회의 제14기,대의원,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...
6587,8022.0,훈련소 졸업후 원산기지 해군함정 부중대장 임관,NaN,1948,NaN,훈련소 졸업후 원산기지 해군함정,부중대장,NaN,NaN,NaN,left_only
6588,8024.0,흥남가스화건설장 함경남도지구계획위원회 위원장,NaN,NaN,NaN,흥남가스화건설장 함경남도지구계획위원회,위원장,NaN,NaN,NaN,left_only
6591,8038.0,｢근로자｣사 부주필,NaN,1972,4.0,｢근로자｣사,부주필,NaN,NaN,NaN,left_only
6592,8039.0,｢근로자｣사 책임주필,NaN,1974,12.0,｢근로자｣사,책임주필,NaN,NaN,NaN,left_only
6594,8041.0,｢민주조선｣ 책임주필,NaN,1986,3.0,｢민주조선｣,책임주필,NaN,NaN,NaN,left_only

### Check that jol4_only are all NotFound - merge jol7, jol4 and joborglink_4_1tocode_3_Jeongsu on OrgString

In [24]:
jolmerge.rename(columns={"_merge":"_merge47"},inplace=True)

In [25]:
jolmerge.columns

Index(['CareerStringID', 'CareerString', 'CareerSubstring', 'CareerStartYear',
       'CareerStartMonth', 'OrgString', 'PositionString', 'PrimaryInstitution',
       'OrgName', 'Notes', '_merge47'],
      dtype='object')

In [26]:
jolmerge413 = jolmerge.merge(jol413,how="left",on="OrgString",suffixes=["","_413"],indicator=True)

In [27]:
jolmerge413[jolmerge413["_merge47"]=="both"].shape

(219290, 16)

In [28]:
jolmerge413[jolmerge413["_merge47"]=="left_only"].shape

(5735, 16)

In [29]:
# the same 6-7 in jol7 which don't match jol4
jolmerge413[jolmerge413["_merge47"]=="right_only"].shape

(7, 16)

In [30]:
jolmerge413[jolmerge413["_merge47"]=="both"].shape

(219290, 16)

In [31]:
jolmerge.shape

(6604, 11)

In [32]:
jol4[~jol4["OrgString"].isna()].shape

(6505, 7)

In [33]:
# seems like at least half of these are not found
jolmerge413.loc[jolmerge413["_merge47"]=="both",["OrgString","Notes_413"]].groupby("Notes_413").count()

                   OrgString
Notes_413
1부 Not found             754
1집단군사령부                    4
2부 Not found               2
2집단군사령부                    1
413연구소 Not found           1
...                      ...
해운총국 Not found             2
행정경제위원회 산하                 3
행정부 Not found              1
행정조직국 Not found            2
화력발전관리국 Not found          2

[147 rows x 1 columns]

In [34]:
# At least half of the unmatched OrgString in jol4 are due to Not Found

# Good enough. I am moving on with the merge

### clean up jol47

### export to nkelites/data/combined data - 2 tables as joborglink

In [35]:
jolmerge.columns

Index(['CareerStringID', 'CareerString', 'CareerSubstring', 'CareerStartYear',
       'CareerStartMonth', 'OrgString', 'PositionString', 'PrimaryInstitution',
       'OrgName', 'Notes', '_merge47'],
      dtype='object')

In [36]:
jolmerge[jolmerge["_merge47"]=="both"].shape

(5014, 11)

In [37]:
# select the matching records in jol4 & jol7
jol47 = jolmerge[jolmerge["_merge47"]=="both"]

In [38]:
# drop the merge column
jol47 = jol47.drop(columns=["_merge47"])

In [39]:
jol47.columns

Index(['CareerStringID', 'CareerString', 'CareerSubstring', 'CareerStartYear',
       'CareerStartMonth', 'OrgString', 'PositionString', 'PrimaryInstitution',
       'OrgName', 'Notes'],
      dtype='object')

In [40]:
jol47

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString,PrimaryInstitution,OrgName,Notes
2,4.0,노동성 상(유임),NaN,1999,2.0,노동성,상,내각,노동성,NaN
3,1875.0,1998. 9 노동상,NaN,1998,9.0,노동성,상,내각,노동성,NaN
4,2349.2,"2003. 9 최고인민회의 제11기 대의원, 노동상(유임)",노동상,2003,9.0,노동성,상,내각,노동성,NaN
5,2916.2,"2009. 4 최고인민회의 제12기 대의원, 노동상(유임)",노동상,2009,4.0,노동성,상,내각,노동성,NaN
6,4564.0,노동성 상 *후임 : 강영수,NaN,1997,11.0,노동성,상,내각,노동성,NaN
...,...,...,...,...,...,...,...,...,...,...
6590,8028.0,희천정밀기계공장 지배인,NaN,1976,NaN,희천정밀기계공장,지배인,희천정밀기계공장,NaN,NaN
6593,8040.0,｢민족화해협의회｣ 부회장,NaN,1999,10.0,｢민족화해협의회｣,부회장,민족화해협의회,NaN,NaN
6595,8042.0,｢아시아태평양평화위원회｣ 참사,NaN,1999,11.0,｢아시아태평양평화위원회｣,참사,조선아시아태평양평화위원회,NaN,NaN
6596,8043.0,｢조국전선｣ 중앙위원회 공동의장,NaN,1991,8.0,｢조국전선｣ 중앙위원회,공동즤아,조국통일민주주의전선,중앙위원회,NaN
6597,8044.0,｢조국통일범민족연합｣ 북측 본부 부의장,NaN,1999,8.0,｢조국통일범민족연합｣ 북측 본부,부의장,조국통일범민족연합북측본부,NaN,NaN

### export to tables

In [104]:
# export jol47 as joborglink table
jol47.to_excel(path_tables+filename_joborglink,index=False)

# create leaderjoblink - merge uncoded career with coded OrgString & dates

In [77]:
# folder: 2.1 career_undivided_unparsed_uncoded
    # file: career_link_undivided_unparsed_uncoded.xlsx
        # note, many of these will not be jobs, e.g., award, death, marriage, education, funeral, visit

In [ ]:
# single substring

    # joborglink_2_substr_single_1tocode_4Mail_Lee

# multiple substring

    # joborglink_2_substr_multi2_1tocode_Mail_Lee

### paths & filenames of uncoded career with coded OrgString & dates

In [46]:
path_career = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/2.1 career_undivided_unparsed_uncoded/"

In [47]:
filein_career = "career_link_undivided_unparsed_uncoded.xlsx"

In [48]:
career = pd.read_excel(path_career+filein_career)

In [49]:
career.columns

Index(['LeaderID', 'CareerStringID_2015', 'CareerString',
       'CareerDateString_2022'],
      dtype='object')

In [50]:
career

,LeaderID,CareerStringID_2015,CareerString,CareerDateString_2022
0,장성택,1.0,1969. 모스크바 유학,NaN
1,장성택,2.0,1972. 김경희와 결혼,NaN
2,장성택,3.0,1982.10 당 청소년사업부 부부장,NaN
3,장성택,4.0,1985. 7 당 청소년사업부 제1부부장,NaN
4,장성택,5.0,1986.11 최고인민회의 제8기 대의원,NaN
...,...,...,...,...
12980,황학원,NaN,조선태권도협회 위원장,2009.09
12981,황학원,NaN,최고인민회의 제 12기 대의원,2009.04
12982,황학원,NaN,도시경영성 상(유임),2009.04
12983,황학원,NaN,도시경영성 상 *전임 : 최종건 *후임 : 강영수,2008 ~ 2013.04
12984,황학원,NaN,조선건축가동맹 중앙위원회 부위원장,2005.12

In [58]:
career_str_date = career[["CareerString","CareerDateString_2022"]].drop_duplicates()
career_str_date.shape

In [62]:
career_str_date.sort_values(["CareerString","CareerDateString_2022"],inplace=True)

In [63]:
career_str_date[career_str_date.duplicated("CareerString",keep=False)]

            CareerString CareerDateString_2022
11035  &lt;김일성 훈장&gt; 수훈               1987.04
5717   &lt;김일성 훈장&gt; 수훈               1992.04
8403   &lt;김일성 훈장&gt; 수훈               2002.03
7111   &lt;김일성 훈장&gt; 수훈               2002.04
9212   &lt;김일성 훈장&gt; 수훈               2003.04
...                  ...                   ...
11121          화학공업상(유임)               2019.04
6192      황해남도 인민위원회 위원장               1999.06
10899     황해남도 인민위원회 위원장     2006.06 ~ 2012.03
6739       황해제철연합기업소 지배인               1987.11
6738       황해제철연합기업소 지배인               2000.07

[1411 rows x 2 columns]

In [67]:
path_coded = path_joborglink

In [68]:
filein_singlesub = "joborglink_2_substr_single_1tocode_4Mail_Lee.xlsx"

In [69]:
filein_multiplesub = "joborglink_2_substr_multi2_1tocode_Mail_Lee.xlsx"

In [71]:
singlesub = pd.read_excel(path_coded+filein_singlesub)

In [72]:
multiplesub = pd.read_excel(path_coded+filein_multiplesub)

In [73]:
singlesub.columns

Index(['CareerStringID', 'MultipleSubstrings', 'NotJob', 'CareerString',
       'CareerDateString_2022', 'CareerStartYear', 'CareerStartMonth',
       'OrgString', 'PositionString'],
      dtype='object')

In [74]:
multiplesub.columns

Index(['CareerStringID', 'CareerDateString_2022', 'MultipleSubstrings',
       'CareerString', 'CareerStartYear', 'CareerStartMonth',
       'CareerSubstring', 'OrgString', 'PositionString', 'Notes', 'NotJob'],
      dtype='object')

In [92]:
columns_common = ['CareerString','CareerDateString_2022', 'CareerStartYear', 'CareerStartMonth','MultipleSubstrings','OrgString', 'PositionString']

In [93]:
singlesub = singlesub[columns_common]
multiplesub = multiplesub[columns_common]
singlesub.shape[0] + multiplesub.shape[0]

7653

In [94]:
sub = pd.concat([singlesub,multiplesub])
sub.shape[0]

7653

In [95]:
career.columns

Index(['LeaderID', 'CareerString', 'CareerDateString_2022'], dtype='object')

In [96]:
columns_career = ['LeaderID', 'CareerString','CareerDateString_2022']
career = career[columns_career]

In [97]:
leaderjoblink = career.merge(sub,how="inner",on=["CareerString","CareerDateString_2022"])

In [98]:
leaderjoblink.shape

(11632, 8)

In [99]:
leaderjoblink

,LeaderID,CareerString,CareerDateString_2022,CareerStartYear,CareerStartMonth,MultipleSubstrings,OrgString,PositionString
0,장성택,1982.10 당 청소년사업부 부부장,NaN,1982,10.0,NaN,당 청소년사업부,부부장
1,장성택,1985. 7 당 청소년사업부 제1부부장,NaN,1985,7.0,NaN,당 청소년사업부 제1부,부장
2,장성택,1986.11 최고인민회의 제8기 대의원,NaN,1986,11.0,NaN,최고인민회의 제8기,대의원
3,김철만,1986.11 최고인민회의 제8기 대의원,NaN,1986,11.0,NaN,최고인민회의 제8기,대의원
4,김영남,1986.11 최고인민회의 제8기 대의원,NaN,1986,11.0,NaN,최고인민회의 제8기,대의원
...,...,...,...,...,...,...,...,...
11627,황학원,도시경영상에서 해임 * 후임: 강영수,2013.04,2013,4.0,NaN,도시경영,상
11628,황학원,조선태권도협회 위원장,2009.09,2009,9.0,NaN,조선태권도협회,위원장
11629,황학원,도시경영성 상(유임),2009.04,2009,4.0,NaN,도시경여성,상
11630,황학원,도시경영성 상 *전임 : 최종건 *후임 : 강영수,2008 ~ 2013.04,2008,NaN,NaN,도시경영성,상
11631,황학원,조선건축가동맹 중앙위원회 부위원장,2005.12,2005,12.0,NaN,조선건축가동맹 중앙위원회,부위원장

### export to tables

In [105]:
# export leaderjoblink as leaderjoblink table
leaderjoblink.to_excel(path_tables+filename_leaderjoblink,index=False)