In [71]:
import pandas as pd
import numpy as np

# combined data - 2 tables

In [72]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [73]:
filename_careers = "careers.xlsx"

In [74]:
filename_leadercareerlink = "leadercareerlink.xlsx"

In [75]:
filename_leaderjoblink = "leaderjoblink.xlsx"

In [76]:
filename_joborglink = "joborglink.xlsx"

# 0. from jol.NotJob, manually update career.IsJob
- check jol.NotJob
- search career for "해임", "졸업", "학교", ...

In [77]:
# check_string = "해임"
# check_string = "졸업"
# check_string = "학교"
# check_string = "결혼"
# check_string = "이양"
# check_string = "사망"

In [78]:
# pd.set_option('display.max_rows', None)

In [79]:
# c[(c["IsJob"]=="True") & (c.apply(lambda x: check_string in x.CareerString,axis=1))]

# combined data - 1 cleaning/cleaning step 2 - career/

In [80]:
path_cleaning = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/"

In [81]:
subpath_2_1 = "2.1 career_undivided_unparsed_uncoded/"
subpath_2_2 = "2.2 career_divided_unparsed_uncoded/"
subpath_2_3 = "2.3 joborglink/"
subpath_2_4 = "2.4 orgtree/"
subpath_2_5 = "2.5 position/"
subpath_2_6 = "2.6 career_reassembled/"

In [82]:
# careers_preedits
filein_c = "careers_2_1_preedit.xlsx"
c = pd.read_excel(path_cleaning + subpath_2_6 + filein_c,dtype="str")
c.shape

(8992, 13)

In [83]:
# orgtree with edits to PrimaryInstitution,OrgName
filein_ot = "orgtree_4_3_jeongsu_2_x.xlsx"
ot = pd.read_excel(path_cleaning + subpath_2_4 + filein_ot)
ot.shape

(1394, 14)

In [84]:
# jol with edits to Position
filein_jol = "joborglink_1_jeongsoo_complete.xlsx"
jol = pd.read_excel(path_cleaning + subpath_2_5 + filein_jol,dtype="str")
jol.shape

(5010, 16)

# 1. from orgtree, edits to PrimaryInstitution,OrgName

In [85]:
ot.head(2)

,InsideGov,PrimaryInstitution,OrgName,ImmediateSuperiorOrg,SupervisesParent,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Edit_PI,Edit_OrgName,Edit_Link_PI,Edit_Link_OrgName,Edit_Link_Year,Notes
0,0.0,6.15공동선언실천남북공동위원회북측위원회,NaN,NaN,NaN,Please_Revise,Please_Revise,Please_Revise,6.15공동선언실천남북공동위원회북측위원회,NaN,Current,Current,Current,NaN
1,1.0,김일성경호대,NaN,NaN,NaN,호위사령부,호위총국,Please_Revise,Uncertain,Uncertain,Uncertain,Uncertain,Uncertain,NaN

In [86]:
select_columns = ["PrimaryInstitution","OrgName","Edit_PI","Edit_OrgName"]
ot = ot[select_columns]
ot.shape

(1394, 4)

In [87]:
ot = ot[~(ot["PrimaryInstitution"].isna() & ot["OrgName"].isna()) & ~(ot["Edit_PI"].isna() & ot["Edit_OrgName"].isna())]
ot.shape

(414, 4)

In [88]:
ot[ot["PrimaryInstitution"].isna() & ot["OrgName"].isna()]

Empty DataFrame
Columns: [PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [89]:
ot[ot["Edit_PI"].isna() & ot["Edit_OrgName"].isna()]

Empty DataFrame
Columns: [PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [90]:
ot[ot["Edit_OrgName"].isna()]

         PrimaryInstitution  OrgName                 Edit_PI Edit_OrgName
0    6.15공동선언실천남북공동위원회북측위원회      NaN  6.15공동선언실천남북공동위원회북측위원회          NaN
3                       노동당      연락부               Uncertain          NaN
4                    개성방직공장      NaN                  개성방직공장          NaN
5                    공산청년동맹   공산청년동맹                  공산청년동맹          NaN
6                    공산청년동맹      NaN                  공산청년동맹          NaN
..                      ...      ...                     ...          ...
416                     노동당  조선태권도협회                   태권도협회          NaN
417                   태천발전소      NaN                   태천발전소          NaN
418                  평양영화대학      NaN                  평양영화대학          NaN
419                   평양예술단      NaN                   평양예술단          NaN
424                  후방군관학교      NaN                  후방군관학교          NaN

[98 rows x 4 columns]

In [91]:
ot[ot.duplicated()].shape

(0, 4)

In [92]:
c.head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge
0,군 제2사단 제1연대장,1951.01,True,NaN,1951,1,NaN,군 제2사단,연대장,총참모부,작전총국_제x처_제x군단_제2사단,NaN,both
1,1951. 1 인민군 제2사단 제1연대장,NaN,True,NaN,1951,1,NaN,인민군 제2사단 제1연대장,연대장,총참모부,작전총국_제x처_제x군단_제2사단_제1연대,*2사단 없음; 비고: 작전총국_제X처_제Y군단 vs Y군단,both

In [93]:
c.rename(columns={"_merge":"_merge_orgstring"},inplace=True)

In [94]:
select_columns = ["PrimaryInstitution","OrgName"]
c2 = c.merge(ot,on=select_columns,how="left",indicator=True)
c2.shape

(8992, 16)

In [95]:
c2.groupby("_merge").count()

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName
_merge,,,,,,,,,,,,,,,
left_only,7897,4339,7897,1473,6327,5747,1607,5388,5395,3899,2833,82,7897,0,0
right_only,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
both,1095,556,1095,100,1045,921,112,1095,1085,1095,795,33,1095,1095,784

In [96]:
c2[c2["_merge"]=="both"].head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName,_merge
4,"당 중앙위원회 공업부장, 국가계획위원회 위원장",1956.01,True,2,1956,1,당 중앙위원회 공업부장,노동당 중앙인민위원회,공업부장,중앙인민위원회,NaN,NaN,both,중앙인민위원회,NaN,both
22,내각 사무국 부국장,1969.01,True,NaN,1969,1,NaN,내각 사무국,부국장,내각,사무국,NaN,both,내각,내각사무국,both

In [97]:
c2.loc[c2["_merge"]=="both","PrimaryInstitution"] = c2.loc[c2["_merge"]=="both","Edit_PI"]
c2.loc[c2["_merge"]=="both","OrgName"] = c2.loc[c2["_merge"]=="both","Edit_OrgName"]

In [98]:
c2[c2["_merge"]=="both"].head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_PI,Edit_OrgName,_merge
4,"당 중앙위원회 공업부장, 국가계획위원회 위원장",1956.01,True,2,1956,1,당 중앙위원회 공업부장,노동당 중앙인민위원회,공업부장,중앙인민위원회,NaN,NaN,both,중앙인민위원회,NaN,both
22,내각 사무국 부국장,1969.01,True,NaN,1969,1,NaN,내각 사무국,부국장,내각,내각사무국,NaN,both,내각,내각사무국,both

In [99]:
c2.drop(columns=["Edit_PI","Edit_OrgName","_merge"],inplace=True)

# 2. check CareerStartYear, CareerStartMonth
- write a function to check dates
- check dates in careers and jol tables

In [100]:
# check careers
c2.columns

Index(['CareerString', 'CareerDateString_2022', 'IsJob', 'MultipleSubstrings',
       'CareerStartYear', 'CareerStartMonth', 'CareerSubstring', 'OrgString',
       'Position', 'PrimaryInstitution', 'OrgName', 'Notes',
       '_merge_orgstring'],
      dtype='object')

In [101]:
c2[~c2.CareerStartYear.isna() & 
   c2.apply(lambda x: 
            (str(x.CareerStartYear) not in str(x.CareerString))
            & (str(x.CareerStartYear) not in str(x.CareerDateString_2022)),
            axis=1)][["CareerString", "CareerDateString_2022","CareerStartYear"]]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, CareerStartYear]
Index: []

In [102]:
c2[~c2.CareerStartMonth.isna() & 
   c2.apply(lambda x: 
            (str(x.CareerStartMonth) not in str(x.CareerString))
            & (str(x.CareerStartMonth) not in str(x.CareerDateString_2022)),
            axis=1)][["CareerString", "CareerDateString_2022","CareerStartMonth"]]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, CareerStartMonth]
Index: []

In [103]:
# check jol
jol.columns

Index(['CareerStringID', 'CareerString', 'CareerSubstring', 'CareerStartYear',
       'CareerStartMonth', 'OrgString', 'PrimaryInstitution', 'OrgName',
       'Edit_PI', 'Edit_OrgName', 'InOrgTree', 'Position', 'Edit_Position',
       'NotJob', 'Notes', 'Unnamed: 15'],
      dtype='object')

In [104]:
jol[~jol.CareerStartYear.isna() & 
   jol.apply(lambda x: 
            (str(x.CareerStartYear) not in str(x.CareerString)),
            # & (str(x.CareerStartYear) not in str(x.CareerDateString_2022)),
            # axis=1)][["CareerString", "CareerDateString_2022","CareerStartYear"]]
            axis=1)][["CareerString","CareerStartYear"]]

                            CareerString CareerStartYear
1                    국방위원회 위원장직 김정일에게 이양            1993
2            국가품질감독위원회 위원장(해임) *후임 : 리철진            2011
6                   도시경영상에서 해임 * 후임: 강영수            2013
7       최고인민회의 제13기 1차 회의에서 국방위 부위원장 미선출            2014
12                         사회안전부 정치국장 해임            1995
...                                  ...             ...
4713                          호위사령부 부사령관            2018
4714                               석탄공업상            2019
4715               조국통일민주주의전선 중앙위원회 공동의장            2019
4716  당 중앙검서위원회 위원(*당 제8기 제1차 전원회의에서 선거)            2021
4717                              외무성 과장            1996

[2425 rows x 2 columns]

In [105]:
# add CareerDateString_2022 to jol

# 3. from jol, edits to PrimaryInstitution,OrgName

In [106]:
jol.head(2)

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PrimaryInstitution,OrgName,Edit_PI,Edit_OrgName,InOrgTree,Position,Edit_Position,NotJob,Notes,Unnamed: 15
0,828.1,"1983. 3 당 정치국 위원 해임, 당 중앙위 부장",당 정치국 위원 해임,1983,3,당 정치국,노동당,당중앙위원회_정치국,NaN,NaN,NaN,위원,NaN,True,해임,x
1,3867,국방위원회 위원장직 김정일에게 이양,NaN,1993,4,국방위원회,국방위원회,NaN,NaN,NaN,NaN,위원장,NaN,True,NaN,x

In [107]:
select_columns = ["CareerString","CareerSubstring","CareerStartYear","CareerStartMonth","OrgString","PrimaryInstitution","OrgName","Edit_PI","Edit_OrgName"]
jolpi = jol[select_columns]
jolpi.shape

(5010, 9)

In [108]:
jolpi = jolpi[~(jolpi["PrimaryInstitution"].isna() & jolpi["OrgName"].isna()) & ~(jolpi["Edit_PI"].isna() & jolpi["Edit_OrgName"].isna())]
jolpi.shape

(665, 9)

In [109]:
jolpi[jolpi["PrimaryInstitution"].isna() & jolpi["OrgName"].isna()]

Empty DataFrame
Columns: [CareerString, CareerSubstring, CareerStartYear, CareerStartMonth, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [110]:
jolpi[jolpi["Edit_PI"].isna() & jolpi["Edit_OrgName"].isna()]

Empty DataFrame
Columns: [CareerString, CareerSubstring, CareerStartYear, CareerStartMonth, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [111]:
# jolpi[jolpi["OrgName"].isna()]

In [112]:
# drop duplicates
jolpi.drop_duplicates(keep="first",inplace=True)
jolpi[jolpi.duplicated(keep=False)]

Empty DataFrame
Columns: [CareerString, CareerSubstring, CareerStartYear, CareerStartMonth, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName]
Index: []

In [113]:
c2[c2.duplicated()]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, IsJob, MultipleSubstrings, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, Position, PrimaryInstitution, OrgName, Notes, _merge_orgstring]
Index: []

In [115]:
select_columns = ["CareerString","CareerDateString_2022","CareerStartYear","CareerStartMonth","CareerSubstring","OrgString","Position","PrimaryInstitution","OrgName"]
c2[c2.duplicated(select_columns,keep=False)].shape

(0, 13)

In [116]:
# duplicates are the result of different CareerDateString_2022
select_columns = ["CareerString","CareerStartYear","CareerStartMonth","CareerSubstring","OrgString","Position","PrimaryInstitution","OrgName"]
c2[c2.duplicated(select_columns,keep=False)].shape

(138, 13)

In [117]:
c2.shape

(8992, 13)

In [118]:
select_columns = ["CareerString","CareerStartYear","CareerStartMonth","CareerSubstring","OrgString"]
c3 = c2.merge(jolpi,on=select_columns,how="left",indicator=True,suffixes=("","_y"))
c3.shape

(8992, 18)

In [119]:
c3.groupby("_merge").count()

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge_orgstring,PrimaryInstitution_y,OrgName_y,Edit_PI,Edit_OrgName
_merge,,,,,,,,,,,,,,,,,
left_only,8354,4556,8354,1539,6758,6135,1677,5845,5846,4356,3117,101,8354,0,0,0,0
right_only,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
both,638,339,638,34,614,533,42,638,634,638,500,14,638,638,500,638,634

In [120]:
select_columns = ["CareerString","CareerDateString_2022","CareerStartYear","CareerStartMonth","CareerSubstring","OrgString"]
c3[c3["IsJob"].isin(["True"]) & c3.duplicated(select_columns,keep=False)].shape

(0, 18)

In [121]:
# duplicates are due to CareerDateString_2022
select_columns = ["CareerString","CareerStartYear","CareerStartMonth","CareerSubstring","OrgString"]
c3[c3["IsJob"].isin(["True"]) & c3.duplicated(select_columns,keep=False)].shape

(14, 18)

In [122]:
c3[c3["_merge"]=="both"].head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge_orgstring,PrimaryInstitution_y,OrgName_y,Edit_PI,Edit_OrgName,_merge
22,내각 사무국 부국장,1969.01,True,NaN,1969,1,NaN,내각 사무국,부국장,내각,내각사무국,NaN,both,내각,사무국,내각,내각사무국,both
23,1969. 1 내각 사무국 부국장,NaN,True,NaN,1969,1,NaN,내각 사무국,부국장,내각,내각사무국,NaN,both,내각,사무국,내각,내각사무국,both

In [123]:
c3.loc[c3["_merge"]=="both","PrimaryInstitution"] = c3.loc[c3["_merge"]=="both","Edit_PI"]
c3.loc[c3["_merge"]=="both","OrgName"] = c3.loc[c3["_merge"]=="both","Edit_OrgName"]

In [124]:
c3[c3["_merge"]=="both"].head(4)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge_orgstring,PrimaryInstitution_y,OrgName_y,Edit_PI,Edit_OrgName,_merge
22,내각 사무국 부국장,1969.01,True,NaN,1969,1,NaN,내각 사무국,부국장,내각,내각사무국,NaN,both,내각,사무국,내각,내각사무국,both
23,1969. 1 내각 사무국 부국장,NaN,True,NaN,1969,1,NaN,내각 사무국,부국장,내각,내각사무국,NaN,both,내각,사무국,내각,내각사무국,both
31,인민무력부 대외사업국 지도원,1975.01,True,NaN,1975,1,NaN,인민무력부 대외사업국,지도원,정무원,인민무력부A_대외사업국,NaN,both,국방위원회,인민무력부_대외사업국,정무원,인민무력부A_대외사업국,both
33,1975. 1 인민무력부 대외사업국 지도원,NaN,True,NaN,1975,1,NaN,인민무력부 대외사업국,지도원,정무원,인민무력부A_대외사업국,NaN,both,국방위원회,인민무력부_대외사업국,정무원,인민무력부A_대외사업국,both

In [125]:
c.columns

Index(['CareerString', 'CareerDateString_2022', 'IsJob', 'MultipleSubstrings',
       'CareerStartYear', 'CareerStartMonth', 'CareerSubstring', 'OrgString',
       'Position', 'PrimaryInstitution', 'OrgName', 'Notes',
       '_merge_orgstring'],
      dtype='object')

In [126]:
c3.shape

(8992, 18)

In [127]:
c3 = c3[list(c.columns)]

In [128]:
c3.columns

Index(['CareerString', 'CareerDateString_2022', 'IsJob', 'MultipleSubstrings',
       'CareerStartYear', 'CareerStartMonth', 'CareerSubstring', 'OrgString',
       'Position', 'PrimaryInstitution', 'OrgName', 'Notes',
       '_merge_orgstring'],
      dtype='object')

# 4. from jol, edits to Position

In [129]:
jol.head(1)

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PrimaryInstitution,OrgName,Edit_PI,Edit_OrgName,InOrgTree,Position,Edit_Position,NotJob,Notes,Unnamed: 15
0,828.1,"1983. 3 당 정치국 위원 해임, 당 중앙위 부장",당 정치국 위원 해임,1983,3,당 정치국,노동당,당중앙위원회_정치국,NaN,NaN,NaN,위원,NaN,True,해임,x

In [130]:
jol.columns

Index(['CareerStringID', 'CareerString', 'CareerSubstring', 'CareerStartYear',
       'CareerStartMonth', 'OrgString', 'PrimaryInstitution', 'OrgName',
       'Edit_PI', 'Edit_OrgName', 'InOrgTree', 'Position', 'Edit_Position',
       'NotJob', 'Notes', 'Unnamed: 15'],
      dtype='object')

In [131]:
select_columns = ['CareerString','CareerStartYear','CareerStartMonth',
                  'CareerSubstring','OrgString','Position','Edit_Position']
jolpos = jol.loc[~jol["Edit_Position"].isna(),select_columns]
jolpos.shape

(68, 7)

In [132]:
jolpos[jolpos["Edit_Position"].isna()]

Empty DataFrame
Columns: [CareerString, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, Position, Edit_Position]
Index: []

In [133]:
c3.columns

Index(['CareerString', 'CareerDateString_2022', 'IsJob', 'MultipleSubstrings',
       'CareerStartYear', 'CareerStartMonth', 'CareerSubstring', 'OrgString',
       'Position', 'PrimaryInstitution', 'OrgName', 'Notes',
       '_merge_orgstring'],
      dtype='object')

In [134]:
select_columns = ["CareerString","CareerStartYear","CareerStartMonth","CareerSubstring","OrgString","Position"]
c4 = c3.merge(jolpos,on=select_columns,how="left",indicator=True,suffixes=("","_y"))
c4.shape

(8992, 15)

In [135]:
c4.groupby("_merge").count()

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_Position
_merge,,,,,,,,,,,,,,
left_only,8924,4860,8924,1560,7305,6620,1705,6415,6421,4926,3694,115,8924,0
right_only,0,0,0,0,0,0,0,0,0,0,0,0,0,0
both,68,35,68,13,67,48,14,68,59,68,57,0,68,68

In [136]:
c4.loc[c4["_merge"]=="both","Position"] = c4.loc[c4["_merge"]=="both","Edit_Position"]

In [137]:
c4[c4["_merge"]=="both"].head(4)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,Position,PrimaryInstitution,OrgName,Notes,_merge_orgstring,Edit_Position,_merge
125,당 중공업부장,1992.01,True,NaN,1992,1,NaN,당 중공업부,부장,Uncertain,Uncertain,NaN,both,부장,both
346,최고인민회의 제13기 대의원 선거 중앙선거위원회 서기장,2014.01,True,NaN,2014,1,NaN,최고인민회의,서기장,최고인민회의,중앙선거위원회,NaN,both,서기장,both
347,최고인민회의 제13기 대의원 선거를 위한 중앙선거위원회 부위원장,2014.01,True,NaN,2014,1,NaN,최고인민회의,부위원장,최고인민회의,중앙선거위원회,NaN,both,부위원장,both
376,당 정치국 후보위원,2020.01,True,NaN,2020,1,NaN,당 정치룩,후보위원,노동당,당중앙위원회_정치국,NaN,both,후보위원,both

In [138]:
list(c.columns)

['CareerString',
 'CareerDateString_2022',
 'IsJob',
 'MultipleSubstrings',
 'CareerStartYear',
 'CareerStartMonth',
 'CareerSubstring',
 'OrgString',
 'Position',
 'PrimaryInstitution',
 'OrgName',
 'Notes',
 '_merge_orgstring']

In [141]:
c4 = c4[['CareerString','CareerDateString_2022','IsJob','MultipleSubstrings','CareerStartYear','CareerStartMonth',
 'CareerSubstring','OrgString','PrimaryInstitution','OrgName','Position','Notes']]

In [142]:
c4.shape

(8992, 12)

In [143]:
# export careers to \cleaning step 2 - career\2.6 career_reassembled\
c4.to_excel(path_cleaning + subpath_2_6 + "careers_3_jeongsu.xlsx",index=False)