In [1]:
import pandas as pd
import numpy as np

# combined data - 2 tables

In [2]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [3]:
filename_careers = "careers.xlsx"

In [4]:
filename_leadercareerlink = "leadercareerlink.xlsx"

In [5]:
filename_leaderjoblink = "leaderjoblink.xlsx"

In [6]:
filename_joborglink = "joborglink.xlsx"

# combined data - 1 cleaning/cleaning step 2 - career/

In [7]:
path_cleaning = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/"

In [8]:
subpath_2_1 = "2.1 career_undivided_unparsed_uncoded/"
subpath_2_2 = "2.2 career_divided_unparsed_uncoded/"
subpath_2_3 = "2.3 joborglink/"
subpath_2_4 = "2.4 orgtree/"
subpath_2_5 = "2.5 position/"
subpath_2_6 = "2.6 career_reassembled/"

In [9]:
# orgtree_4_5_jeonsgu_cleaned
filein_ot = "orgtree_4_5_jeonsgu_cleaned.xlsx"
ot = pd.read_excel(path_cleaning + subpath_2_4 + filein_ot,dtype="str")
ot.shape

(1383, 9)

In [10]:
# careers_3_jeongsu_complete
filein_careers = "careers_3_jeongsu_complete.xlsx"
careers = pd.read_excel(path_cleaning + subpath_2_6 + filein_careers,dtype="str")
careers.shape

(9001, 17)

# 1. verify manual updates to orgtree

In [11]:
ot.shape

(1383, 9)

In [12]:
ot[ot["InsideGov"].str.lower()=="please_revise"].shape

(0, 9)

In [13]:
ot[ot["LinkToNext_PI"].str.lower()=="please_revise"].shape

(0, 9)

In [14]:
ot[ot["LinkToNext_Org"].str.lower()=="please_revise"].shape

(0, 9)

In [15]:
ot[ot["LinkToNext_Year"].str.lower()=="please_revise"].shape

(0, 9)

In [16]:
ot.head(2)

,InsideGov,PrimaryInstitution,OrgName,ImmediateSuperiorOrg,SupervisesParent,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Notes
0,0,4.15문화창작단,NaN,NaN,NaN,Current,Current,Current,NaN
1,0,6.15공동선언실천남북공동위원회북측위원회,교직원분과,NaN,NaN,Current,Current,Current,NaN

# 2. check updates to career

In [17]:
careers.shape

(9001, 17)

In [18]:
careers.head(2)

,CareerString,CareerDateString_2022,IsJob,Edit_IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PrimaryInstitution,OrgName,Edit_PI,Edit_OrgName,Position,Edit_Position,Add Orgtree,Notes
0,개성공단 남북공동위원회 통행통신통관 분과위원회,2013.09 ~ 2014.01,False,NaN,NaN,2013,9,NaN,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,故 김정일 국가장의위원회 위원,2011.12,True,False,NaN,2011,12,NaN,NaN,NaN,NaN,국가장의위원회,NaN,NaN,위원,1,NaN

In [19]:
# check IsJob = False for all 국가장의위원회
careers[["CareerString","IsJob","Edit_IsJob"]].groupby("Edit_IsJob").count()

            CareerString  IsJob
Edit_IsJob
False                475    475

In [20]:
careers[(careers["CareerString"].str.contains("국가장의위원회",na=False)) & 
        (careers["IsJob"].str.contains("True",na=False)) & 
        ~ (careers["Edit_IsJob"].str.contains("False",na=True))].shape

(0, 17)

In [21]:
careers[careers["CareerStartYear"].isna()].shape

(1620, 17)

In [22]:
# check CareerStartYear are in CareerString or CareerDateStart_2022
careers[careers["CareerStartYear"].notna()
        & careers.apply(lambda x:
                      (str(x["CareerStartYear"]) not in str(x["CareerString"])) &
                      (str(x["CareerStartYear"]) not in str(x["CareerDateString_2022"])),axis=1)].shape

(0, 17)

In [23]:
# check CareerStartMonth are in CareerString or CareerDateStart_2022
careers[careers["CareerStartMonth"].notna()
        & careers.apply(lambda x:
                      (str(x["CareerStartMonth"]) not in str(x["CareerString"])) &
                      (str(x["CareerStartMonth"]) not in str(x["CareerDateString_2022"])),axis=1)].shape

(0, 17)

In [24]:
# Position = 근무 --> Uncertain
careers[careers["Position"]=="근무"]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, IsJob, Edit_IsJob, MultipleSubstrings, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName, Position, Edit_Position, Add Orgtree, Notes]
Index: []

In [25]:
# Edit_Position = 근무 --> Uncertain
careers[careers["Edit_Position"]=="근무"]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, IsJob, Edit_IsJob, MultipleSubstrings, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, PrimaryInstitution, OrgName, Edit_PI, Edit_OrgName, Position, Edit_Position, Add Orgtree, Notes]
Index: []

In [26]:
# deleted Edit_MS
# careers[careers["Edit_MS"].notna()]

# 3. update careers: IsJob, Position, PI, OrgName

In [27]:
careers["Edit_IsJob"].unique()

array([nan, 'False'], dtype=object)

In [28]:
careers[careers["Edit_IsJob"].notna()].shape

(475, 17)

In [29]:
# update IsJob
careers.loc[careers["Edit_IsJob"].notna(),"IsJob"] = careers.loc[careers["Edit_IsJob"].notna(),"Edit_IsJob"]

In [30]:
careers["Edit_Position"].unique()

array([nan, '위원', '상', '위원장', '부총리', '총참모장', '부위원장', '상무위원', '대사', '대의원',
       '사령관', '부상', '부장', 'uncertain', '참모장', '사단장', '부수상', '후보위원', '부부장',
       '정치위원', '군단장', '부국장', '제1부상', '제1부국장', '학장', '비서', '총비서', '조직부국장',
       '자문위원', '주석', '책임비서', '총리', '부주석', '사무장', '위워장', '부총참모장', '2군단장',
       '국장', '제1부부장', '국가부주석', '실장', '통일담당 책임참사', '대표', '소장', '참사', '지배인',
       '서기장', '부의장', '총정치국장', '제1비서', '제1위원장', '정치부장', '처장', '수위', '설계국장',
       '제1부위원장', '명예위원장', '연대장', '조직부장', '제1부총참모장', '외사국장', '총장', '제1부수상',
       '제2부수상', '사장', '제1부총리', '서기', '과장', '책임주필', '부과장', '지도원', '2등서기관',
       '부주필', '조직비서', '총국장', '성원', '부군단장', '선전부국장', '재1부총참모장', '의원',
       '명예부위원장', '수상', '단장'], dtype=object)

In [31]:
# update Position
careers.loc[careers["Edit_Position"].notna(),"Position"] = careers.loc[careers["Edit_Position"].notna(),"Edit_Position"]

In [32]:
# careers["Edit_PI"].unique()

In [33]:
# careers["Edit_OrgName"].unique()

In [34]:
# update PrimaryInstitution
careers.loc[careers["Edit_PI"].notna(),"PrimaryInstitution"] = careers.loc[careers["Edit_PI"].notna(),"Edit_PI"]

In [35]:
# update OrgName
careers.loc[careers["Edit_OrgName"].notna(),"OrgName"] = careers.loc[careers["Edit_OrgName"].notna(),"Edit_OrgName"]

# 4. check careers: MultipleSubstrings

In [36]:
# assign NaN MultipleSubstrings as 1
careers.loc[careers["MultipleSubstrings"].isna(),"MultipleSubstrings"]="1"

In [37]:
check_columns = ["CareerString","MultipleSubstrings"]

In [38]:
# do any CareerString,MultipleSubstrings pairs not match?
ms = careers[check_columns]

In [39]:
mspairs = ms.merge(ms,how="outer",on="CareerString",suffixes=("","_y"))
mspairs.shape

(22913, 3)

In [40]:
mspairs.drop_duplicates(keep="first",inplace=True,ignore_index=True)
mspairs.shape

(7025, 3)

In [41]:
mspairs.head(2)

                 CareerString MultipleSubstrings MultipleSubstrings_y
0   개성공단 남북공동위원회 통행통신통관 분과위원회                  1                    1
1            故 김정일 국가장의위원회 위원                  1                    1

In [42]:
# all non-na (CareerString,MultipleSubstrings) pairs match 
mspairs[ ~ (mspairs.MultipleSubstrings.isna() & mspairs.MultipleSubstrings_y.isna()) &
        mspairs.apply(lambda x: x["MultipleSubstrings"]!=x["MultipleSubstrings_y"],axis=1)]

Empty DataFrame
Columns: [CareerString, MultipleSubstrings, MultipleSubstrings_y]
Index: []

In [43]:
# check # of substrings = MultipleSubstrings value

In [44]:
check_columns = ["CareerString","CareerDateString_2022","MultipleSubstrings","IsJob"]
mscheck = careers[check_columns].groupby(["CareerString","CareerDateString_2022"],as_index=False).agg({"MultipleSubstrings": ["min","max"],"IsJob":"count"})

In [45]:
mscheck.columns = ["CareerString","CareerDateString_2022","min","max","count"]

In [46]:
mscheck.head(2)

                 CareerString CareerDateString_2022 min max  count
0            故 김정일 국가장의위원회 위원               2011.12   1   1      1
1   개성공단 남북공동위원회 통행통신통관 분과위원회     2013.09 ~ 2014.01   1   1      1

In [47]:
# are any min,max not equal?
mscheck[mscheck["min"].notna() & mscheck["max"].isna()]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, min, max, count]
Index: []

In [48]:
mscheck[mscheck["min"].isna() & mscheck["max"].notna()]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, min, max, count]
Index: []

In [49]:
mscheck[mscheck["min"].notna() & mscheck["max"].notna() & 
        mscheck.apply(lambda x: x["min"]!=x["max"],axis=1)]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, min, max, count]
Index: []

In [50]:
# for NaN, is count > 1?
mscheck[mscheck["min"].isna() & mscheck["count"]>1]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, min, max, count]
Index: []

In [51]:
mscheck[mscheck["max"].isna() & mscheck["count"]>1]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, min, max, count]
Index: []

In [52]:
# for non-NaN max, are any (max,count) pairs not equal?
mscheck[mscheck["max"].notna() & mscheck.apply(lambda x: str(x["max"]) != str(x["count"]),axis=1)]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, min, max, count]
Index: []

In [53]:
careers.MultipleSubstrings.unique()

array(['1', '2', '3', '4', '5'], dtype=object)

# 5. check careers: OrgName when Position = 대사, Position is non-na

In [56]:
# check OrgName when Position = 대사
careers[careers["IsJob"].str.contains("True") & careers["Position"].str.contains("대사") & careers["OrgName"].isna()]

,CareerString,CareerDateString_2022,IsJob,Edit_IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PrimaryInstitution,OrgName,Edit_PI,Edit_OrgName,Position,Edit_Position,Add Orgtree,Notes
3164,2007. 5 몰도바 주재 대사(겸임),NaN,True,NaN,1,2007,5,NaN,몰도바 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
6140,룡성식료공장 지배인,2010.01,True,NaN,1,2010,1,NaN,룡성식료공장,용성식료공장,NaN,NaN,NaN,대사,NaN,NaN,NaN
6627,아일랜드 주재 대사,2004.02,True,NaN,1,2004,2,NaN,아일랜드 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
6629,아일랜드 주재 대사(겸임),2007.07,True,NaN,1,2007,7,NaN,아일랜드 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
6630,아제르바이잔 주재 대사(겸임),2018.08,True,NaN,1,2018,8,NaN,아제르바이잔 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
7243,자메이카 주재 대사,2013.03,True,NaN,1,2013,3,NaN,자메이카 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8067,주 레바논 대사관 대사(겸임),2008.12,True,NaN,1,2008,12,NaN,주 레바논 대사관,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8069,주 바레인 대사관 대사(겸임) * 후임 : 서창식,2006.06 ~ 2014.11,True,NaN,1,2006,6,NaN,주 바레인 대사관,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8071,주 부룬디 대사관 대사(겸임) *전임 : 박현재,2010.12,True,NaN,1,2010,12,NaN,주 부룬디 대사관,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8076,주 아랍에미레이트 대사관 대사(겸임),2008.04,True,NaN,1,2008,4,NaN,주 아랍에미레이트 대사관,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8077,주 아이슬란드(이슬란드) 대사관 대사,1986.05,True,NaN,1,1986,5,NaN,주 아이슬란드 대사관,정무원,NaN,정무원,NaN,대사,NaN,NaN,NaN
8095,주 카타르 대사관 대사(겸임),2006.02,True,NaN,1,2006,2,NaN,주 카타르 대사관,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8097,주 캐나다(카나다) 대사관 대사,2008.06,True,NaN,1,2008,6,NaN,주 캐나다 대사관,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8101,주 키프로스(끼쁘로스) 대사관 대사(겸임),2004.02,True,NaN,1,2004,2,NaN,주 키프로스 대사관,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8657,카자흐스탄 주재 대사(겸임),2006.09,True,NaN,1,2006,9,NaN,카자흐스탄 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8658,카타르 주재 대사(겸임),2002.01,True,NaN,1,2002,1,NaN,카타르 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8663,캐나다 주재 대사(겸임),2002.06,True,NaN,1,2002,6,NaN,캐나다 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8664,케냐 주재 대사(겸임),2012.04,True,NaN,1,2012,4,NaN,케냐 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8673,타지키스탄 주재 대사(겸임),2018.11,True,NaN,1,2018,11,NaN,타지키스탄 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8679,투르크메니스탄 대사(겸임),2008.06,True,NaN,1,2008,6,NaN,투르크메니스탄,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8680,투르크메니스탄 주재 대사(겸임),2017.01,True,NaN,1,2017,1,NaN,투르크메니스탄 주재,내각,NaN,내각,NaN,대사,NaN,NaN,NaN
8681,트리니다드 토바고 주재 대사,2012.06,True,NaN,1,2012,6,NaN,트리니다드 토바고,내각,NaN,내각,NaN,대사,NaN,NaN,NaN

In [57]:
ambassador = careers[careers["IsJob"].str.contains("True") & careers["Position"].str.contains("대사") & careers["OrgName"].isna()]

In [59]:
ambassador.to_excel(path_cleaning + subpath_2_6 + "careers_3_jeongsu2.xlsx",index=False)

In [62]:
# check OrgName when Position is notna
# way too many cases to consider now
careers[careers["IsJob"].str.contains("True") & careers["Position"].notna() & careers["OrgName"].isna()].shape

(1873, 17)

# 6. compare careers and orgtree: (PI, OrgName) all match?