In [1]:
import pandas as pd

# import education data - raw, merged, partially coded

In [3]:
ed_filename = "education_merge3_disambiguate_donebyhand.xlsx"

In [5]:
ed_filepath = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 3 - education/"

In [7]:
ed = pd.read_excel(ed_filepath+ed_filename,header=0)

In [8]:
ed.shape

(252, 13)

,LeaderID,MOUID_2015,Name_2015,EducationString_2015,SchoolYear_2015,SchoolName_2015,SchoolLevel_2015,SchoolRegion_2015,SchoolStringConcat_2015,EducationDateString_2022,EducationSchoolString_2022,EducationMajorString_2022,EducationGraduationStatus_2022
0,장성택,102,장성택,1969. 모스크바 유학,1969.0,NaN,NaN,러시아,1969_name_level_러시아,연도미상,김일성종합대학,NaN,미상
1,장성택,102,장성택,1969. 모스크바 유학,1969.0,NaN,NaN,러시아,1969_name_level_러시아,1969,모스크바유학,NaN,미상
2,장성택,102,장성택,연도미상 김일성종합대학,NaN,김일성종합대학교,대학교,북한,year_김일성종합대학교_대학교_북한,연도미상,김일성종합대학,NaN,미상
3,장성택,102,장성택,연도미상 김일성종합대학,NaN,김일성종합대학교,대학교,북한,year_김일성종합대학교_대학교_북한,1969,모스크바유학,NaN,미상
4,윤기정,103,윤기정,"연도미상 경기여고, 김일성종합대학",NaN,김일성종합대학교,대학교,북한,year_김일성종합대학교_대학교_북한,연도미상,김일성종합대학,NaN,미상
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,권혁봉,783,권혁봉,연도미상김일성종합대학 졸업,NaN,김일성종합대학교,대학교,북한,year_김일성종합대학교_대학교_북한,연도미상,김일성종합대학,철학부,미상
248,강관주,807,강관주,1960. 김일성종합대학 역사학부 졸업,1960.0,김일성종합대학교,대학교,북한,1960_김일성종합대학교_대학교_북한,1960,김일성종합대학,NaN,졸업
249,강관주,807,강관주,1960. 김일성종합대학 역사학부 졸업,1960.0,김일성종합대학교,대학교,북한,1960_김일성종합대학교_대학교_북한,연도미상,김일성 고급당학교,NaN,졸업
250,강관주,807,강관주,연도미상김일성고급당학교 졸업,NaN,김일성고급당학교,특수학교,북한,year_김일성고급당학교_특수학교_북한,1960,김일성종합대학,NaN,졸업
251,강관주,807,강관주,연도미상김일성고급당학교 졸업,NaN,김일성고급당학교,특수학교,북한,year_김일성고급당학교_특수학교_북한,연도미상,김일성 고급당학교,NaN,졸업