# libraries & global vars

In [87]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

# output path for divided career

In [88]:
pathin_career_undivided = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.1 career_undivided_unparsed_uncoded/"
pathout_career_divided = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.2 career_divided_unparsed_uncoded/"

# import career_str

In [89]:
career_str = pd.read_excel(pathin_career_undivided+"career_str_undivided_unparsed_uncoded.xlsx",dtype="str")

In [90]:
career_str.shape

(7027, 2)

# break out 국가장의위원회 - don't appear to be any joint appts with this

In [91]:
career_str_funeral = career_str[career_str.CareerString.str.contains("국가장의위원회")]

In [92]:
career_str_funeral.shape

(84, 2)

In [93]:
# export career_str_funeral to unparsed_uncoded folder
career_str_funeral.to_excel(pathout_career_divided+"career_funeral_unparsed_uncoded.xlsx",index=False,encoding="utf-8")

In [94]:
# extract funeral from remaining career
career_str = career_str[~career_str.CareerString.isin(career_str_funeral.CareerString)]

In [95]:
career_str.shape

(6943, 2)

# break out education: 유학, 전공, 절업

In [96]:
career_str_education = career_str[career_str.CareerString.str.contains("유학") | career_str.CareerString.str.contains("전공") | career_str.CareerString.str.contains("절업")]

In [97]:
# export career_str_abroad to unparsed_uncoded folder
career_str_education.to_excel(pathout_career_divided+"career_education_unparsed_uncoded.xlsx",index=False,encoding="utf-8")

In [98]:
career_str_education

                                           CareerString CareerStringID
135                           1950.～52. 러시아 공군대학 유학, 귀국            135
140   1951.~57. 루마니아 유학 연도미상 당 조직지도부, 과학교육부, 기계공업부 등...            140
156                                1953. 모스크바대학(외교학 전공)            156
276                                 1962. 소련 프룬제군사대학 유학            276
277                                    1962. 소련 해군대학 유학            277
393                                       1969. 모스크바 유학            393
4062                         김일성종합대학, 체코 프라하공대(기계공학 전공)           4062
4744                                    러시아 공군대학 유학, 귀국           4744
4757                                            루마니아 유학           4757
4792                                            모스크바 유학           4792
4795                                     모스크바대학(외교학 전공)           4795
5088                                      소련 프룬제군사대학 유학           5088
5089                                         소련 해군대학 유학           5089
5096                                          소련아카데미 유학           5096
5190                    연도미상 김일성종합대학, 체코 프라하공대(기계공학 전공)           5190
5201                                     연도미상 소련아카데미 유학           5201
5202                              연도미상 연희전문 2년 중퇴, 일본유학           5202
5262                          연도미상 김일성종합대학 외문학부 러시아어 전공           5262
5300                                       연도미상 루마니아 유학           5300
5341                                  연도미상 일본음악학교, 소련유학           5341
5363                             연도미상 평양건설건재대학 졸업, 소련유학           5363
5399                          연희전문학교 2년 중퇴, 일본 유학(릿쿄대학)           5399
5620                                       일본음악학교, 소련유학           5620

In [99]:
joint_appt = [140]
non_joint_appt = [item for item in career_str_education.CareerStringID if int(item) not in joint_appt]

In [100]:
# extract (non-joint appointment) funeral from remaining career
career_str = career_str[~career_str.CareerStringID.isin(non_joint_appt)]

In [101]:
career_str.shape

(6921, 2)

# break out 결혼

In [102]:
career_str_marriage = career_str[career_str.CareerString.str.contains("결혼")]

In [103]:
# export career_str_marriage to unparsed_uncoded folder
career_str_marriage.to_excel(pathout_career_divided+"career_marriage_unparsed_uncoded.xlsx",index=False,encoding="utf-8")

In [104]:
career_str_marriage

                             CareerString CareerStringID
93    1946. 7 월북 1954. 결혼, 김책공업대학 교원으로 활동             93
154                         1953. 김일성과 결혼            154
493                         1972. 김경희와 결혼            493
3559                   결혼, 김책공업대학 교원으로 활동           3559
3986                       김일성 장녀 김경희와 결혼           3986
3999                              김일성과 결혼           3999

In [105]:
joint_appt = [93,3559]
non_joint_appt = [item for item in career_str_marriage.CareerStringID if int(item) not in joint_appt]

In [106]:
# extract (non-joint appointment) marriage from remaining career
career_str = career_str[~career_str.CareerStringID.isin(non_joint_appt)]

In [107]:
career_str.shape

(6917, 2)

# break out 수훈 & 칭호

In [108]:
# 수훈 및 칭호
career_str_award = career_str[career_str.CareerString.str.contains("수훈") | career_str.CareerString.str.contains("칭호")]

In [109]:
# export career_str_marriage to unparsed_uncoded folder
career_str_award.to_excel(pathout_career_divided+"career_award_unparsed_uncoded.xlsx",index=False,encoding="utf-8")

In [110]:
career_str_award.shape

(147, 2)

In [111]:
joint_appt = [407, 487, 691, 773, 778, 785, 1403, 1404, 1405, 1406, 1407, 1415, 1418, 1419, 1425, 1427, 1428, 3627, 3690, 4872, 5725, 6026, 6486, 6507, 6551, 6653]
non_joint_appt = [item for item in career_str_award.CareerStringID if int(item) not in joint_appt]

In [112]:
# extract (non-joint appointment) marriage from remaining career
career_str = career_str[~career_str.CareerStringID.isin(non_joint_appt)]

In [113]:
career_str.shape

(6796, 2)

# break out 사망, 사형, 처형

In [116]:
# 사형, 사망, 처형
career_str_death = career_str[career_str.CareerString.str.contains("처형") | career_str.CareerString.str.contains("사형") | career_str.CareerString.str.contains("사망")]

In [117]:
# export career_str_marriage to unparsed_uncoded folder
career_str_death.to_excel(pathout_career_divided+"career_death_unparsed_uncoded.xlsx",index=False,encoding="utf-8")

In [118]:
career_str_death.shape

(81, 2)

In [119]:
career_str = career_str[~career_str.CareerStringID.isin(career_str_death.CareerStringID)]

In [120]:
career_str.shape

(6715, 2)

# break out visits: 동행, 참석시, 습격, 방문,  빨치산 활동

In [121]:
career_str_visit = career_str[career_str.CareerString.str.contains(" 동행") | career_str.CareerString.str.contains("참석시") | career_str.CareerString.str.contains("습격") | career_str.CareerString.str.contains("방문") | career_str.CareerString.str.contains("빨치산 활동")]

In [122]:
career_str_visit

                                      CareerString CareerStringID
3                                 금수산궁전 개관식 참석시 동행              3
5      능라인민유원지 준공식 참석시 동행 * ‘부인 리설주 동지’라고 보도(중앙방송)              5
8                   대동강과수종합농장과 대동강과일종합가공 공장 시찰시 동행              8
9                             동해안 감나무중대(女軍) 방문시 동행              9
11                                          빨치산 활동             11
12                              빨치산 활동(김일성 빨치산 동지)             12
13                         빨치산 활동(김일성 전령, 유격대 중대장)             13
14                             사격경기와 여자배구경기 관람시 동행             14
18                   창전거리 살림집들에 이사한 근로자들 가정 방문시 동행             18
21                        통일거리운동센터 및 평양민속공원 시찰시 동행             21
65                    1937. 6 함남 보천보 습격, 함남 중평리 습격             65
71                             1945 이전 김일성과 빨치산 활동             71
82                                  1945년이전 빨치산 활동             82
84                                   1945이전 빨치산 활동             84
85                1945이전 빨치산 활동 연도미상 소련 보병학교, 육군대학             85
86                  1945이전 빨치산 활동(김일성 전령, 유격대 중대장)             86
87                       1945이전 빨치산 활동(김일성유격대 간호원)             87
88                         1945이전 빨치산 활동(빨치산 소년대원)             88
89                       1945이전 빨치산 활동(김일성유격대 간호원)             89
90                      1945이전 빨치산 활동(김일성의 빨치산 동지)             90
912     1985. 5 남북적십자본회담 수석자문위원 (제8~10차, 서울 2회 방문)            912
4068                       김정은, 군인가족예술소조공연 관람 시 동행           4068
4069                  김정은, 김일성 생일 계기 금수산궁전 참배 시 동행           4069
4070                     김정은, 김정일 생일 기념 공연 관람 시 동행           4070
4072                      김정은, 시진핑 중국 국가주석 영접 시 동행           4072
4134           남북적십자본회담 수석자문위원(제8차~제10차, 서울 2회 방문)           4134
4835                         미래상점과 종합봉사기지 현지지도시 동행           4835
4977                                        빨치산 활동           4977
5321                                   연도미상 빨치산 활동           5321
5663                                 전 김일성과 빨치산 활동           5663
5664                                      전 빨치산 활동           5664
5755                 정전협정 62돌 경축 공훈국가합창단 공연 관람시 동행           5755
6913                          함남 보천보 습격, 함남 중평리 습격           6913

In [123]:
# export career_str_marriage to unparsed_uncoded folder
career_str_visit.to_excel(pathout_career_divided+"career_visit_unparsed_uncoded.xlsx",index=False,encoding="utf-8")

In [124]:
career_str_visit.shape

(33, 2)

In [125]:
career_str_visit

                                      CareerString CareerStringID
3                                 금수산궁전 개관식 참석시 동행              3
5      능라인민유원지 준공식 참석시 동행 * ‘부인 리설주 동지’라고 보도(중앙방송)              5
8                   대동강과수종합농장과 대동강과일종합가공 공장 시찰시 동행              8
9                             동해안 감나무중대(女軍) 방문시 동행              9
11                                          빨치산 활동             11
12                              빨치산 활동(김일성 빨치산 동지)             12
13                         빨치산 활동(김일성 전령, 유격대 중대장)             13
14                             사격경기와 여자배구경기 관람시 동행             14
18                   창전거리 살림집들에 이사한 근로자들 가정 방문시 동행             18
21                        통일거리운동센터 및 평양민속공원 시찰시 동행             21
65                    1937. 6 함남 보천보 습격, 함남 중평리 습격             65
71                             1945 이전 김일성과 빨치산 활동             71
82                                  1945년이전 빨치산 활동             82
84                                   1945이전 빨치산 활동             84
85                1945이전 빨치산 활동 연도미상 소련 보병학교, 육군대학             85
86                  1945이전 빨치산 활동(김일성 전령, 유격대 중대장)             86
87                       1945이전 빨치산 활동(김일성유격대 간호원)             87
88                         1945이전 빨치산 활동(빨치산 소년대원)             88
89                       1945이전 빨치산 활동(김일성유격대 간호원)             89
90                      1945이전 빨치산 활동(김일성의 빨치산 동지)             90
912     1985. 5 남북적십자본회담 수석자문위원 (제8~10차, 서울 2회 방문)            912
4068                       김정은, 군인가족예술소조공연 관람 시 동행           4068
4069                  김정은, 김일성 생일 계기 금수산궁전 참배 시 동행           4069
4070                     김정은, 김정일 생일 기념 공연 관람 시 동행           4070
4072                      김정은, 시진핑 중국 국가주석 영접 시 동행           4072
4134           남북적십자본회담 수석자문위원(제8차~제10차, 서울 2회 방문)           4134
4835                         미래상점과 종합봉사기지 현지지도시 동행           4835
4977                                        빨치산 활동           4977
5321                                   연도미상 빨치산 활동           5321
5663                                 전 김일성과 빨치산 활동           5663
5664                                      전 빨치산 활동           5664
5755                 정전협정 62돌 경축 공훈국가합창단 공연 관람시 동행           5755
6913                          함남 보천보 습격, 함남 중평리 습격           6913

In [126]:
# extract (non-joint appointment) marriage from remaining career
career_str = career_str[~career_str.CareerStringID.isin(career_str_visit.CareerStringID)]

In [127]:
career_str.shape

(6682, 2)

# export career_str jobs remaining after divisions

In [128]:
career_str.to_excel(pathout_career_divided+"career_jobs_unparsed_uncoded.xlsx",index=False,encoding="utf-8")