# libraries & global vars

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

# io job_str

In [2]:
path_job_str = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.3.1 jobs/"

In [6]:
# filein_job_str = "job_str_2_substr_multi.xlsx"
filein_job_str_1tocode = "job_str_2_substr_single_1tocode.xlsx"

In [20]:
#filein_job_str_2esther1 = "job_str_2_substr_single_2esther1.xlsx"
#filein_job_str_2esther2 = "job_str_2_substr_single_2esther1.xlsx"
#filein_job_str_2jeongsu = "job_str_2_substr_single_2esther1.xlsx"

In [3]:
filein_job_str_single_mail = "job_str_2_substr_single_1tocode_4Mail_Lee.xlsx"
filein_job_str_multi_mail = "job_str_2_substr_multi_expanded_2tocode_2Jacob.xlsx"

In [4]:
fileout_job_str = "job_str_3_parsed.xlsx"

# import newly parsed unique & multi strings

In [7]:
job_str = pd.read_excel(path_job_str+filein_job_str_1tocode,dtype="str")
job_str_single = pd.read_excel(path_job_str+filein_job_str_single_mail,dtype="str")
job_str_multi = pd.read_excel(path_job_str+filein_job_str_multi_mail,dtype="str")

In [8]:
job_str.shape

(7284, 13)

In [9]:
#job_str.drop(columns=["CareerSubstringID"],inplace=True)

# job strings have not been parsed in job_str db

In [10]:
job_str[0:5]

,CareerStringID,MultipleSubstrings,NotJob,CareerString,CareerDateString_2022,CareerStartYear,CareerStartMonth,OrgString,PositionString,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,NaN,NaN,개성공단 남북공동위원회 통행통신통관 분과위원회,2013.09 ~ 2014.01,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,근로단체부장 해임 * 후임: 리일환,2014,NaN,NaN,근로단체,부장,NaN,NaN,NaN,NaN
2,4,NaN,NaN,노동성 상(유임),1999.02,NaN,NaN,노동성,상,NaN,NaN,NaN,NaN
3,6,NaN,NaN,당 정치국 후보위원,2020.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,NaN,NaN,당 중앙위원회 정치국 위원 (*당 중앙위원회 제7기 제4차 전원회의에서 보선),2019.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# export fully parsed job_str db