# libraries & global vars

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

# io for job_str

In [2]:
path_career_divided = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.2 career_divided_unparsed_uncoded/"
path_jobs = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.3.1 jobs/"

In [3]:
filein_job_str = "career_jobs_unparsed_uncoded.xlsx"
fileout_job_str = "job_str_0_empty.xlsx"

# import career_str

In [4]:
job_str = pd.read_excel(path_career_divided+filein_job_str,dtype="str")

In [5]:
job_str.shape

(7590, 3)

In [6]:
job_str[0:5]

,CareerString,CareerDateString_2022,CareerStringID
0,개성공단 남북공동위원회 통행통신통관 분과위원회,2013.09 ~ 2014.01,1
1,근로단체부장 해임 * 후임: 리일환,2014,2
2,노동성 상(유임),1999.02,4
3,당 정치국 후보위원,2020.01,6
4,당 중앙위원회 정치국 위원 (*당 중앙위원회 제7기 제4차 전원회의에서 보선),2019.04,7

# add fields to job_str for parsing & coding

In [7]:
job_str = job_str[["CareerStringID","CareerString","CareerDateString_2022"]]

In [8]:
# Parse Date from CareerString (presuming each string only has one date - otherwise, parse separate date for each substring)
job_str["CareerStartYear"] = np.nan
job_str["CareerStartMonth"] = np.nan


# Does CareerString contain more than one appointment? T/F
job_str["MultipleSubstrings"] = np.nan

In [9]:
# If there are MultipleSubstrings, parse each substring (and assign it an ID - automatically, not manually)
job_str["CareerSubstringID"] = job_str["CareerStringID"]
job_str["CareerSubstring"] = np.nan

In [10]:
# Parse OrgString and PositionString from CareerSubstring  
job_str["OrgString"] = np.nan
job_str["PositionString"] = np.nan

In [11]:
# Code and add OrgID, OrgName, PositionID, PositionName to each CareerSubstring
job_str["OrgID"] = np.nan
job_str["OrgName"] = np.nan
job_str["PositionID"] = np.nan
job_str["PositionName"] = np.nan

In [12]:
job_str[0:5]

,CareerStringID,CareerString,CareerDateString_2022,CareerStartYear,CareerStartMonth,MultipleSubstrings,CareerSubstringID,CareerSubstring,OrgString,PositionString,OrgID,OrgName,PositionID,PositionName
0,1,개성공단 남북공동위원회 통행통신통관 분과위원회,2013.09 ~ 2014.01,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,근로단체부장 해임 * 후임: 리일환,2014,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,노동성 상(유임),1999.02,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,당 정치국 후보위원,2020.01,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,당 중앙위원회 정치국 위원 (*당 중앙위원회 제7기 제4차 전원회의에서 보선),2019.04,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# output job_str db, now ready to parse & code

In [13]:
job_str.to_excel(path_jobs+fileout_job_str,index=False,encoding="utf-8")