# libraries & global vars

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

# io job_str

In [2]:
path_job_str = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.3.1 jobs/"

In [17]:
# filein_job_str = "job_str_2_substr_multi.xlsx"
# filein_job_str_1tocode = "job_str_2_substr_single_1tocode.xlsx"

In [20]:
#filein_job_str_2esther1 = "job_str_2_substr_single_2esther1.xlsx"
#filein_job_str_2esther2 = "job_str_2_substr_single_2esther1.xlsx"
#filein_job_str_2jeongsu = "job_str_2_substr_single_2esther1.xlsx"

In [3]:
filein_job_str_single_mail = "job_str_2_substr_single_1tocode_4Mail_Lee.xlsx"
filein_job_str_multi_mail = "job_str_2_substr_multi_expanded_2tocode_2Jacob.xlsx"

In [4]:
fileout_job_str = "job_str_3_parsed.xlsx"

# import newly parsed unique & multi strings

In [11]:
job_str = pd.read_excel(path_job_str+filein_job_str_1tocode,dtype="str")
job_str_single = pd.read_excel(path_job_str+filein_job_str_single_mail,dtype="str")
job_str_multi = pd.read_excel(path_job_str+filein_job_str_multi_mail,dtype="str")

In [12]:
job_str.shape

(7284, 14)

In [204]:
#job_str.drop(columns=["CareerSubstringID"],inplace=True)

# job strings have not been parsed in job_str db

In [14]:
job_str_esther1[0:5]

,Unnamed: 0,CareerString,CareerDateString_2022,CareerStartYear,CareerStartMonth,MultipleSubstrings,CareerSubstringID,CareerSubstring,OrgString,PositionString,OrgID,OrgName,PositionID,PositionName,IsDemoted,IsSchool
0,899,‘조국광복회’ 조직,1936.05,1936,5,NaN,3490,NaN,‘조국광복회’,조직,NaN,NaN,NaN,NaN,NaN,NaN
1,1367,(前)국무위원회 위원,연도미상,NaN,NaN,NaN,31,NaN,(前)국무회,위원,NaN,NaN,NaN,NaN,NaN,NaN
2,1368,(前)당 비서국 비서,2021.01,2021,1,NaN,33,NaN,(前)당 국,비서,NaN,NaN,NaN,NaN,NaN,NaN
3,1960,(前)당 군수공업부 부장,연도미상,NaN,NaN,NaN,32,NaN,(前)당 군수공업부,부장,NaN,NaN,NaN,NaN,NaN,NaN
4,1369,(前)당 정치국 위원,2021.01,2021,1,NaN,35,NaN,(前)당 정치국,위원,NaN,NaN,NaN,NaN,NaN,NaN

# export fully parsed job_str db