# libraries & global vars

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

# io for job_str

In [34]:
pathin_career_divided = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/2 career_divided_unparsed_uncoded/"
pathout_jobs = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/3.1 career_jobs_parse_code/"

In [42]:
filein_job_str = "career_jobs_unparsed_uncoded.xlsx"
fileout_job_str = "job_str_0_empty.xlsx"

# import career_str

In [5]:
job_str = pd.read_excel(pathout_career_divided+filein_job_str,dtype="str")

In [6]:
job_str.shape

(6682, 2)

In [7]:
job_str[0:5]

                                     CareerString CareerStringID
0                       개성공단 남북공동위원회 통행통신통관 분과위원회              1
1                             근로단체부장 해임 * 후임: 리일환              2
2                                       노동성 상(유임)              4
3                                      당 정치국 후보위원              6
4   당 중앙위원회 정치국 위원 (*당 중앙위원회 제7기 제4차 전원회의에서 보선)                7

# add fields to job_str for parsing & coding

In [27]:
job_str = job_str[["CareerStringID","CareerString"]]

In [28]:
# Parse Date from CareerString (presuming each string only has one date - otherwise, parse separate date for each substring)
job_str["CareerDate"] = np.nan

# Does CareerString contain more than one appointment? T/F
job_str["MultipleSubstrings"] = np.nan

In [29]:
# If there are MultipleSubstrings, parse each substring (and assign it an ID - automatically, not manually)
job_str["CareerSubstringID"] = job_str["CareerStringID"]
job_str["CareerSubstring"] = np.nan

In [30]:
# Parse OrgString and PositionString from CareerSubstring  
job_str["OrgString"] = np.nan
job_str["PositionString"] = np.nan

In [31]:
# Code and add OrgID, OrgName, PositionID, PositionName to each CareerSubstring
job_str["OrgID"] = np.nan
job_str["Org"] = np.nan
job_str["PositionID"] = np.nan
job_str["Position"] = np.nan

In [32]:
job_str[0:5]

,CareerStringID,CareerString,CareerDate,MultipleSubstrings,CareerSubstringID,CareerSubstring,OrgString,PositionString,OrgID,Org,PositionID,Position
0,1,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,근로단체부장 해임 * 후임: 리일환,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,노동성 상(유임),NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,당 정치국 후보위원,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,당 중앙위원회 정치국 위원 (*당 중앙위원회 제7기 제4차 전원회의에서 보선),NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# output job_str db, now ready to parse & code

In [41]:
job_str.to_excel(pathout_jobs+fileout_job_str,index=False,encoding="utf-8")