# libraries & global vars

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

# io paths & filenames

In [2]:
# path in to step 4 career - job str
pathin_job_str = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 4 - career/4.3.1 jobs/"

In [3]:
# filein_job_str = "job_str_2_substr_multi.xlsx"
filein_job_substr_multi = "job_str_2_substr_multi_expanded_2tocode_Mail_Lee.xlsx"
filein_job_substr_single = "job_str_2_substr_single_1tocode_Mail_Lee.xlsx"

In [6]:
# path out to step 5 orgtree
pathout_orgtree = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 5 - orgtree/"

In [54]:
# file out to step 5 orgtree - preliminary org & positions
fileout_org_prelim = "0.4_prelim_org.xlsx"
fileout_pos_prelim = "0.4_prelim_pos.xlsx"
fileout_orgpos_prelim = "0.4_prelim_orgpos.xlsx"

In [56]:
# path out to step 4 job_str - merged
pathout_job_str = pathin_job_str

In [58]:
# file out job_str merged
fileout_jobstr_merged_prelim = "job_str_3_merged_prelim.xlsx"

# input and format data

In [10]:
job_str_multi = pd.read_excel(pathin_job_str+filein_job_substr_multi,dtype="str")
job_str_single = pd.read_excel(pathin_job_str+filein_job_substr_single,dtype="str")

In [11]:
job_str_multi.shape

(702, 10)

In [12]:
job_str_single.shape

(7284, 11)

In [15]:
job_str_single["CareerSubstring"]=np.nan

# merge multi & single job_str db

In [16]:
job_str_multi[0:2]

,CareerStringID,CareerDateString_2022,MultipleSubstrings,CareerString,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PositionString,Notes
0,147.1,NaN,4,"1952. 8 당 중앙위 부위원장, 정치위원, 군사위원, 상무위원",1952,8,당 중앙위 부위원장,당 중앙위,부위원장,NaN
1,147.2,NaN,4,"1952. 8 당 중앙위 부위원장, 정치위원, 군사위원, 상무위원",1952,8,?,당 중앙위,정치위원,only position

In [17]:
job_str_single[0:2]

,CareerStringID,MultipleSubstrings,NotJob,CareerString,CareerDateString_2022,CareerStartYear,CareerStartMonth,OrgString,PositionString,Unnamed: 9,Unnamed: 10,CareerSubstring
0,1,NaN,NaN,개성공단 남북공동위원회 통행통신통관 분과위원회,2013.09 ~ 2014.01,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,NaN,NaN,NaN
1,2,NaN,NaN,근로단체부장 해임 * 후임: 리일환,2014,NaN,NaN,근로단체,부장,NaN,NaN,NaN

In [22]:
common_columns = ["CareerStringID","CareerString","CareerSubstring","CareerStartYear","CareerStartMonth","OrgString","PositionString"]

In [25]:
# concatenate data frames
frame = [job_str_multi.loc[:,common_columns],job_str_single.loc[:,common_columns]]
job_str_merged = pd.concat(frame)

In [26]:
job_str_merged.shape

(7986, 7)

In [27]:
job_str_multi.shape[0] + job_str_single.shape[0]

7986

In [28]:
job_str_merged[0:2]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString
0,147.1,"1952. 8 당 중앙위 부위원장, 정치위원, 군사위원, 상무위원",당 중앙위 부위원장,1952,8,당 중앙위,부위원장
1,147.2,"1952. 8 당 중앙위 부위원장, 정치위원, 군사위원, 상무위원",?,1952,8,당 중앙위,정치위원

In [34]:
job_str_merged.CareerStringID = job_str_merged.CareerStringID.astype("float")

In [35]:
# sort by CareerStringID
job_str_merged.sort_values("CareerStringID",inplace=True,ignore_index=True)
job_str_merged[0:2]

,CareerStringID,CareerString,CareerSubstring,CareerStartYear,CareerStartMonth,OrgString,PositionString
0,1.0,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN,2013,9,개성공단 남북공동위원회 통행통신통관 분과위원회,NaN
1,2.0,근로단체부장 해임 * 후임: 리일환,NaN,NaN,NaN,근로단체,부장

# output job_str merged & unique org & position list

In [49]:
orgstr_posstr_unique = job_str_merged[["OrgString","PositionString"]].drop_duplicates()
orgstr_unique = job_str_merged[["OrgString"]].drop_duplicates()
posstr_unique = job_str_merged[["PositionString"]].drop_duplicates()

In [50]:
orgstr_posstr_unique.shape

(3156, 2)

In [51]:
orgstr_unique.shape

(1995, 1)

In [52]:
posstr_unique.shape

(412, 1)

In [55]:
# output org, pos, orgpos prelim db
orgstr_posstr_unique.to_excel(pathout_orgtree+fileout_orgpos_prelim,index=False,encoding="utf-8")
orgstr_unique.to_excel(pathout_orgtree+fileout_org_prelim,index=False,encoding="utf-8")
posstr_unique.to_excel(pathout_orgtree+fileout_pos_prelim,index=False,encoding="utf-8")

In [59]:
# output job_str merged prelim db
job_str_merged.to_excel(pathout_job_str+fileout_jobstr_merged_prelim,index=False,encoding="utf-8")