In [2]:
import pandas as pd

In [3]:
career_2015_old_path = "../../data/2015 data/2015 data - 0 raw/"
career_2015_old_file = "leadercareerlinkmou.csv"
career_2015_old_header = ["MOUID","KoreanName","CareerStringID","CareerString","CareerStartYear","CareerStartMonth","EventType","JointAppointment","Org1","Org2","Org3","Org4","Org5","Position","OrgLevel","PositionLevel","OrgPositionString"]
career_2015_old = pd.read_csv(career_2015_old_path+career_2015_old_file,sep=";",dtype="str",names=career_2015_old_header)

In [4]:
career_2015_cleaning_path = "../../data/2015 data/2015 data - 1 cleaning/"
career_2015_cleaning_file = "Eunhos latest_CareerStringsCleaned.xlsx"
career_2015_cleaning = pd.read_excel(career_2015_cleaning_path+career_2015_cleaning_file,dtype="str")

In [5]:
career_2022_path = "../../data/2022 data/2022 data - 2 tables/"
career_2022_file = "career_everything.csv"
career_2022 = pd.read_csv(career_2022_path+career_2022_file,dtype="str")

In [6]:
career_2022
career_2015_cleaning
career_2015_old

,MOUID,KoreanName,CareerStringID,CareerString,CareerStartYear,CareerStartMonth,EventType,JointAppointment,Org1,Org2,Org3,Org4,Org5,Position,OrgLevel,PositionLevel,OrgPositionString
0,102,장성택,1,1969. 모스크바 유학,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
1,102,장성택,2,1972. 김경희와 결혼,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
2,102,장성택,3,1982.10 당 청소년사업부 부부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
3,102,장성택,4,1985. 7 당 청소년사업부 제1부부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
4,102,장성택,5,1986.11 최고인민회의 제8기 대의원,1986,11,1,NaN,최고인민회의,NaN,NaN,NaN,NaN,대의원,1,3,최고인민회의_NA_NA_NA_대의원
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5702,807,강관주,3506,1993. 1 당 통일전선부 부장,1993,1,1,NaN,노동당,중앙위원회,통일전선부,NaN,NaN,부장,3,1,노동당_중앙위원회_통일전선부_NA_부장
5703,807,강관주,3507,1993.10 해외동포원호위원회 위원장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5704,807,강관주,3508,1997. 2 당 대외연락부(舊 사회문화부) 부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5705,807,강관주,3509,2009. 내각 225국 국장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5706,807,강관주,3510,연도미상김일성고급당학교 졸업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position

In [7]:
tree_cleaning = career_2015_cleaning[["Org1","Org2"]].drop_duplicates()

In [8]:
tree_old = career_2015_old[["Org1","Org2"]].drop_duplicates()

In [9]:
tree_cleaning.to_csv("../../data/9999 combined data/9999 data - 3 queries/tree_v2.csv",index=False)

In [10]:
tree_old.to_csv("../../data/9999 combined data/9999 data - 3 queries/tree_v1.csv",index=False)

In [11]:
tree_concat = pd.concat([tree_old,tree_cleaning])

In [14]:
tree_concat = tree_concat.drop_duplicates()

In [ ]:
tree_concat.to_csv("../../data/9999 combined data/9999 data - 3 queries/tree.csv",index=False)