In [1]:
import pandas as pd

## Extract uncoded career strings from old data

In [73]:
columnnames=["MOUID", "KoreanName", "CareerStringID", "CareerString", "CareerStartYear", "CareerStartMonth", "EventType", "JointAppointment", "Org1", "Org2", "Org3", "Org4", "Org5", "Position", "OrgLevel", "PositionLevel", "OrgPositionString"]
df=pd.read_csv("../old data/leader-career link table_dsl.csv",names=columnnames,header=None,delimiter=";",encoding="utf-8")

In [74]:
df

,MOUID,KoreanName,CareerStringID,CareerString,CareerStartYear,CareerStartMonth,EventType,JointAppointment,Org1,Org2,Org3,Org4,Org5,Position,OrgLevel,PositionLevel,OrgPositionString
0,102,장성택,1,1969. 모스크바 유학,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
1,102,장성택,2,1972. 김경희와 결혼,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
2,102,장성택,3,1982.10 당 청소년사업부 부부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
3,102,장성택,4,1985. 7 당 청소년사업부 제1부부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
4,102,장성택,5,1986.11 최고인민회의 제8기 대의원,1986.0,11.0,1.0,NaN,최고인민회의,NaN,NaN,NaN,NaN,대의원,1.0,3.0,최고인민회의_NA_NA_NA_대의원
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5702,807,강관주,3506,1993. 1 당 통일전선부 부장,1993.0,1.0,1.0,NaN,노동당,중앙위원회,통일전선부,NaN,NaN,부장,3.0,1.0,노동당_중앙위원회_통일전선부_NA_부장
5703,807,강관주,3507,1993.10 해외동포원호위원회 위원장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5704,807,강관주,3508,1997. 2 당 대외연락부(舊 사회문화부) 부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5705,807,강관주,3509,2009. 내각 225국 국장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5706,807,강관주,3510,연도미상김일성고급당학교 졸업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position

In [83]:
# No. of CareerString with no Org1 = 3076
# No. of UNIQUE CareerString with no Org1 = 2148
q1 = df[df["Org1"].isnull()][["CareerStringID","CareerString"]]
q1.shape
q1.drop_duplicates().shape

(2148, 2)

In [85]:
# No. of CareerString with no CareerStartYear = 3076
# No. of UNIQUE CareerString with no CareerStartYear = 2148
q1 = df[df["CareerStartYear"].isnull()][["CareerStringID","CareerString"]]
q1.shape
q1.drop_duplicates().shape

(2148, 2)

In [89]:
q1unique=q1.drop_duplicates()
q1unique

      CareerStringID                 CareerString
0                  1                1969. 모스크바 유학
1                  2                1972. 김경희와 결혼
2                  3         1982.10 당 청소년사업부 부부장
3                  4       1985. 7 당 청소년사업부 제1부부장
5                  6          1988.12 당 청소년사업부 부장
...              ...                          ...
5701            3505           1991. 9 보천보전자악단 고문
5703            3507        1993.10 해외동포원호위원회 위원장
5704            3508  1997. 2 당 대외연락부(舊 사회문화부) 부장
5705            3509             2009. 내각 225국 국장
5706            3510              연도미상김일성고급당학교 졸업

[2148 rows x 2 columns]

In [91]:
q1unique.to_excel("../old data/working files/uncoded careerstrings_old data.xlsx",encoding="utf-8")

## Organization Tree, for reference when coding

In [69]:
dforgcounts=dforg.groupby(["Org1","Org2","Org3","Org4","Org5"],dropna=False).size().reset_index(name='counts')
dforgcounts=dforgcounts.sort_values(by=["Org1","Org2","Org3","Org4","Org5","counts"])
dforgcounts

       Org1        Org2       Org3 Org4 Org5  counts
0     국방위원회       민족보위성        NaN  NaN  NaN       3
1     국방위원회         보위국        NaN  NaN  NaN       1
2     국방위원회       인민무력부       후방총국  NaN  NaN       1
3     국방위원회       인민무력부        NaN  NaN  NaN      23
4     국방위원회       인민보안부        NaN  NaN  NaN       3
..      ...         ...        ...  ...  ...     ...
378  최고인민회의  황해북도 인민위원회  서흥군 인민위원회  NaN  NaN       1
379  최고인민회의  황해북도 인민위원회        NaN  NaN  NaN       2
380  최고인민회의   황해북도인민위원회   개성시인민위원회  NaN  NaN       1
381  최고인민회의         NaN        NaN  NaN  NaN     867
382   최고재판소         NaN        NaN  NaN  NaN       1

[383 rows x 6 columns]

In [72]:
dforgcounts.to_excel("../old data/working files/organization tree.xlsx",encoding="utf-8")