In [1]:
import pandas as pd
import numpy as np
from datetime import date
from statistics import mean, mode
from pandas.api.types import CategoricalDtype
import math
from scipy.stats import norm

In [2]:
today = date.today()
print(today)

2024-02-10

# Tables

In [3]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [4]:
# tables
filename_careerorglink = "careerorglink.xlsx"
filename_leadercareerlink = "leadercareerlink.xlsx"
filename_orgtree = "orgtree.xlsx"
filename_elected = "positions_elected.xlsx"

In [5]:
# career-org link
# col = pd.read_excel(path_tables + filename_careerorglink,dtype="str")
# col.shape

In [6]:
# col.columns

In [7]:
# leader-career link
# lcl = pd.read_excel(path_tables + filename_leadercareerlink,dtype="str")
# lcl.shape

In [8]:
# lcl.columns

In [9]:
# orgtree
# org = pd.read_excel(path_tables + filename_orgtree,dtype="str")
# org.shape

In [10]:
# org.columns

In [11]:
# elected = pd.read_excel(path_tables + filename_elected,dtype="str")
# elected.shape

In [12]:
# elected.columns

# Queries

In [13]:
path_queries = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 3 queries/"

In [14]:
filename_leaderjob_all = "leaderjob_electUnelect_inOutgov.xlsx"
filename_leaderjob_no_spa = "leaderjob_no_spa.xlsx"
filename_leaderjobtransition_no_spa = "leaderjobtransition_no_spa.xlsx"

In [15]:
# leader jobs
# ljobs_all = pd.read_excel(path_queries + filename_leaderjob_all,dtype="str")
# ljobs_all.shape

In [16]:
# ljobs = pd.read_excel(path_queries + filename_leaderjob_no_spa,dtype="str")
# ljobs.shape

In [17]:
# transitions used for analysis - no SPA - no local-local
trans = pd.read_excel(path_queries + filename_leaderjobtransition_no_spa,dtype="str")
trans.shape

(4306, 31)

# Analysis - Research Note

In [18]:
path_analysis = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/analysis/"

In [19]:
# analysis sub-paths
study0_path = "2023.10.04 Study 0 - research note/"
study1_path = "2023.10.04 Study 1 - political capital/"
study2_path = "2023.10.04 Study 2 - commitment vs control/"
study3_path = "2023.10.04 Study 3 - reds vs experts/"

In [20]:
# ljobs = ljobs.astype({"CareerStartYear":"int","CareerStartDate":"int"})
# ljobs.dtypes

# Functions

In [21]:
def merge_results(m):
    
    print("\nMerge Results...")
    print("")
    print("\tshape     :",m.shape)
    print("\tleft_only :",m[m["_merge"]=="left_only"].shape)
    print("\tboth      :",m[m["_merge"]=="both"].shape)
    print("\tright_only:",m[m["_merge"]=="right_only"].shape)

In [22]:
# using this on (PI,OrgName) will ensure unique & non-null keys
# using this on a larger df will ensure unique rows and non-null keys, but not unique keys

def unique_non_null_rows(olddf):
    
    df = olddf.copy()
    
    
    ### drop duplicates
    df = df.drop_duplicates(keep="first",ignore_index=True)

    ### drop null rows
    df.dropna(how="all",axis=0,inplace=True)
    
    # drop rows with null PI
    df = df[~(df["PrimaryInstitution"].isna())]
        
    ### drop rows where PI contains stop words
    stop_words_lower = ["uncertain","current","deprecated","please_revise"]
    df = df[ ~ df["PrimaryInstitution"].str.lower().isin(stop_words_lower)]
            

    print("\nUnique Non-null Rows...")
    print("")
    print("\tNon-unique rows:",olddf.shape)
    print("\tUnique rows    :",df.shape)

    ### sort
    df = df.sort_values(["PrimaryInstitution","OrgName"])
    
    return df

In [23]:
def create_time_series(series,group_var,count_var):
    
    yeardist = series.groupby(group_var,as_index=False).count().sort_values(group_var)
    
    max_year = max(series[group_var])
    x = pd.DataFrame({"year":pd.Series(range(min(yeardist[group_var].astype(int)),max(yeardist[group_var].astype(int))+1))})
    
    yeardist[group_var] = yeardist[group_var].astype(int,errors="ignore")
    
    ts = x.merge(yeardist,left_on="year",right_on=group_var,how="left")
    ts.loc[ts[count_var].isna(),count_var]=0
    # merge_results(ts)
    
    ts_columns = ["year",count_var]
    ts = ts[ts_columns]
    
    return ts

In [24]:
# create InstitutionCategory (English) variable InstitutionType

# use with apply. e.g., 
# df["InstitutionCategory] = df["InstitutionType"].apply(define_institution_category)

def define_institution_category(PI):
    
    c = "Social"
    
    if PI=="정권기관":
        c = "Government"
    elif PI=="노동당":
        c = "Party"
    elif PI=="인민군":
        c = "Military"
        
    return c

In [25]:
def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
    
    pstar = (x1+x2)/(n1+n2)
    p1 = x1/n1
    p2 = x2/n2
    z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
    pvalue = 1-norm.cdf(abs(z))
    
    # add significance stars to result
    stars = ""
    if pvalue<.05:
        stars = "*"
    if pvalue<.01:
        stars = "**"
    if pvalue<.001:
        stars = "***"
    result = str(pvalue)+stars
    
    print("x1,x2,n1,n2:",[x1,x2,n1,n2])
    print("p1:\t",p1)
    print("p2:\t",p2)
    print("p1-p2:\t",(p1-p2))
    print("z:\t",z)
    print("pvalue:\t",result)

# Format & Covariates

### 0. change datatypes

In [26]:
trans = trans.astype({"OrgAdvance":"int","PositionAdvance":"int",
                      "CareerStartYear_1":"int","CareerStartYear_2":"int",
                      "CareerStartDate_1":"int","CareerStartDate_2":"int"})
trans.dtypes

LeaderID                   object
CareerString_1             object
CareerDateString_2022_1    object
CareerStartYear_1           int32
CareerStartMonth_1         object
CareerStartDate_1           int32
CareerSubstring_1          object
InstitutionType_1          object
PrimaryInstitution_1       object
OrgName_1                  object
Local_1                    object
Position_1                 object
IsElected_1                object
OrgRank_1                  object
PositionRank_1             object
CareerString_2             object
CareerDateString_2022_2    object
CareerStartYear_2           int32
CareerStartMonth_2         object
CareerStartDate_2           int32
CareerSubstring_2          object
InstitutionType_2          object
PrimaryInstitution_2       object
OrgName_2                  object
Local_2                    object
Position_2                 object
IsElected_2                object
OrgRank_2                  object
PositionRank_2             object
OrgAdvance                  int32
PositionAdvance             int32
dtype: object

### 1. double-check exlcudes SPA jobs and local-local trans

In [27]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance'],
      dtype='object')

In [28]:
trans.shape

(4306, 31)

In [29]:
trans.Local_1.unique()

array(['False', 'True'], dtype=object)

In [30]:
# remove Local-Local ties
trans = trans[~((trans["Local_1"]=="True") & (trans["Local_2"]=="True"))]
trans.shape

(4222, 31)

### 2. add InstitutionCategory_1, InstitutionCategory_2

In [31]:
trans.InstitutionType_1.unique()

array(['정권기관', '국제친선단체', '노동당', '인민군', '당외곽및사회단체_사회부문(별책)',
       '당외곽및사회단체_사회부문', '당외곽및사회단체_체육부문', '당외곽및사회단체_정치부문', '당외곽및사회단체_대외부문',
       '당외곽및사회단체_근로단체', '당외곽및사회단체_종교부문', '당외곽및사회단체_경제부문(별책)',
       '당외곽및사회단체_경제부문'], dtype=object)

### 3. PISame, OrgSame

In [32]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance'],
      dtype='object')

In [33]:
trans["PISame"] = False
trans.loc[trans["PrimaryInstitution_1"]==trans["PrimaryInstitution_2"],["PISame"]] = True
trans.PISame.unique()

array([False,  True])

In [34]:
trans["OrgSame"] = np.nan
trans.loc[trans["PISame"]==True,"OrgSame"] = False
trans.loc[(trans["PISame"]==True) & (trans["OrgName_1"]==trans["OrgName_2"]),["OrgSame"]] = True
trans.OrgSame.unique()

array([nan, True, False], dtype=object)

### 4. OrgRankChange, PositionRankChange

In [35]:
trans["OrgRankChange"] = np.nan

In [36]:
trans.loc[trans["PISame"] & (trans["OrgRank_1"]>trans["OrgRank_2"]),"OrgRankChange"] = "lower"
trans.loc[trans["PISame"] & (trans["OrgRank_1"]==trans["OrgRank_2"]),"OrgRankChange"] = "same"
trans.loc[trans["PISame"] & (trans["OrgRank_1"]<trans["OrgRank_2"]),"OrgRankChange"] = "higher"

In [37]:
value_order = ["lower","same","higher"]
trans.OrgRankChange = trans.OrgRankChange.astype("category")
trans.OrgRankChange = trans.OrgRankChange.cat.set_categories(value_order)

In [38]:
trans.OrgRankChange.unique()

[NaN, 'same', 'higher', 'lower']
Categories (3, object): ['lower', 'same', 'higher']

In [39]:
trans["PositionRankChange"] = np.nan

In [40]:
# PositionRankChange, narrowly defined, with OrgSame=True
# trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]>trans["PositionRank_2"]),"PositionRankChange"] = "lower"
# trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]==trans["PositionRank_2"]),"PositionRankChange"] = "same"
# trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]<trans["PositionRank_2"]),"PositionRankChange"] = "higher"

In [41]:
# PositionRankChange, broadly defined, with PISame=True & OrgRankChange="same"
trans.loc[trans["PISame"] & trans["OrgRankChange"].isin(["same"]) & (trans["PositionRank_1"]>trans["PositionRank_2"]),"PositionRankChange"] = "lower"
trans.loc[trans["PISame"] & trans["OrgRankChange"].isin(["same"]) & (trans["PositionRank_1"]==trans["PositionRank_2"]),"PositionRankChange"] = "same"
trans.loc[trans["PISame"] & trans["OrgRankChange"].isin(["same"]) & (trans["PositionRank_1"]<trans["PositionRank_2"]),"PositionRankChange"] = "higher"

In [42]:
value_order = ["lower","same","higher"]
trans.PositionRankChange = trans.PositionRankChange.astype("category")
trans.PositionRankChange = trans.PositionRankChange.cat.set_categories(value_order)

In [43]:
trans.PositionRankChange.unique()

[NaN, 'same', 'higher', 'lower']
Categories (3, object): ['lower', 'same', 'higher']

### 5. Succession Period - Broad

* KIS-->KJI: 1974-1993 - less institutionalized (stronger intra)
* KJI--->KJU:  2002-2011 - more institutionalized (stronger inter)

In [44]:
trans["Succession_Broad"] = np.nan

In [45]:
value_order = ["KIS to KJI","KJI to KJU"]
trans.Succession_Broad = trans.Succession_Broad.astype("category")
trans.Succession_Broad = trans.Succession_Broad.cat.set_categories(value_order)

In [46]:
trans.loc[(trans["CareerStartYear_2"]>1973) & (trans["CareerStartYear_2"]<1994),"Succession_Broad"] = "KIS to KJI"
trans.loc[(trans["CareerStartYear_2"]>2001) & (trans["CareerStartYear_2"]<2012),"Succession_Broad"] = "KJI to KJU"

In [47]:
trans[["Succession_Broad","OrgName_2"]].groupby("Succession_Broad",as_index=False).count()

  Succession_Broad  OrgName_2
0       KIS to KJI        674
1       KJI to KJU        648

In [48]:
trans.loc[trans["Succession_Broad"]=="KIS to KJI","CareerStartYear_2"]

34      1977
35      1977
36      1979
37      1980
38      1982
        ...
3805    1980
3934    1993
4285    1977
4286    1980
4287    1990
Name: CareerStartYear_2, Length: 1006, dtype: int32

### 6. Succession Period - Narrow

#### Esther's periodization
* KIS-->KJI: 1987-1994 - less institutionalized (stronger intra)
* KJI--->KJU:  2009-2011 - more institutionalized (stronger inter)

In [49]:
trans["Succession_Narrow"] = np.nan

In [50]:
value_order = ["KIS to KJI","KJI to KJU"]
trans.Succession_Narrow = trans.Succession_Narrow.astype("category")
trans.Succession_Narrow = trans.Succession_Narrow.cat.set_categories(value_order)

In [51]:
### Esther's periodization

trans.loc[(trans["CareerStartYear_2"]>1986) & (trans["CareerStartYear_2"]<1995),"Succession_Narrow"] = "KIS to KJI"
trans.loc[(trans["CareerStartYear_2"]>2008) & (trans["CareerStartYear_2"]<2012),"Succession_Narrow"] = "KJI to KJU"

In [52]:
trans[["Succession_Narrow","OrgName_2"]].groupby("Succession_Narrow",as_index=False).count()

  Succession_Narrow  OrgName_2
0        KIS to KJI        323
1        KJI to KJU        383

### 7. OrgAdvanceYes

In [53]:
trans["OrgAdvanceYes"] = np.nan

In [54]:
trans.loc[trans["PISame"]==True,"OrgAdvanceYes"] = False
trans.loc[trans["PISame"]==True & (trans["OrgRank_1"]>trans["OrgRank_2"]),"OrgAdvanceYes"] = True

### 8. PositionAdvanceYes

In [55]:
trans["PositionAdvanceYes"] = np.nan

In [56]:
trans.loc[trans["OrgSame"]==True,"PositionAdvanceYes"] = False
trans.loc[trans["OrgSame"]==True & (trans["PositionRank_1"]>trans["PositionRank_2"]),"PositionAdvanceYes"] = True

### 9. InstitutionCategory

In [57]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'PISame', 'OrgSame',
       'OrgRankChange', 'PositionRankChange', 'Succession_Broad',
       'Succession_Narrow', 'OrgAdvanceYes', 'PositionAdvanceYes'],
      dtype='object')

In [58]:
trans["InstitutionCategory_1"] = trans["InstitutionType_1"].apply(define_institution_category)
trans["InstitutionCategory_2"] = trans["InstitutionType_2"].apply(define_institution_category)

### 10. InstitutionCategorySame

In [59]:
trans["InstitutionCategorySame"] = trans["InstitutionCategory_1"] == trans["InstitutionCategory_2"]

### 11. Succession_Five

#### Jacob's periodization
* KIS-->KJI: 1994-1999 - less institutionalized (stronger intra)
* KJI--->KJU:  2011-2016 - more institutionalized (stronger inter)

In [60]:
trans["Succession_Five"] = np.nan

In [61]:
value_order = ["KIS to KJI","KJI to KJU"]
trans.Succession_Five = trans.Succession_Five.astype("category")
trans.Succession_Five = trans.Succession_Five.cat.set_categories(value_order)

In [62]:
### Jacob's periodization

trans.loc[(trans["CareerStartYear_2"]>1993) & (trans["CareerStartYear_2"]<2000),"Succession_Five"] = "KIS to KJI"
trans.loc[(trans["CareerStartYear_2"]>2010) & (trans["CareerStartYear_2"]<2016),"Succession_Five"] = "KJI to KJU"

In [63]:
trans[["Succession_Five","OrgName_2"]].groupby("Succession_Five",as_index=False).count()

  Succession_Five  OrgName_2
0      KIS to KJI        229
1      KJI to KJU        229

# Statistics

### 1. OrgRank increase - percent by year

In [64]:
stat1_columns = ["CareerStartYear_2","OrgAdvanceYes"]
stat1_groupby_columns = ["CareerStartYear_2"]
stat1_label_columns = ["Year","Total Transitions","Total Advancements of OrgRank"]

In [65]:
stat1 = trans[stat1_columns].groupby(stat1_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat1.columns = stat1_label_columns
stat1["Percentage Advancements of OrgRank"] = stat1.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat1

,Year,Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,1946,3,1,33.33
1,1947,1,True,100.00
2,1948,3,3,100.00
3,1949,1,True,100.00
4,1950,7,5,71.43
...,...,...,...,...
71,2017,59,29,49.15
72,2018,41,24,58.54
73,2019,127,69,54.33
74,2020,47,17,36.17
75,2021,216,106,49.07

In [66]:
stat1_filename = "orgrank_within_between.xlsx"
# stat1.to_excel(path_analysis + study0_path + stat2_filename,index=False)

### 2. OrgRank increase - percent by year, PISame = True

In [67]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'PISame', 'OrgSame',
       'OrgRankChange', 'PositionRankChange', 'Succession_Broad',
       'Succession_Narrow', 'OrgAdvanceYes', 'PositionAdvanceYes',
       'InstitutionCategory_1', 'InstitutionCategory_2',
       'InstitutionCategorySame', 'Succession_Five'],
      dtype='object')

In [68]:
stat2_columns = ["CareerStartYear_2","OrgAdvanceYes"]
stat2_condition = trans["PISame"]==True
stat2_groupby_columns = ["CareerStartYear_2"]
stat2_label_columns = ["Year","Total Transitions","Total Advancements of OrgRank"]

In [69]:
stat2 = trans.loc[stat2_condition,stat2_columns].groupby(stat2_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat2.columns = stat2_label_columns
stat2["Percentage Advancements of OrgRank"] = stat2.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat2

,Year,Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,1946,2,0,0.00
1,1948,2,2,100.00
2,1950,4,2,50.00
3,1951,5,0,0.00
4,1952,3,0,0.00
...,...,...,...,...
66,2017,33,3,9.09
67,2018,21,4,19.05
68,2019,67,9,13.43
69,2020,34,4,11.76
70,2021,158,48,30.38

In [70]:
# pivot SameInstitution -

In [71]:
# stat2_filename = "orgrank_within.xlsx"
# stat2.to_excel(path_analysis + study0_path + stat2_filename,index=False)

### 3. OrgRank increase - percent by succesion period (broad)

In [72]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'PISame', 'OrgSame',
       'OrgRankChange', 'PositionRankChange', 'Succession_Broad',
       'Succession_Narrow', 'OrgAdvanceYes', 'PositionAdvanceYes',
       'InstitutionCategory_1', 'InstitutionCategory_2',
       'InstitutionCategorySame', 'Succession_Five'],
      dtype='object')

In [73]:
stat3_columns = ["Succession_Broad","OrgAdvanceYes"]
stat3_condition = trans["PISame"]==True
stat3_groupby_columns = ["Succession_Broad"]
stat3_label_columns = ["Succession (Broad)","Total Transitions","Total Advancements of OrgRank"]

In [74]:
stat3 = trans.loc[stat3_condition,stat3_columns].groupby(stat3_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat3.columns = stat3_label_columns
stat3["Percentage Advancements of OrgRank"] = stat3.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat3

,Succession (Broad),Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,KIS to KJI,298,59,19.80
1,KJI to KJU,330,84,25.45

### 4. Transitions by period and institution

In [75]:
stat9_columns = ["Succession_Broad","OrgName_2"]
stat9_condition = trans["PISame"]==True
stat9_groupby_columns = ["Succession_Broad"]
stat9_label_columns = ["Succession (Broad)","Total Transitions","Total Advancements of OrgRank"]

In [76]:
trans.head()

,LeaderID,CareerString_1,CareerDateString_2022_1,CareerStartYear_1,CareerStartMonth_1,CareerStartDate_1,CareerSubstring_1,InstitutionType_1,PrimaryInstitution_1,OrgName_1,...,OrgRankChange,PositionRankChange,Succession_Broad,Succession_Narrow,OrgAdvanceYes,PositionAdvanceYes,InstitutionCategory_1,InstitutionCategory_2,InstitutionCategorySame,Succession_Five
0,리원일,1997.11 노동행정부 부부장,NaN,1997,11,199711,NaN,정권기관,정무원,노동행정부,...,NaN,NaN,NaN,NaN,True,NaN,Government,Government,True,KIS to KJI
1,리원일,노동성 상 *후임 : 강영수,1997.11,1997,11,199711,NaN,정권기관,내각,노동성,...,same,same,NaN,NaN,False,False,Government,Government,True,KIS to KJI
2,리원일,1998. 9 노동상,NaN,1998,9,199809,NaN,정권기관,내각,노동성,...,NaN,NaN,NaN,NaN,NaN,NaN,Government,Social,False,KIS to KJI
3,리원일,북-이란 친선협회 위원장,1998.11,1998,11,199811,NaN,국제친선단체,북-이란 친선협회,NaN,...,NaN,NaN,NaN,NaN,True,NaN,Social,Government,False,KIS to KJI
4,리원일,북-이란 친선협회 위원장,1998.11,1998,11,199811,NaN,국제친선단체,북-이란 친선협회,NaN,...,same,same,NaN,NaN,False,True,Social,Social,True,KIS to KJI

In [77]:
# stat9 = trans.loc[stat9_condition,stat9_columns].groupby(stat9_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
# stat9 = trans.loc[stat9_condition,stat9_columns].groupby(stat9_groupby_columns,as_index=False)["OrgName_2"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})

# Hypothesis 1a - Org Advancement, broad succession periods

In [78]:
select_columns = ["Succession_Broad","LeaderID"]
select_rows = trans["PISame"]==True
group_columns = ["Succession_Broad"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Broad  LeaderID
0       KIS to KJI       298
1       KJI to KJU       330

In [79]:
stat4_rows = trans["PISame"]==True
stat4_columns = ["Succession_Broad","OrgAdvanceYes"]
stat4_groupby = ["Succession_Broad"]
stat4_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [80]:
stat4 = trans.loc[stat4_rows,stat4_columns].groupby(stat4_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4

  Succession_Broad  Total Transitions Total Advancements
0       KIS to KJI                298                 59
1       KJI to KJU                330                 84

In [81]:
stat4["Percentage Advancements of OrgRank"] = stat4.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4

,Succession_Broad,Total Transitions,Total Advancements,Percentage Advancements of OrgRank
0,KIS to KJI,298,59,19.80
1,KJI to KJU,330,84,25.45

In [82]:
x1 = stat4.iloc[0,2]
x2 = stat4.iloc[1,2]
n1 = stat4.iloc[0,1]
n2 = stat4.iloc[1,1]

In [83]:
# 2-sample test of proportions
# def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
two_sample_ttest_proportions(x1,x2,n1,n2,.05)

x1,x2,n1,n2: [59, 84, 298, 330]
p1:	 0.19798657718120805
p2:	 0.2545454545454545
p1-p2:	 -0.056558877364246474
z:	 -1.687744946895045
pvalue:	 0.045730099857957174*

# Hypothesis 1b - Position Advancement, broad succession periods

In [84]:
select_columns = ["Succession_Broad","LeaderID"]
select_rows = (trans["PISame"] & trans["OrgRankChange"].isin(["same"]))
group_columns = ["Succession_Broad"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Broad  LeaderID
0       KIS to KJI       181
1       KJI to KJU       209

In [85]:
stat4b_rows = (trans["PISame"] & trans["OrgRankChange"].isin(["same"]))
stat4b_columns = ["Succession_Broad","PositionAdvanceYes"]
stat4b_groupby = ["Succession_Broad"]
stat4b_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [86]:
stat4b = trans.loc[stat4b_rows,stat4b_columns].groupby(stat4b_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4b

  Succession_Broad  Total Transitions Total Advancements
0       KIS to KJI                148                104
1       KJI to KJU                179                127

In [87]:
stat4b["Percentage Advancements of Position Rank"] = stat4b.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4b

,Succession_Broad,Total Transitions,Total Advancements,Percentage Advancements of Position Rank
0,KIS to KJI,148,104,70.27
1,KJI to KJU,179,127,70.95

In [88]:
x1 = stat4b.iloc[0,2]
x2 = stat4b.iloc[1,2]
n1 = stat4b.iloc[0,1]
n2 = stat4b.iloc[1,1]

In [89]:
# 2-sample test of proportions
# def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
two_sample_ttest_proportions(x1,x2,n1,n2,.05)

x1,x2,n1,n2: [104, 127, 148, 179]
p1:	 0.7027027027027027
p2:	 0.7094972067039106
p1-p2:	 -0.006794504001207846
z:	 -0.1342911527409919
pvalue:	 0.4465861744819051

# Hypothesis 1c - Org Advancement, broad succession, by Institution

In [90]:
select_rows = trans["PISame"]==True
select_columns = ["Succession_Broad","LeaderID"]
group_columns = ["Succession_Broad"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Broad  LeaderID
0       KIS to KJI       298
1       KJI to KJU       330

In [91]:
select_columns = ["InstitutionCategorySame","PISame","LeaderID"]
groupby_columns1 = ["InstitutionCategorySame"]
groupby_columns2 = ["PISame"]
groupby_columns3 = ["InstitutionCategorySame","PISame"]

In [92]:
trans[select_columns].groupby(groupby_columns3).count()

                                LeaderID
InstitutionCategorySame PISame
False                   False       1952
True                    False        768
                        True        1502

In [93]:
ics = list(trans.InstitutionCategory_2.unique())
ics

['Government', 'Social', 'Party', 'Military']

In [94]:
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True)
    stat4c_columns = ["Succession_Broad","OrgAdvanceYes"]
    stat4c_groupby = ["Succession_Broad"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements of OrgRank"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    x1 = stat4c.iloc[0,2]
    x2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(x1,x2,n1,n2,.05)

 Government


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                116                 19
1       KJI to KJU                190                 34

   Percentage Advancements of OrgRank
0                               16.38
1                               17.89

x1,x2,n1,n2: [19, 34, 116, 190]
p1:	 0.16379310344827586
p2:	 0.17894736842105263
p1-p2:	 -0.015154264972776776
z:	 -0.3398624544967551
pvalue:	 0.36698005616825735


 Social


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 27                  3
1       KJI to KJU                 17                  2

   Percentage Advancements of OrgRank
0                               11.11
1                               11.76

x1,x2,n1,n2: [3, 2, 27, 17]
p1:	 0.1111111111111111
p2:	 0.11764705882352941
p1-p2:	 -0.006535947712418305
z:	 -0.06651566609527824
pvalue:	 0.4734836427950646


 Party


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                143                 35
1       KJI to KJU                 96                 43

   Percentage Advancements of OrgRank
0                               24.48
1                               44.79

x1,x2,n1,n2: [35, 43, 143, 96]
p1:	 0.24475524475524477
p2:	 0.4479166666666667
p1-p2:	 -0.20316142191142192
z:	 -3.283852109382434
pvalue:	 0.0005119932068603505***


 Military


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 12                  2
1       KJI to KJU                 27                  5

   Percentage Advancements of OrgRank
0                               16.67
1                               18.52

x1,x2,n1,n2: [2, 5, 12, 27]
p1:	 0.16666666666666666
p2:	 0.18518518518518517
p1-p2:	 -0.018518518518518517
z:	 -0.13908716006604668
pvalue:	 0.4446906371931195

# Hypothesis 1d - Position Advancement, broad succession, by Institution

In [95]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True) & (trans["OrgRankChange"].isin(["same"]))
    stat4c_columns = ["Succession_Broad","PositionAdvanceYes"]
    stat4c_groupby = ["Succession_Broad"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    x1 = stat4c.iloc[0,2]
    x2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(x1,x2,n1,n2,.05)

 Government


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 59                 46
1       KJI to KJU                120                 71

   Percentage Advancements
0                    77.97
1                    59.17

x1,x2,n1,n2: [46, 71, 59, 120]
p1:	 0.7796610169491526
p2:	 0.5916666666666667
p1-p2:	 0.1879943502824859
z:	 2.4848442165096536
pvalue:	 0.006480406923956017**


 Social


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 17                 14
1       KJI to KJU                  9                  8

   Percentage Advancements
0                    82.35
1                    88.89

x1,x2,n1,n2: [14, 8, 17, 9]
p1:	 0.8235294117647058
p2:	 0.8888888888888888
p1-p2:	 -0.065359477124183
z:	 -0.43944003692053646
pvalue:	 0.33017136079709886


 Party


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 65                 37
1       KJI to KJU                 36                 34

   Percentage Advancements
0                    56.92
1                    94.44

x1,x2,n1,n2: [37, 34, 65, 36]
p1:	 0.5692307692307692
p2:	 0.9444444444444444
p1-p2:	 -0.3752136752136752
z:	 -3.952368891530873
pvalue:	 3.869066397377274e-05***


 Military


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                  7                  7
1       KJI to KJU                 14                 14

   Percentage Advancements
0                    100.0
1                    100.0

x1,x2,n1,n2: [7, 14, 7, 14]
p1:	 1.0
p2:	 1.0
p1-p2:	 0.0
z:	 nan
pvalue:	 nan

C:\Users\seoul\AppData\Local\Temp\ipykernel_20812\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))

# Hypothesis 2a - Org Advancement, narrow succession periods

In [96]:
select_columns = ["Succession_Narrow","LeaderID"]
select_rows = trans["PISame"]==True
group_columns = ["Succession_Narrow"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Narrow  LeaderID
0        KIS to KJI       145
1        KJI to KJU       164

In [97]:
stat4_rows = trans["PISame"]==True
stat4_columns = ["Succession_Narrow","OrgAdvanceYes"]
stat4_groupby = ["Succession_Narrow"]
stat4_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [98]:
stat4 = trans.loc[stat4_rows,stat4_columns].groupby(stat4_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4

  Succession_Narrow  Total Transitions Total Advancements
0        KIS to KJI                145                 27
1        KJI to KJU                164                 57

In [99]:
stat4["Percentage Advancements of OrgRank"] = stat4.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4

,Succession_Narrow,Total Transitions,Total Advancements,Percentage Advancements of OrgRank
0,KIS to KJI,145,27,18.62
1,KJI to KJU,164,57,34.76

In [100]:
x1 = stat4.iloc[0,2]
x2 = stat4.iloc[1,2]
n1 = stat4.iloc[0,1]
n2 = stat4.iloc[1,1]

In [101]:
# 2-sample test of proportions
# def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
two_sample_ttest_proportions(x1,x2,n1,n2,.05)

x1,x2,n1,n2: [27, 57, 145, 164]
p1:	 0.18620689655172415
p2:	 0.3475609756097561
p1-p2:	 -0.16135407905803192
z:	 -3.1815167326942206
pvalue:	 0.000732530297688383***

# Hypothesis 2b - Position Advancement, narrow succession periods

In [102]:
select_columns = ["Succession_Narrow","LeaderID"]
select_rows = (trans["PISame"] & trans["OrgRankChange"].isin(["same"]))
group_columns = ["Succession_Narrow"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Narrow  LeaderID
0        KIS to KJI        92
1        KJI to KJU        96

In [103]:
stat4b_rows = (trans["PISame"] & trans["OrgRankChange"].isin(["same"]))
stat4b_columns = ["Succession_Narrow","PositionAdvanceYes"]
stat4b_groupby = ["Succession_Narrow"]
stat4b_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [104]:
stat4b = trans.loc[stat4b_rows,stat4b_columns].groupby(stat4b_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4b

  Succession_Narrow  Total Transitions Total Advancements
0        KIS to KJI                 77                 50
1        KJI to KJU                 84                 53

In [105]:
stat4b["Percentage Advancements of Position Rank"] = stat4b.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4b

,Succession_Narrow,Total Transitions,Total Advancements,Percentage Advancements of Position Rank
0,KIS to KJI,77,50,64.94
1,KJI to KJU,84,53,63.10

In [106]:
x1 = stat4b.iloc[0,2]
x2 = stat4b.iloc[1,2]
n1 = stat4b.iloc[0,1]
n2 = stat4b.iloc[1,1]

In [107]:
# 2-sample test of proportions
# def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
two_sample_ttest_proportions(x1,x2,n1,n2,.05)

x1,x2,n1,n2: [50, 53, 77, 84]
p1:	 0.6493506493506493
p2:	 0.6309523809523809
p1-p2:	 0.018398268398268414
z:	 0.24290826088800938
pvalue:	 0.4040382329721378

# Hypothesis 2c - Org Advancement, narrow succession, by Institution

In [108]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True)
    stat4c_columns = ["Succession_Narrow","OrgAdvanceYes"]
    stat4c_groupby = ["Succession_Narrow"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements of OrgRank"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    x1 = stat4c.iloc[0,2]
    x2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(x1,x2,n1,n2,.05)

 Government


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                 65                 11
1        KJI to KJU                 65                 13

   Percentage Advancements of OrgRank
0                               16.92
1                               20.00

x1,x2,n1,n2: [11, 13, 65, 65]
p1:	 0.16923076923076924
p2:	 0.2
p1-p2:	 -0.03076923076923077
z:	 -0.45210896443586523
pvalue:	 0.3255952429886011


 Social


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                  7                  1
1        KJI to KJU                  1              False

   Percentage Advancements of OrgRank
0                               14.29
1                                0.00

x1,x2,n1,n2: [1, False, 7, 1]
p1:	 0.14285714285714285
p2:	 0.0
p1-p2:	 0.14285714285714285
z:	 0.40406101782088427
pvalue:	 0.34308392492761963


 Party


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                 66                 13
1        KJI to KJU                 85                 43

   Percentage Advancements of OrgRank
0                               19.70
1                               50.59

x1,x2,n1,n2: [13, 43, 66, 85]
p1:	 0.19696969696969696
p2:	 0.5058823529411764
p1-p2:	 -0.3089126559714795
z:	 -3.8980713988054516
pvalue:	 4.848091543152577e-05***


 Military


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                  7                  2
1        KJI to KJU                 13                  1

   Percentage Advancements of OrgRank
0                               28.57
1                                7.69

x1,x2,n1,n2: [2, 1, 7, 13]
p1:	 0.2857142857142857
p2:	 0.07692307692307693
p1-p2:	 0.20879120879120877
z:	 1.2472767145898402
pvalue:	 0.10614802621222108

# Hypothesis 2d - Position Advancement, narrow succession, by Institution

In [109]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True) & (trans["OrgRankChange"].isin(["same"]))
    stat4c_columns = ["Succession_Narrow","PositionAdvanceYes"]
    stat4c_groupby = ["Succession_Narrow"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    x1 = stat4c.iloc[0,2]
    x2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(x1,x2,n1,n2,.05)

 Government


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                 38                 27
1        KJI to KJU                 47                 17

   Percentage Advancements
0                    71.05
1                    36.17

x1,x2,n1,n2: [27, 17, 38, 47]
p1:	 0.7105263157894737
p2:	 0.3617021276595745
p1-p2:	 0.3488241881298992
z:	 3.1999155409463587
pvalue:	 0.000687339322961722***


 Social


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                  6                  3
1        KJI to KJU                  0                  0

   Percentage Advancements
0                     50.0
1                      NaN

x1,x2,n1,n2: [3, 0, 6, 0]
p1:	 0.5
p2:	 nan
p1-p2:	 nan
z:	 nan
pvalue:	 nan


 Party


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                 30                 17
1        KJI to KJU                 30                 29

   Percentage Advancements
0                    56.67
1                    96.67

x1,x2,n1,n2: [17, 29, 30, 30]
p1:	 0.5666666666666667
p2:	 0.9666666666666667
p1-p2:	 -0.4
z:	 -3.662806174004159
pvalue:	 0.0001247336511635***


 Military


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                  3                  3
1        KJI to KJU                  7                  7

   Percentage Advancements
0                    100.0
1                    100.0

x1,x2,n1,n2: [3, 7, 3, 7]
p1:	 1.0
p2:	 1.0
p1-p2:	 0.0
z:	 nan
pvalue:	 nan

C:\Users\seoul\AppData\Local\Temp\ipykernel_20812\2071851454.py:5: RuntimeWarning: invalid value encountered in scalar divide
  p2 = x2/n2
C:\Users\seoul\AppData\Local\Temp\ipykernel_20812\2071851454.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_20812\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))

# Hypothesis 3a - Org Advancement, succession period = Five

In [110]:
select_columns = ["Succession_Five","LeaderID"]
select_rows = trans["PISame"]==True
group_columns = ["Succession_Five"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Five  LeaderID
0      KIS to KJI        94
1      KJI to KJU       135

In [111]:
stat4_rows = trans["PISame"]==True
stat4_columns = ["Succession_Five","OrgAdvanceYes"]
stat4_groupby = ["Succession_Five"]
stat4_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [112]:
stat4 = trans.loc[stat4_rows,stat4_columns].groupby(stat4_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4

  Succession_Five  Total Transitions Total Advancements
0      KIS to KJI                 94                 26
1      KJI to KJU                135                 26

In [113]:
stat4["Percentage Advancements of OrgRank"] = stat4.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4

,Succession_Five,Total Transitions,Total Advancements,Percentage Advancements of OrgRank
0,KIS to KJI,94,26,27.66
1,KJI to KJU,135,26,19.26

In [114]:
# 2-sample test of proportions
two_sample_ttest_proportions(25,28,94,135,.05)

x1,x2,n1,n2: [25, 28, 94, 135]
p1:	 0.26595744680851063
p2:	 0.2074074074074074
p1-p2:	 0.05855003940110323
z:	 1.0334309766029885
pvalue:	 0.1507011281797649

# Hypothesis 3b - Position Advancement, succession period = Five

In [115]:
select_columns = ["Succession_Five","LeaderID"]
select_rows = (trans["PISame"] & trans["OrgSame"])==True
group_columns = ["Succession_Five"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Five  LeaderID
0      KIS to KJI        15
1      KJI to KJU        26

In [116]:
stat4b_rows = (trans["PISame"] & trans["OrgSame"])==True
stat4b_columns = ["Succession_Five","PositionAdvanceYes"]
stat4b_groupby = ["Succession_Five"]
stat4b_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [117]:
stat4b = trans.loc[stat4b_rows,stat4b_columns].groupby(stat4b_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4b

  Succession_Five  Total Transitions Total Advancements
0      KIS to KJI                 15                  7
1      KJI to KJU                 26                 11

In [118]:
stat4b["Percentage Advancements of Position Rank"] = stat4b.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4b

,Succession_Five,Total Transitions,Total Advancements,Percentage Advancements of Position Rank
0,KIS to KJI,15,7,46.67
1,KJI to KJU,26,11,42.31

In [119]:
# 2-sample test of proportions
two_sample_ttest_proportions(7,11,15,26,.05)

x1,x2,n1,n2: [7, 11, 15, 26]
p1:	 0.4666666666666667
p2:	 0.4230769230769231
p1-p2:	 0.0435897435897436
z:	 0.2708996074187647
pvalue:	 0.39323412348757303

# Hypothesis 3c - Org Advancement, succession = Five, by Institution

In [120]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True)
    stat4c_columns = ["Succession_Five","OrgAdvanceYes"]
    stat4c_groupby = ["Succession_Five"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements of OrgRank"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    p1 = stat4c.iloc[0,2]
    p2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(p1,p2,n1,n2,.05)

 Government


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                 58                 18
1      KJI to KJU                 62                 15

   Percentage Advancements of OrgRank
0                               31.03
1                               24.19

x1,x2,n1,n2: [18, 15, 58, 62]
p1:	 0.3103448275862069
p2:	 0.24193548387096775
p1-p2:	 0.06840934371523916
z:	 0.8386858046687862
pvalue:	 0.20082282311395816


 Social


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                 11                  1
1      KJI to KJU                  5                  0

   Percentage Advancements of OrgRank
0                                9.09
1                                0.00

x1,x2,n1,n2: [1, 0, 11, 5]
p1:	 0.09090909090909091
p2:	 0.0
p1-p2:	 0.09090909090909091
z:	 0.6963106238227914
pvalue:	 0.24311716069414868


 Party


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                 16                  2
1      KJI to KJU                 58                  5

   Percentage Advancements of OrgRank
0                               12.50
1                                8.62

x1,x2,n1,n2: [2, 5, 16, 58]
p1:	 0.125
p2:	 0.08620689655172414
p1-p2:	 0.038793103448275856
z:	 0.46941606784036455
pvalue:	 0.31938613275325445


 Military


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                  9                  5
1      KJI to KJU                 10                  6

   Percentage Advancements of OrgRank
0                               55.56
1                               60.00

x1,x2,n1,n2: [5, 6, 9, 10]
p1:	 0.5555555555555556
p2:	 0.6
p1-p2:	 -0.0444444444444444
z:	 -0.19591793788175269
pvalue:	 0.42233719847358553

# Hypothesis 3d - Position Advancement, Succession = Five, by Institution

In [121]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True) & (trans["OrgSame"]==True)
    stat4c_columns = ["Succession_Five","PositionAdvanceYes"]
    stat4c_groupby = ["Succession_Five"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    p1 = stat4c.iloc[0,2]
    p2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(p1,p2,n1,n2,.05)

 Government


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                 11                  4
1      KJI to KJU                 19                  5

   Percentage Advancements
0                    36.36
1                    26.32

x1,x2,n1,n2: [4, 5, 11, 19]
p1:	 0.36363636363636365
p2:	 0.2631578947368421
p1-p2:	 0.10047846889952156
z:	 0.578729841692194
pvalue:	 0.2813857384811673


 Social


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                  3                  2
1      KJI to KJU                  1               True

   Percentage Advancements
0                    66.67
1                   100.00

x1,x2,n1,n2: [2, True, 3, 1]
p1:	 0.6666666666666666
p2:	 1.0
p1-p2:	 -0.33333333333333337
z:	 -0.6666666666666667
pvalue:	 0.2524925375469229


 Party


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                  1               True
1      KJI to KJU                  5                  5

   Percentage Advancements
0                    100.0
1                    100.0

x1,x2,n1,n2: [True, 5, 1, 5]
p1:	 1.0
p2:	 1.0
p1-p2:	 0.0
z:	 nan
pvalue:	 nan


 Military


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                  0                  0
1      KJI to KJU                  1              False

   Percentage Advancements
0                      NaN
1                      0.0

x1,x2,n1,n2: [0, False, 0, 1]
p1:	 nan
p2:	 0.0
p1-p2:	 nan
z:	 nan
pvalue:	 nan

C:\Users\seoul\AppData\Local\Temp\ipykernel_20812\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_20812\2071851454.py:4: RuntimeWarning: invalid value encountered in scalar divide
  p1 = x1/n1
C:\Users\seoul\AppData\Local\Temp\ipykernel_20812\2071851454.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_20812\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))