In [109]:
import pandas as pd
import numpy as np
from datetime import date
from statistics import mean, mode
from pandas.api.types import CategoricalDtype
import math

In [5]:
today = date.today()
print(today)

2023-12-17

# Tables

In [6]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [7]:
# tables
filename_careerorglink = "careerorglink.xlsx"
filename_leadercareerlink = "leadercareerlink.xlsx"
filename_orgtree = "orgtree.xlsx"
filename_elected = "positions_elected.xlsx"

In [8]:
# career-org link
# col = pd.read_excel(path_tables + filename_careerorglink,dtype="str")
# col.shape

In [9]:
# col.columns

In [10]:
# leader-career link
# lcl = pd.read_excel(path_tables + filename_leadercareerlink,dtype="str")
# lcl.shape

In [11]:
# lcl.columns

In [12]:
# orgtree
# org = pd.read_excel(path_tables + filename_orgtree,dtype="str")
# org.shape

In [13]:
# org.columns

In [14]:
# elected = pd.read_excel(path_tables + filename_elected,dtype="str")
# elected.shape

In [15]:
# elected.columns

# Queries

In [16]:
path_queries = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 3 queries/"

In [17]:
filename_leaderjob_all = "leaderjob_electUnelect_inOutgov.xlsx"
filename_leaderjob_no_spa = "leaderjob_no_spa.xlsx"
filename_leaderjobtransition_no_spa = "leaderjobtransition_no_spa.xlsx"

In [18]:
# leader jobs
# ljobs_all = pd.read_excel(path_queries + filename_leaderjob_all,dtype="str")
# ljobs_all.shape

In [19]:
# ljobs = pd.read_excel(path_queries + filename_leaderjob_no_spa,dtype="str")
# ljobs.shape

In [20]:
# transitions used for analysis - no SPA - no local-local
trans = pd.read_excel(path_queries + filename_leaderjobtransition_no_spa,dtype="str")
trans.shape

(4306, 31)

# Analysis - Research Note

In [21]:
path_analysis = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/analysis/"

In [22]:
# analysis sub-paths
study0_path = "2023.10.04 Study 0 - research note/"
study1_path = "2023.10.04 Study 1 - political capital/"
study2_path = "2023.10.04 Study 2 - commitment vs control/"
study3_path = "2023.10.04 Study 3 - reds vs experts/"

In [23]:
# ljobs = ljobs.astype({"CareerStartYear":"int","CareerStartDate":"int"})
# ljobs.dtypes

# Functions

In [24]:
def merge_results(m):
    
    print("\nMerge Results...")
    print("")
    print("\tshape     :",m.shape)
    print("\tleft_only :",m[m["_merge"]=="left_only"].shape)
    print("\tboth      :",m[m["_merge"]=="both"].shape)
    print("\tright_only:",m[m["_merge"]=="right_only"].shape)

In [25]:
# using this on (PI,OrgName) will ensure unique & non-null keys
# using this on a larger df will ensure unique rows and non-null keys, but not unique keys

def unique_non_null_rows(olddf):
    
    df = olddf.copy()
    
    
    ### drop duplicates
    df = df.drop_duplicates(keep="first",ignore_index=True)

    ### drop null rows
    df.dropna(how="all",axis=0,inplace=True)
    
    # drop rows with null PI
    df = df[~(df["PrimaryInstitution"].isna())]
        
    ### drop rows where PI contains stop words
    stop_words_lower = ["uncertain","current","deprecated","please_revise"]
    df = df[ ~ df["PrimaryInstitution"].str.lower().isin(stop_words_lower)]
            

    print("\nUnique Non-null Rows...")
    print("")
    print("\tNon-unique rows:",olddf.shape)
    print("\tUnique rows    :",df.shape)

    ### sort
    df = df.sort_values(["PrimaryInstitution","OrgName"])
    
    return df

In [26]:
def create_time_series(series,group_var,count_var):
    
    yeardist = series.groupby(group_var,as_index=False).count().sort_values(group_var)
    
    max_year = max(series[group_var])
    x = pd.DataFrame({"year":pd.Series(range(min(yeardist[group_var].astype(int)),max(yeardist[group_var].astype(int))+1))})
    
    yeardist[group_var] = yeardist[group_var].astype(int,errors="ignore")
    
    ts = x.merge(yeardist,left_on="year",right_on=group_var,how="left")
    ts.loc[ts[count_var].isna(),count_var]=0
    # merge_results(ts)
    
    ts_columns = ["year",count_var]
    ts = ts[ts_columns]
    
    return ts

In [110]:
def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
    
    pstar = (x1+x2)/(n1+n2)
    p1 = x1/n1
    p2 = x2/n2
    z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
    #pvalue = 
    print("p1:\t",p1)
    print("p2:\t",p2)
    print("p1-p2:\t",(p1-p2))
    print("z:\t",z)
    print("pvalue:\t","calculate")

# Format & Covariates

### 0. change datatypes

In [27]:
trans = trans.astype({"OrgAdvance":"int","PositionAdvance":"int",
                      "CareerStartYear_1":"int","CareerStartYear_2":"int",
                      "CareerStartDate_1":"int","CareerStartDate_2":"int"})
trans.dtypes

LeaderID                   object
CareerString_1             object
CareerDateString_2022_1    object
CareerStartYear_1           int32
CareerStartMonth_1         object
CareerStartDate_1           int32
CareerSubstring_1          object
InstitutionType_1          object
PrimaryInstitution_1       object
OrgName_1                  object
Local_1                    object
Position_1                 object
IsElected_1                object
OrgRank_1                  object
PositionRank_1             object
CareerString_2             object
CareerDateString_2022_2    object
CareerStartYear_2           int32
CareerStartMonth_2         object
CareerStartDate_2           int32
CareerSubstring_2          object
InstitutionType_2          object
PrimaryInstitution_2       object
OrgName_2                  object
Local_2                    object
Position_2                 object
IsElected_2                object
OrgRank_2                  object
PositionRank_2             object
OrgAdvance                  int32
PositionAdvance             int32
dtype: object

### 1. double-check exlcudes SPA jobs and local-local trans

In [28]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance'],
      dtype='object')

In [29]:
trans.shape

(4306, 31)

In [30]:
trans.Local_1.unique()

array(['False', 'True'], dtype=object)

In [31]:
# remove Local-Local ties
trans2 = trans[~((trans["Local_1"]=="True") & (trans["Local_2"]=="True"))]
trans2.shape

(4222, 31)

### 2. add InstitutionCategory_1, InstitutionCategory_2

In [32]:
trans.InstitutionType_1.unique()

array(['정권기관', '국제친선단체', '노동당', '인민군', '당외곽및사회단체_사회부문(별책)',
       '당외곽및사회단체_사회부문', '당외곽및사회단체_체육부문', '당외곽및사회단체_정치부문', '당외곽및사회단체_대외부문',
       '당외곽및사회단체_근로단체', '당외곽및사회단체_종교부문', '당외곽및사회단체_경제부문(별책)',
       '당외곽및사회단체_경제부문'], dtype=object)

### 3. PISame, OrgSame

In [33]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance'],
      dtype='object')

In [34]:
trans["PISame"] = False
trans.loc[trans["PrimaryInstitution_1"]==trans["PrimaryInstitution_2"],["PISame"]] = True
trans.PISame.unique()

array([False,  True])

In [35]:
trans["OrgSame"] = np.nan
trans.loc[trans["PISame"]==True,"OrgSame"] = False
trans.loc[(trans["PISame"]==True) & (trans["OrgName_1"]==trans["OrgName_2"]),["OrgSame"]] = True
trans.OrgSame.unique()

array([nan, True, False], dtype=object)

### 4. OrgRankChange, PositionRankChange

In [36]:
trans["OrgRankChange"] = np.nan

In [37]:
trans.loc[trans["PISame"] & (trans["OrgRank_1"]>trans["OrgRank_2"]),"OrgRankChange"] = "lower"
trans.loc[trans["PISame"] & (trans["OrgRank_1"]==trans["OrgRank_2"]),"OrgRankChange"] = "same"
trans.loc[trans["PISame"] & (trans["OrgRank_1"]<trans["OrgRank_2"]),"OrgRankChange"] = "higher"

In [38]:
value_order = ["lower","same","higher"]
trans.OrgRankChange = trans.OrgRankChange.astype("category")
trans.OrgRankChange = trans.OrgRankChange.cat.set_categories(value_order)

In [39]:
trans.OrgRankChange.unique()

[NaN, 'same', 'higher', 'lower']
Categories (3, object): ['lower', 'same', 'higher']

In [40]:
trans["PositionRankChange"] = np.nan

In [41]:
trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]>trans["PositionRank_2"]),"PositionRankChange"] = "lower"
trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]==trans["PositionRank_2"]),"PositionRankChange"] = "same"
trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]<trans["PositionRank_2"]),"PositionRankChange"] = "higher"

In [42]:
value_order = ["lower","same","higher"]
trans.PositionRankChange = trans.PositionRankChange.astype("category")
trans.PositionRankChange = trans.PositionRankChange.cat.set_categories(value_order)

In [43]:
trans.PositionRankChange.unique()

[NaN, 'same', 'lower', 'higher']
Categories (3, object): ['lower', 'same', 'higher']

### 5. Succession Period - Broad

* KIS-->KJI: 1974-1993 - less institutionalized (stronger intra)
* KJI--->KJU:  2002-2011 - more institutionalized (stronger inter)

In [49]:
trans["Succession_Broad"] = np.nan

In [55]:
value_order = ["KIS to KJI","KJI to KJU"]
trans.Succession_Broad = trans.Succession_Broad.astype("category")
trans.Succession_Broad = trans.Succession_Broad.cat.set_categories(value_order)

In [56]:
trans.loc[(trans["CareerStartYear_2"]>1973) & (trans["CareerStartYear_2"]<1994),"Succession_Broad"] = "KIS to KJI"
trans.loc[(trans["CareerStartYear_2"]>2001) & (trans["CareerStartYear_2"]<2012),"Succession_Broad"] = "KJI to KJU"

In [57]:
trans[["Succession_Broad","OrgName_2"]].groupby("Succession_Broad",as_index=False).count()

  Succession_Broad  OrgName_2
0       KIS to KJI        693
1       KJI to KJU        655

### 6. Succession Period - Narrow

* KIS-->KJI: 1987-1994 - less institutionalized (stronger intra)
* KJI--->KJU:  2009-2011 - more institutionalized (stronger inter)

In [58]:
trans["Succession_Narrow"] = np.nan

In [60]:
value_order = ["KIS to KJI","KJI to KJU"]
trans.Succession_Narrow = trans.Succession_Narrow.astype("category")
trans.Succession_Narrow = trans.Succession_Narrow.cat.set_categories(value_order)

In [61]:
trans.loc[(trans["CareerStartYear_2"]>1986) & (trans["CareerStartYear_2"]<1995),"Succession_Narrow"] = "KIS to KJI"
trans.loc[(trans["CareerStartYear_2"]>2008) & (trans["CareerStartYear_2"]<2012),"Succession_Narrow"] = "KJI to KJU"

In [62]:
trans[["Succession_Narrow","OrgName_2"]].groupby("Succession_Narrow",as_index=False).count()

  Succession_Narrow  OrgName_2
0        KIS to KJI        330
1        KJI to KJU        385

### 7. OrgAdvanceYes

In [70]:
trans["OrgAdvanceYes"] = np.nan

In [71]:
trans.loc[trans["PISame"]==True,"OrgAdvanceYes"] = False
trans.loc[trans["PISame"]==True & (trans["OrgRank_1"]>trans["OrgRank_2"]),"OrgAdvanceYes"] = True

### PositionAdvanceYes

In [73]:
trans["PositionAdvanceYes"] = np.nan

In [74]:
trans.loc[trans["OrgSame"]==True,"PositionAdvanceYes"] = False
trans.loc[trans["OrgSame"]==True & (trans["PositionRank_1"]>trans["PositionRank_2"]),"PositionAdvanceYes"] = True

# Statistics

### 1. OrgRank increase - percent by year

In [60]:
stat1_columns = ["CareerStartYear_2","OrgAdvanceYes"]
stat1_groupby_columns = ["CareerStartYear_2"]
stat1_label_columns = ["Year","Total Transitions","Total Advancements of OrgRank"]

In [69]:
stat1 = trans2[stat1_columns].groupby(stat1_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat1.columns = stat1_label_columns
stat1["Percentage Advancements of OrgRank"] = stat1.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat1

,Year,Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,1946,5,1,20.00
1,1947,1,0,0.00
2,1948,3,2,66.67
3,1949,1,0,0.00
4,1950,10,2,20.00
...,...,...,...,...
71,2017,67,19,28.36
72,2018,59,19,32.20
73,2019,164,48,29.27
74,2020,64,20,31.25
75,2021,236,58,24.58

In [ ]:
stat1_filename = "orgrank_within_between.xlsx"
stat1.to_excel(path_analysis + study0_path + stat2_filename,index=False)

### 2. OrgRank increase - percent by year, within & between PrimaryInstitution

In [54]:
trans2.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'OrgAdvanceYes',
       'SameOrg', 'PositionAdvanceYes'],
      dtype='object')

In [75]:
stat2_columns = ["CareerStartYear_2","SameInstitution","OrgAdvanceYes"]
stat2_groupby_columns = ["CareerStartYear_2","SameInstitution"]
stat2_label_columns = ["Year","SameInstitution","Total Transitions","Total Advancements of OrgRank"]

In [76]:
stat2 = trans2[stat2_columns].groupby(stat2_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat2.columns = stat2_label_columns
stat2["Percentage Advancements of OrgRank"] = stat2.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat2

,Year,SameInstitution,Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,1946,False,2,0,0.00
1,1946,True,3,1,33.33
2,1947,False,1,0,0.00
3,1948,False,1,0,0.00
4,1948,True,2,2,100.00
...,...,...,...,...,...
142,2019,True,67,12,17.91
143,2020,False,28,13,46.43
144,2020,True,36,7,19.44
145,2021,False,73,15,20.55
146,2021,True,163,43,26.38

In [ ]:
# pivot SameInstitution -

In [77]:
stat2_filename = "orgrank_within_between.xlsx"
stat2.to_excel(path_analysis + study0_path + stat2_filename,index=False)

### 3. OrgRank increase - percent by succesion period (broad)

In [54]:
trans2.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'OrgAdvanceYes',
       'SameOrg', 'PositionAdvanceYes'],
      dtype='object')

In [75]:
stat2_columns = ["CareerStartYear_2","SameInstitution","OrgAdvanceYes"]
stat2_groupby_columns = ["CareerStartYear_2","SameInstitution"]
stat2_label_columns = ["Year","SameInstitution","Total Transitions","Total Advancements of OrgRank"]

In [76]:
stat2 = trans2[stat2_columns].groupby(stat2_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat2.columns = stat2_label_columns
stat2["Percentage Advancements of OrgRank"] = stat2.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat2

,Year,SameInstitution,Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,1946,False,2,0,0.00
1,1946,True,3,1,33.33
2,1947,False,1,0,0.00
3,1948,False,1,0,0.00
4,1948,True,2,2,100.00
...,...,...,...,...,...
142,2019,True,67,12,17.91
143,2020,False,28,13,46.43
144,2020,True,36,7,19.44
145,2021,False,73,15,20.55
146,2021,True,163,43,26.38

In [ ]:
# pivot SameInstitution -

In [77]:
stat2_filename = "orgrank_within_between.xlsx"
stat2.to_excel(path_analysis + study0_path + stat2_filename,index=False)

# Hypothesis 1a - Org Advancement, broad succession periods

In [64]:
select_columns = ["PISame","Succession_Broad","LeaderID"]
group_columns = ["Succession_Broad","PISame"]
trans[select_columns].groupby(group_columns,as_index=False).count()

  Succession_Broad  PISame  LeaderID
0       KIS to KJI   False       725
1       KIS to KJI    True       309
2       KJI to KJU   False       673
3       KJI to KJU    True       336

In [77]:
stat3_columns = ["Succession_Broad","OrgAdvanceYes"]
stat3_groupby_columns = ["Succession_Broad"]
stat3_label_columns = ["Succession Period","Total Transitions","Total Advancements"]

In [87]:
stat3 = trans.loc[trans["PISame"]==True,stat3_columns].groupby(stat3_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Advancements":"sum","Total Transitions":"count"})
stat3

  Succession_Broad Total Advancements  Total Transitions
0       KIS to KJI                 52                309
1       KJI to KJU                 95                336

In [88]:
stat3["Percentage Advancements of OrgRank"] = stat3.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat3

,Succession_Broad,Total Advancements,Total Transitions,Percentage Advancements of OrgRank
0,KIS to KJI,52,309,16.83
1,KJI to KJU,95,336,28.27

In [111]:
# 2-sample test of proportions
two_sample_ttest_proportions(52,95,309,336,.05)

p1:	 0.16828478964401294
p2:	 0.28273809523809523
p1-p2:	 -0.11445330559408229
z:	 -3.4616546398044408
pvalue:	 calculate

# Hypothesis 1b - Position Advancement, broad succession periods

In [91]:
select_columns = ["OrgSame","Succession_Broad","LeaderID"]
group_columns = ["Succession_Broad","OrgSame"]
trans[select_columns].groupby(group_columns,as_index=False).count()

  Succession_Broad  OrgSame  LeaderID
0       KIS to KJI    False       244
1       KIS to KJI     True        65
2       KJI to KJU    False       261
3       KJI to KJU     True        75

In [93]:
stat3b_columns = ["Succession_Broad","PositionAdvanceYes"]
stat3b_groupby_columns = ["Succession_Broad"]
stat3b_label_columns = ["Succession Period","Total Transitions","Total Advancements"]

In [95]:
stat3b = trans.loc[trans["OrgSame"]==True,stat3b_columns].groupby(stat3b_groupby_columns,as_index=False)["PositionAdvanceYes"].agg({"Total Advancements":"sum","Total Transitions":"count"})
stat3b

  Succession_Broad Total Advancements  Total Transitions
0       KIS to KJI                 20                 65
1       KJI to KJU                 23                 75

In [96]:
stat3b["Percentage Advancements of Position Rank"] = stat3b.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat3b

,Succession_Broad,Total Advancements,Total Transitions,Percentage Advancements of Position Rank
0,KIS to KJI,20,65,30.77
1,KJI to KJU,23,75,30.67

In [112]:
# 2-sample test of proportions
two_sample_ttest_proportions(20,23,65,75,.05)

p1:	 0.3076923076923077
p2:	 0.30666666666666664
p1-p2:	 0.0010256410256410664
z:	 0.01311978195253582
pvalue:	 calculate

# Hypothesis 2a - Org Advancement, narrow succession periods

In [97]:
select_columns = ["PISame","Succession_Narrow","LeaderID"]
group_columns = ["Succession_Narrow","PISame"]
trans[select_columns].groupby(group_columns,as_index=False).count()

  Succession_Narrow  PISame  LeaderID
0        KIS to KJI   False       375
1        KIS to KJI    True       147
2        KJI to KJU   False       369
3        KJI to KJU    True       168

In [98]:
stat4a_columns = ["Succession_Narrow","OrgAdvanceYes"]
stat4a_groupby_columns = ["Succession_Narrow"]
stat4a_label_columns = ["Succession Period","Total Transitions","Total Advancements"]

In [99]:
stat4a = trans.loc[trans["PISame"]==True,stat4a_columns].groupby(stat4a_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Advancements":"sum","Total Transitions":"count"})
stat4a

  Succession_Narrow Total Advancements  Total Transitions
0        KIS to KJI                 26                147
1        KJI to KJU                 65                168

In [100]:
stat4a["Percentage Advancements of OrgRank"] = stat4a.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4a

,Succession_Narrow,Total Advancements,Total Transitions,Percentage Advancements of OrgRank
0,KIS to KJI,26,147,17.69
1,KJI to KJU,65,168,38.69

In [113]:
# 2-sample test of proportions
two_sample_ttest_proportions(26,65,147,168,.05)

p1:	 0.17687074829931973
p2:	 0.3869047619047619
p1-p2:	 -0.2100340136054422
z:	 -4.103113318330513
pvalue:	 calculate

# Hypothesis 2b - Position Advancement, narrow succession periods

In [101]:
select_columns = ["OrgSame","Succession_Narrow","LeaderID"]
group_columns = ["Succession_Narrow","OrgSame"]
trans[select_columns].groupby(group_columns,as_index=False).count()

  Succession_Narrow  OrgSame  LeaderID
0        KIS to KJI    False       112
1        KIS to KJI     True        35
2        KJI to KJU    False       133
3        KJI to KJU     True        35

In [103]:
stat4b_columns = ["Succession_Narrow","PositionAdvanceYes"]
stat4b_groupby_columns = ["Succession_Narrow"]
stat4b_label_columns = ["Succession Period","Total Transitions","Total Advancements"]

In [104]:
stat4b = trans.loc[trans["OrgSame"]==True,stat4b_columns].groupby(stat4b_groupby_columns,as_index=False)["PositionAdvanceYes"].agg({"Total Advancements":"sum","Total Transitions":"count"})
stat4b

  Succession_Narrow Total Advancements  Total Transitions
0        KIS to KJI                  8                 35
1        KJI to KJU                  4                 35

In [105]:
stat4b["Percentage Advancements of Position Rank"] = stat4b.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4b

,Succession_Narrow,Total Advancements,Total Transitions,Percentage Advancements of Position Rank
0,KIS to KJI,8,35,22.86
1,KJI to KJU,4,35,11.43

In [114]:
# 2-sample test of proportions
two_sample_ttest_proportions(8,4,35,35,.05)

p1:	 0.22857142857142856
p2:	 0.11428571428571428
p1-p2:	 0.11428571428571428
z:	 1.2685406585123122
pvalue:	 calculate