In [1]:
import pandas as pd
import numpy as np

# Tables

### 1. LeaderCareerLink (LeaderID, CareerString, CareerDateString_2022)

matches LeaderID with (CareerString, CareerDateString_2022)

- LeaderID
- CareerString
- CareerDateString_2022

### 2. CareerOrgLink (CareerString, CareerDateString_2022, CareerSubstring)

matches (CareerString,CareerDateString_2022,CareerSubstring) with (InstitutionType,PrimaryInstitution,OrgName,Position)

- CareerString
- CareerDateString_2022
- IsJob
- MultipleSubstrings
- CareerStartYear
- CareerStartMonth
- CareerSubstring
- OrgString
- InstitutionType
- PrimaryInstitution
- OrgName
- Position
- Notes

### 3. Orgtree (InstitutionType, PrimaryInstitution, OrgName)*

contains variables relevant to all (PI, Org) including PI/Org Types, Positions, Org/Pos Ranks, PI/Org Links, Aliases

- InstitutionType
- OrgType
- PrimaryInstitution
- OrgName
- PI_Index
- OrgRank
- P1
- P2
- P3
- LinkToNext_PI
- LinkToNext_Org
- LinkToNext_Year
- Alias_OrgName
- Notes

In [2]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [3]:
filename_careers = "careers.xlsx"

careers = pd.read_excel(path_tables + filename_careers,dtype="str")
careers.shape

(9001, 12)

In [4]:
careers[careers["CareerString"].isna()]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, IsJob, MultipleSubstrings, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, PrimaryInstitution, OrgName, Position, Notes]
Index: []

In [40]:
filename_leadercareerlink = "leadercareerlink.xlsx"

In [6]:
# deprecated

# filename_leaderjoblink = "leaderjoblink.xlsx"
# filename_joborglink = "joborglink.xlsx"

In [41]:
# filenames of tables to output

filename_careerorglink = "careerorglink.xlsx"
filename_orgtree = "orgtree.xlsx"

# Data - initial orgtree + manually cleaned data in 2.7 orgtree position & rank

In [44]:
path_cleaning = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/"

In [45]:
subpath_2_1 = "2.1 career_undivided_unparsed_uncoded/"
subpath_2_2 = "2.2 career_divided_unparsed_uncoded/"
subpath_2_3 = "2.3 joborglink/"
subpath_2_4 = "2.4 orgtree/"
subpath_2_5 = "2.5 position/"
subpath_2_6 = "2.6 career_reassembled/"
subpath_2_7 = "2.7 orgtree position & rank/"

In [46]:
# 1.1 orgtree_position_rank

# constructing new file from:
## 2022 북한_기관별_인명록_북한정보포털 게재용
## orgtree table

filein_opr = "1.1 orgtree_position_rank.xlsx"
opr = pd.read_excel(path_cleaning + subpath_2_7 + filein_opr,dtype="str")
opr.shape

(2270, 23)

In [47]:
opr.head(2)

,InsideGov,InstitutionType,OrgType,PrimaryInstitution,OrgName,PI_Index,OrgRank,P1,P2,P3,...,Notes,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_InstitutionType,Change_PI,Change_OrgName,Alias_OrgName
0,1,노동당,NaN,노동당,NaN,1.0.0.0.0,0,총비서,NaN,NaN,...,NaN,1,0,0,0,0,NaN,NaN,NaN,NaN
1,1,노동당,NaN,노동당,당중앙위원회,1.1.0.0.0,1,NaN,NaN,"위원, 후보위원",...,NaN,1,1,0,0,0,NaN,NaN,NaN,NaN

In [48]:
# orgtree_copy

# copy of orgtree table

# filein_ot = "orgtree_copy.xlsx"
# ot = pd.read_excel(path_cleaning + subpath_2_7 + filein_ot,dtype="str")
# ot.shape

In [49]:
# 2.0_mismatch_

# 2.0_mismatch_정권_1_Esther
# 2.0_mismatch_정권_1_Jeongsu
# 2.0_mismatch_당_1_Esther_August.6.ES
# 2.0_mismatch_당_1_Jeongsu
# 2.0_mismatch_군및기타_1_ingov_JS
# 2.0_mismatch_군및기타_1_outgov_JR

mismatch_filenames = [
    "2.0_mismatch_정권_2_Jacob.xlsx",
    "2.0_mismatch_당_2_Jacob.xlsx",
    "2.0_mismatch_군및기타_1_ingov_JS.xlsx",
    "2.0_mismatch_군및기타_1_outgov_JR.xlsx"
]

In [50]:
# select columns in mismatch dfs

mismatch_columns = ["CareerString", "CareerStartYear", "MultipleSubstrings", "CareerSubstring", "IsJob",
                    "InstitutionType", "PrimaryInstitution", "OrgName", "Position", "LinkToNext_Year",
                    "Resolution", "Change_PI", "Change_OrgName", "Change_Position","Notes"]

In [51]:
# read in mismatch dfs

m_dfs = []

for filename in mismatch_filenames:
    df = pd.read_excel(path_cleaning + subpath_2_7 + filename,sheet_name="Sheet1",dtype="str")
    df = df[mismatch_columns]
    print(df.shape)
    m_dfs.append(df)

print(len(m_dfs))

C:\Users\seoul\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

(405, 15)

C:\Users\seoul\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

(496, 15)

C:\Users\seoul\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

(834, 15)
(529, 15)
4

C:\Users\seoul\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [52]:
# concat mismatch dfs into a single df

m = pd.concat(m_dfs)
m.shape

(2264, 15)

In [54]:
m.head(2)

,CareerString,CareerStartYear,MultipleSubstrings,CareerSubstring,IsJob,InstitutionType,PrimaryInstitution,OrgName,Position,LinkToNext_Year,Resolution,Change_PI,Change_OrgName,Change_Position,Notes
0,유엔 주재 대표부 1등서기관,1975,1,NaN,True,정권기관,내각,외무성_유엔대표부,1등서기관,Current,3. OrgName & Position ok. Add Position to P3,NaN,NaN,NaN,NaN
1,1975.10 유엔주재 북한대표부 1등서기관,1975,1,NaN,True,정권기관,내각,외무성_유엔대표부,1등서기관,Current,3. OrgName & Position ok. Add Position to P3,NaN,NaN,NaN,NaN

# Functions: format orgtree

In [55]:
# using this on (PI,OrgName) will ensure unique & non-null keys
# using this on a larger df will ensure unique rows and non-null keys, but not unique keys

def unique_non_null_rows(olddf):
    
    df = olddf.copy()
    
    
    ### drop duplicates
    df = df.drop_duplicates(keep="first",ignore_index=True)

    ### drop null rows
    df.dropna(how="all",axis=0,inplace=True)
    
    # drop rows with null PI
    df = df[~(df["PrimaryInstitution"].isna())]
        
    ### drop rows where PI contains stop words
    stop_words_lower = ["uncertain","current","deprecated","please_revise"]
    df = df[ ~ df["PrimaryInstitution"].str.lower().isin(stop_words_lower)]
            

    print("\nUnique Non-null Rows...")
    print("")
    print("\tNon-unique rows:",olddf.shape)
    print("\tUnique rows    :",df.shape)

    ### sort
    df = df.sort_values(["PrimaryInstitution","OrgName"])
    
    return df

In [56]:
def verify_unique_rows(df):
    
    key_columns = ["PrimaryInstitution","OrgName"]
    print("\nVerifying Unique Rows...")
    print("")
    print("\tDuplicate Rows:",df[df.duplicated(keep=False)].shape)
    print("\tDuplicate Keys:",df[df.duplicated(key_columns,keep=False)].shape)
    print("\tNull Rows     :",df[df["PrimaryInstitution"].isna() & df["OrgName"].isna()].shape)

In [57]:
def merge_results(m):
    
    print("\nMerge Results...")
    print("")
    print("\tshape     :",m.shape)
    print("\tleft_only :",m[m["_merge"]=="left_only"].shape)
    print("\tboth      :",m[m["_merge"]=="both"].shape)
    print("\tright_only:",m[m["_merge"]=="right_only"].shape)

In [58]:
def update_opr_index(opr,max_level):
    
    # create and clear out existing Level Indicies
    opr["OrgRank"]=np.nan
    opr["L1_Index"]=np.nan
    opr["L2_Index"]=np.nan
    opr["L3_Index"]=np.nan
    opr["L4_Index"]=np.nan
    opr["L5_Index"]=np.nan
    
    # pad PI_Index with missing 0s up to the deepest level (4 or 5?)
    opr["PI_Index"] = opr.apply(lambda x: str(x["PI_Index"]) + ((max_level-1)-str(x["PI_Index"]).count(".")) * ".0",axis=1)
    
    # calculate OrgRank
    opr["OrgRank"] = opr.apply(lambda x: (max_level-1) - str(x["PI_Index"]).count(".0"),axis=1)
    
    # populate Level Indices using PI_Index
    opr.loc[opr["PI_Index"].notna(),"L1_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[0],axis=1)
    opr.loc[opr["PI_Index"].notna(),"L2_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[1],axis=1)
    opr.loc[opr["PI_Index"].notna(),"L3_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[2],axis=1)
    opr.loc[opr["PI_Index"].notna(),"L4_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[3],axis=1)
    opr.loc[opr["PI_Index"].notna(),"L5_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[4],axis=1)

    # sort by Level1, Level2, Level3
    sort_columns = ["L1_Index","L2_Index","L3_Index","L4_Index","L5_Index"]
    #opr.L1_Index.astype(int,errors="ignore")
    #opr.L2_Index.astype(int,errors="ignore")
    #opr.L3_Index.astype(int,errors="ignore")
    opr.sort_values(sort_columns,inplace=True)
    
    return opr

In [59]:
# opr = update_opr_index(opr,5)

In [60]:
# export opr

# fileout_opr = "1.0 orgtree_position_rank.xlsx"
# opr.to_excel(path_cleaning + subpath_2_7 + fileout_opr,index=False)

# Recall from earlier cleaning

#### Three Cases of  OrgName in NK elite career data

- Case 0: OrgName in 기관별인명록: code these from 1-199
- Case 1: OrgName not in 기관별인명록, but contained in data AND LinkToNext_Year not current: code as 500+
- Case 2: OrgName not in 기관별인명록, but contained in data AND LinkToNext_Year is current: code as 200+

#### Case 0: OrgName in 기관별인명록

- Update 1.0 orgtree_position_rank with OrgName in 기관별인명록
- Code these from 1-199
- Run above routine # 1. orgtree_position_rank: update all besides 노동당, 내각, 정무원
    - to update opr & pr_else3
- Proceed to Cases 1 & 2

#### Resolve. Validation values for resolving null Position_3P

1. OrgName & Position ok. Add Position to P1
2. OrgName & Position ok. Add Position to P2
3. OrgName & Position ok. Add Position to P3
4. Change_OrgName and/or Change_Position
5. Uncertain OrgName
6. Uncertain Position
7. NotJob
8. Multiple CareerSubstring
9. Other - see Notes

# Tasks

- Double-check task-list in Evernote

- NotJob

- MultipleSubstrings

- Change_PI, Change_OrgName

- Recode & Recategorize some (PI,OrgName)
    - 중앙위원회
    - 인민군, 총참모부, 인민무력부, 

- Review Integrity Checks & Adjust Mismatches
    - Validate InstitutionType, OrgType
    - Data in Careers but not in Orgtree
    - Orgs in Orgtree but not in Careers or 기관별인명록
    - Verify no Positions overlapping within the same PI, OrgName

- Re-Index

- Add OrgType
    
- Future Integrity Checks & Data Cleaning
    - Identify inconsistencies in Position Rankings (e.g., 명예위원장)
    - Verify (PI, OrgName) not found in 기관별인명록
    - Reconcile 기관 across three categories: 기타기관, 당외곽및사회단체, 당외곽및사회단체(별책)