In [1]:
import pandas as pd
import numpy as np
from datetime import date
from statistics import mean, mode
from pandas.api.types import CategoricalDtype
import math
from scipy.stats import norm

In [2]:
today = date.today()
print(today)

2024-02-10

# Tables

In [3]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [4]:
# tables
filename_careerorglink = "careerorglink.xlsx"
filename_leadercareerlink = "leadercareerlink.xlsx"
filename_orgtree = "orgtree.xlsx"
filename_elected = "positions_elected.xlsx"

In [5]:
# career-org link
# col = pd.read_excel(path_tables + filename_careerorglink,dtype="str")
# col.shape

In [6]:
# col.columns

In [7]:
# leader-career link
# lcl = pd.read_excel(path_tables + filename_leadercareerlink,dtype="str")
# lcl.shape

In [8]:
# lcl.columns

In [9]:
# orgtree
# org = pd.read_excel(path_tables + filename_orgtree,dtype="str")
# org.shape

In [10]:
# org.columns

In [11]:
# elected = pd.read_excel(path_tables + filename_elected,dtype="str")
# elected.shape

In [12]:
# elected.columns

# Queries

In [13]:
path_queries = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 3 queries/"

In [14]:
filename_leaderjob_all = "leaderjob_electUnelect_inOutgov.xlsx"
filename_leaderjob_no_spa = "leaderjob_no_spa.xlsx"
filename_leaderjobtransition_no_spa = "leaderjobtransition_no_spa.xlsx"

In [15]:
# leader jobs
# ljobs_all = pd.read_excel(path_queries + filename_leaderjob_all,dtype="str")
# ljobs_all.shape

In [16]:
# ljobs = pd.read_excel(path_queries + filename_leaderjob_no_spa,dtype="str")
# ljobs.shape

In [17]:
# transitions used for analysis - no SPA - no local-local
trans = pd.read_excel(path_queries + filename_leaderjobtransition_no_spa,dtype="str")
trans.shape

(4306, 31)

# Analysis - Research Note

In [18]:
path_analysis = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/analysis/"

In [19]:
# analysis sub-paths
study0_path = "2023.10.04 Study 0 - research note/"
study1_path = "2023.10.04 Study 1 - political capital/"
study2_path = "2023.10.04 Study 2 - commitment vs control/"
study3_path = "2023.10.04 Study 3 - reds vs experts/"

In [20]:
# ljobs = ljobs.astype({"CareerStartYear":"int","CareerStartDate":"int"})
# ljobs.dtypes

# Functions

In [21]:
def merge_results(m):
    
    print("\nMerge Results...")
    print("")
    print("\tshape     :",m.shape)
    print("\tleft_only :",m[m["_merge"]=="left_only"].shape)
    print("\tboth      :",m[m["_merge"]=="both"].shape)
    print("\tright_only:",m[m["_merge"]=="right_only"].shape)

In [22]:
# using this on (PI,OrgName) will ensure unique & non-null keys
# using this on a larger df will ensure unique rows and non-null keys, but not unique keys

def unique_non_null_rows(olddf):
    
    df = olddf.copy()
    
    
    ### drop duplicates
    df = df.drop_duplicates(keep="first",ignore_index=True)

    ### drop null rows
    df.dropna(how="all",axis=0,inplace=True)
    
    # drop rows with null PI
    df = df[~(df["PrimaryInstitution"].isna())]
        
    ### drop rows where PI contains stop words
    stop_words_lower = ["uncertain","current","deprecated","please_revise"]
    df = df[ ~ df["PrimaryInstitution"].str.lower().isin(stop_words_lower)]
            

    print("\nUnique Non-null Rows...")
    print("")
    print("\tNon-unique rows:",olddf.shape)
    print("\tUnique rows    :",df.shape)

    ### sort
    df = df.sort_values(["PrimaryInstitution","OrgName"])
    
    return df

In [23]:
def create_time_series(series,group_var,count_var):
    
    yeardist = series.groupby(group_var,as_index=False).count().sort_values(group_var)
    
    max_year = max(series[group_var])
    x = pd.DataFrame({"year":pd.Series(range(min(yeardist[group_var].astype(int)),max(yeardist[group_var].astype(int))+1))})
    
    yeardist[group_var] = yeardist[group_var].astype(int,errors="ignore")
    
    ts = x.merge(yeardist,left_on="year",right_on=group_var,how="left")
    ts.loc[ts[count_var].isna(),count_var]=0
    # merge_results(ts)
    
    ts_columns = ["year",count_var]
    ts = ts[ts_columns]
    
    return ts

In [24]:
# create InstitutionCategory (English) variable InstitutionType

# use with apply. e.g., 
# df["InstitutionCategory] = df["InstitutionType"].apply(define_institution_category)

def define_institution_category(PI):
    
    c = "Social"
    
    if PI=="정권기관":
        c = "Government"
    elif PI=="노동당":
        c = "Party"
    elif PI=="인민군":
        c = "Military"
        
    return c

In [25]:
def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
    
    pstar = (x1+x2)/(n1+n2)
    p1 = x1/n1
    p2 = x2/n2
    z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
    pvalue = 1-norm.cdf(abs(z))
    
    # add significance stars to result
    stars = ""
    if pvalue<.05:
        stars = "*"
    if pvalue<.01:
        stars = "**"
    if pvalue<.001:
        stars = "***"
    result = str(pvalue)+stars
    
    print("x1,x2,n1,n2:",[x1,x2,n1,n2])
    print("p1:\t",p1)
    print("p2:\t",p2)
    print("p1-p2:\t",(p1-p2))
    print("z:\t",z)
    print("pvalue:\t",result)

# Format & Covariates

### 0. change datatypes

In [26]:
trans = trans.astype({"OrgAdvance":"int","PositionAdvance":"int",
                      "CareerStartYear_1":"int","CareerStartYear_2":"int",
                      "CareerStartDate_1":"int","CareerStartDate_2":"int"})
trans.dtypes

LeaderID                   object
CareerString_1             object
CareerDateString_2022_1    object
CareerStartYear_1           int32
CareerStartMonth_1         object
CareerStartDate_1           int32
CareerSubstring_1          object
InstitutionType_1          object
PrimaryInstitution_1       object
OrgName_1                  object
Local_1                    object
Position_1                 object
IsElected_1                object
OrgRank_1                  object
PositionRank_1             object
CareerString_2             object
CareerDateString_2022_2    object
CareerStartYear_2           int32
CareerStartMonth_2         object
CareerStartDate_2           int32
CareerSubstring_2          object
InstitutionType_2          object
PrimaryInstitution_2       object
OrgName_2                  object
Local_2                    object
Position_2                 object
IsElected_2                object
OrgRank_2                  object
PositionRank_2             object
OrgAdvance                  int32
PositionAdvance             int32
dtype: object

### 1. double-check exlcudes SPA jobs and local-local trans

In [27]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance'],
      dtype='object')

In [28]:
trans.shape

(4306, 31)

In [29]:
trans.Local_1.unique()

array(['False', 'True'], dtype=object)

In [30]:
# remove Local-Local ties
trans = trans[~((trans["Local_1"]=="True") & (trans["Local_2"]=="True"))]
trans.shape

(4222, 31)

### 2. add InstitutionCategory_1, InstitutionCategory_2

In [31]:
trans.InstitutionType_1.unique()

array(['정권기관', '국제친선단체', '노동당', '인민군', '당외곽및사회단체_사회부문(별책)',
       '당외곽및사회단체_사회부문', '당외곽및사회단체_체육부문', '당외곽및사회단체_정치부문', '당외곽및사회단체_대외부문',
       '당외곽및사회단체_근로단체', '당외곽및사회단체_종교부문', '당외곽및사회단체_경제부문(별책)',
       '당외곽및사회단체_경제부문'], dtype=object)

### 3. PISame, OrgSame

In [32]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance'],
      dtype='object')

In [33]:
trans["PISame"] = False
trans.loc[trans["PrimaryInstitution_1"]==trans["PrimaryInstitution_2"],["PISame"]] = True
trans.PISame.unique()

array([False,  True])

In [34]:
trans["OrgSame"] = np.nan
trans.loc[trans["PISame"]==True,"OrgSame"] = False
trans.loc[(trans["PISame"]==True) & (trans["OrgName_1"]==trans["OrgName_2"]),["OrgSame"]] = True
trans.OrgSame.unique()

array([nan, True, False], dtype=object)

### 4. OrgRankChange, PositionRankChange

In [35]:
trans["OrgRankChange"] = np.nan

In [36]:
trans.loc[trans["PISame"] & (trans["OrgRank_1"]>trans["OrgRank_2"]),"OrgRankChange"] = "lower"
trans.loc[trans["PISame"] & (trans["OrgRank_1"]==trans["OrgRank_2"]),"OrgRankChange"] = "same"
trans.loc[trans["PISame"] & (trans["OrgRank_1"]<trans["OrgRank_2"]),"OrgRankChange"] = "higher"

In [37]:
value_order = ["lower","same","higher"]
trans.OrgRankChange = trans.OrgRankChange.astype("category")
trans.OrgRankChange = trans.OrgRankChange.cat.set_categories(value_order)

In [38]:
trans.OrgRankChange.unique()

[NaN, 'same', 'higher', 'lower']
Categories (3, object): ['lower', 'same', 'higher']

In [39]:
trans["PositionRankChange"] = np.nan

In [40]:
# PositionRankChange, narrowly defined, with OrgSame=True
# trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]>trans["PositionRank_2"]),"PositionRankChange"] = "lower"
# trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]==trans["PositionRank_2"]),"PositionRankChange"] = "same"
# trans.loc[trans["OrgSame"] & (trans["PositionRank_1"]<trans["PositionRank_2"]),"PositionRankChange"] = "higher"

In [41]:
# PositionRankChange, broadly defined, with PISame=True & OrgRankChange="same"
trans.loc[trans["PISame"] & trans["OrgRankChange"].isin(["same"]) & (trans["PositionRank_1"]>trans["PositionRank_2"]),"PositionRankChange"] = "lower"
trans.loc[trans["PISame"] & trans["OrgRankChange"].isin(["same"]) & (trans["PositionRank_1"]==trans["PositionRank_2"]),"PositionRankChange"] = "same"
trans.loc[trans["PISame"] & trans["OrgRankChange"].isin(["same"]) & (trans["PositionRank_1"]<trans["PositionRank_2"]),"PositionRankChange"] = "higher"

In [42]:
value_order = ["lower","same","higher"]
trans.PositionRankChange = trans.PositionRankChange.astype("category")
trans.PositionRankChange = trans.PositionRankChange.cat.set_categories(value_order)

In [43]:
trans.PositionRankChange.unique()

[NaN, 'same', 'higher', 'lower']
Categories (3, object): ['lower', 'same', 'higher']

### 5. Succession Period - Broad

* KIS-->KJI: 1974-1993 - less institutionalized (stronger intra)
* KJI--->KJU:  2002-2011 - more institutionalized (stronger inter)

In [44]:
trans["Succession_Broad"] = np.nan

In [45]:
value_order = ["KIS to KJI","KJI to KJU"]
trans.Succession_Broad = trans.Succession_Broad.astype("category")
trans.Succession_Broad = trans.Succession_Broad.cat.set_categories(value_order)

In [46]:
trans.loc[(trans["CareerStartYear_2"]>1973) & (trans["CareerStartYear_2"]<1994),"Succession_Broad"] = "KIS to KJI"
trans.loc[(trans["CareerStartYear_2"]>2001) & (trans["CareerStartYear_2"]<2012),"Succession_Broad"] = "KJI to KJU"

In [47]:
trans[["Succession_Broad","OrgName_2"]].groupby("Succession_Broad",as_index=False).count()

  Succession_Broad  OrgName_2
0       KIS to KJI        674
1       KJI to KJU        648

In [48]:
trans.loc[trans["Succession_Broad"]=="KIS to KJI","CareerStartYear_2"]

34      1977
35      1977
36      1979
37      1980
38      1982
        ...
3805    1980
3934    1993
4285    1977
4286    1980
4287    1990
Name: CareerStartYear_2, Length: 1006, dtype: int32

### 6. Succession Period - Narrow

#### Esther's periodization
* KIS-->KJI: 1987-1994 - less institutionalized (stronger intra)
* KJI--->KJU:  2009-2011 - more institutionalized (stronger inter)

In [49]:
trans["Succession_Narrow"] = np.nan

In [50]:
value_order = ["KIS to KJI","KJI to KJU"]
trans.Succession_Narrow = trans.Succession_Narrow.astype("category")
trans.Succession_Narrow = trans.Succession_Narrow.cat.set_categories(value_order)

In [51]:
### Esther's periodization

trans.loc[(trans["CareerStartYear_2"]>1986) & (trans["CareerStartYear_2"]<1995),"Succession_Narrow"] = "KIS to KJI"
trans.loc[(trans["CareerStartYear_2"]>2008) & (trans["CareerStartYear_2"]<2012),"Succession_Narrow"] = "KJI to KJU"

In [52]:
trans[["Succession_Narrow","OrgName_2"]].groupby("Succession_Narrow",as_index=False).count()

  Succession_Narrow  OrgName_2
0        KIS to KJI        323
1        KJI to KJU        383

### 7. OrgAdvanceYes

In [53]:
trans["OrgAdvanceYes"] = np.nan

In [54]:
trans.loc[trans["PISame"]==True,"OrgAdvanceYes"] = False
trans.loc[trans["PISame"]==True & (trans["OrgRank_1"]>trans["OrgRank_2"]),"OrgAdvanceYes"] = True

### 8. PositionAdvanceYes

In [55]:
trans["PositionAdvanceYes"] = np.nan

In [56]:
trans.loc[trans["OrgSame"]==True,"PositionAdvanceYes"] = False
trans.loc[trans["OrgSame"]==True & (trans["PositionRank_1"]>trans["PositionRank_2"]),"PositionAdvanceYes"] = True

### 9. InstitutionCategory

In [57]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'PISame', 'OrgSame',
       'OrgRankChange', 'PositionRankChange', 'Succession_Broad',
       'Succession_Narrow', 'OrgAdvanceYes', 'PositionAdvanceYes'],
      dtype='object')

In [58]:
trans["InstitutionCategory_1"] = trans["InstitutionType_1"].apply(define_institution_category)
trans["InstitutionCategory_2"] = trans["InstitutionType_2"].apply(define_institution_category)

### 10. InstitutionCategorySame

In [59]:
trans["InstitutionCategorySame"] = trans["InstitutionCategory_1"] == trans["InstitutionCategory_2"]

### 11. Succession_Five

#### Jacob's periodization
* KIS-->KJI: 1994-1999 - less institutionalized (stronger intra)
* KJI--->KJU:  2011-2016 - more institutionalized (stronger inter)

In [60]:
trans["Succession_Five"] = np.nan

In [61]:
value_order = ["KIS to KJI","KJI to KJU"]
trans.Succession_Five = trans.Succession_Five.astype("category")
trans.Succession_Five = trans.Succession_Five.cat.set_categories(value_order)

In [62]:
### Jacob's periodization

trans.loc[(trans["CareerStartYear_2"]>1993) & (trans["CareerStartYear_2"]<2000),"Succession_Five"] = "KIS to KJI"
trans.loc[(trans["CareerStartYear_2"]>2010) & (trans["CareerStartYear_2"]<2016),"Succession_Five"] = "KJI to KJU"

In [63]:
trans[["Succession_Five","OrgName_2"]].groupby("Succession_Five",as_index=False).count()

  Succession_Five  OrgName_2
0      KIS to KJI        229
1      KJI to KJU        229

### double-check OrgRank

In [67]:
# select_cols = ["InstitutionType_1","PrimaryInstitution_1","OrgName_1","OrgRank_1"]
select_cols = ["InstitutionType_2","PrimaryInstitution_2","OrgName_2","OrgRank_2"]

In [69]:
# pd.set_option('display.max_rows', None)
# trans[select_cols]

### 12. Restrict to Top 2 OrgRanks (OrgRank = {0,1})

In [70]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'PISame', 'OrgSame',
       'OrgRankChange', 'PositionRankChange', 'Succession_Broad',
       'Succession_Narrow', 'OrgAdvanceYes', 'PositionAdvanceYes',
       'InstitutionCategory_1', 'InstitutionCategory_2',
       'InstitutionCategorySame', 'Succession_Five'],
      dtype='object')

In [71]:
### reset trans
# trans_orig = trans
# trans = trans_orig

In [72]:
trans["OrgRank_1"].astype(int).isin([0,1])

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16       True
17       True
18       True
19       True
20       True
21      False
22       True
23       True
24       True
25      False
26      False
27      False
28       True
29       True
30       True
31       True
32       True
33       True
34      False
35      False
36      False
37      False
38       True
39       True
40       True
41      False
42       True
43       True
44       True
45      False
46      False
47      False
48      False
49       True
50       True
51      False
52       True
53       True
54       True
55       True
56       True
57      False
58       True
59       True
60       True
61      False
62      False
63       True
64       True
65       True
66       True
67       True
68       True
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76       True
77      False
78      False
79       True
80      False
81       True
82       True
83       True
84       True
85       True
86       True
87       True
88      False
89      False
90       True
91      False
92       True
93       True
94       True
95       True
96       True
97      False
98      False
99       True
100      True
101      True
102      True
103     False
104      True
105      True
106      True
107      True
108      True
109      True
110      True
111      True
112      True
113      True
114      True
115      True
116      True
117      True
118      True
119      True
120      True
121      True
122      True
123      True
124     False
125     False
126     False
127     False
128     False
129     False
130     False
131      True
132      True
133      True
134      True
135     False
136      True
137      True
138      True
139      True
140     False
141     False
142     False
143     False
144      True
145     False
146      True
147     False
148      True
149      True
150      True
151     False
152     False
153     False
154     False
155     False
156     False
157     False
158     False
159      True
160      True
161      True
162      True
163      True
164      True
165      True
166      True
167      True
168      True
169      True
170     False
171      True
172      True
173      True
174      True
175      True
176      True
177      True
178      True
179      True
180      True
181     False
182      True
183      True
184     False
185     False
186     False
187      True
188      True
189      True
190      True
191      True
192      True
193      True
194      True
195     False
196     False
197     False
198     False
199     False
200     False
201      True
202      True
203     False
204     False
205     False
206     False
207      True
208     False
209      True
210      True
211      True
212     False
213     False
214      True
215      True
216     False
217     False
218     False
219     False
220     False
221     False
222      True
223     False
224     False
225     False
226      True
227      True
228     False
229      True
230      True
231      True
232     False
233      True
234      True
235      True
236      True
237      True
238      True
239      True
240      True
241      True
242     False
243     False
244     False
245      True
246      True
247     False
248     False
249      True
250     False
251     False
252      True
253      True
254      True
255     False
256      True
257      True
258      True
259      True
260      True
261      True
262      True
263      True
264      True
265      True
266      True
267      True
268      True
269     False
270     False
271     False
272      True
273      True
274      True
275      True
276      True
277      True
278      True
279      True
280      True
281     False
282     False
283     False
284      True
285      True
286      True
287      True
288      True
289      True
290      True
291      True
292     False
293     False
294     False
295     False
296     False
297     False
298      True
299      True
300      True
301      True
302      True
303      True
304      True
305      True
306      True
307      True
308      True
309      True
310      True
311      True
312      True
313      True
314      True
315      True
316      True
317      True
318     False
319     False
320      True
321      True
322      True
323      True
324      True
325      True
326      True
327      True
328      True
329      True
330      True
331      True
332     False
333     False
334      True
335      True
336      True
337      True
338      True
339     False
340     False
341     False
342      True
343      True
344      True
345      True
346     False
347     False
348      True
349      True
350     False
351      True
352      True
353      True
354      True
355      True
356     False
357     False
358      True
359      True
360      True
361     False
362     False
363     False
364      True
365      True
366     False
367      True
368      True
369      True
370      True
371      True
374      True
375      True
376      True
377      True
378      True
379      True
381     False
382      True
384     False
385      True
386      True
387      True
388      True
389      True
390     False
391     False
392      True
393     False
394      True
395      True
396      True
397      True
398      True
399      True
400      True
401      True
402      True
403      True
404      True
405      True
406     False
407     False
408      True
409     False
410     False
413     False
414      True
415     False
416     False
417     False
418     False
419     False
420     False
421     False
422      True
423      True
424      True
425      True
426      True
427      True
428      True
429      True
430      True
431      True
432     False
433      True
434      True
435      True
436      True
437     False
438     False
439      True
440      True
441      True
442      True
443     False
444     False
445     False
446      True
447     False
448     False
449     False
450      True
451     False
452     False
453      True
454     False
455     False
456     False
457     False
458     False
459     False
460     False
461     False
462      True
463     False
464     False
465     False
466      True
467      True
468     False
469     False
470      True
471      True
472      True
473      True
474      True
475      True
476      True
477      True
478     False
479      True
480      True
481      True
482      True
483      True
484     False
485     False
486      True
487      True
488      True
489      True
490      True
491      True
492      True
493      True
494     False
495      True
496      True
497      True
498     False
499     False
500      True
501      True
502      True
503      True
504      True
505     False
506      True
507      True
508      True
509      True
510      True
511      True
512     False
513     False
514     False
515     False
516     False
517     False
518     False
519      True
520     False
522     False
523     False
524      True
525      True
526      True
527      True
528      True
529      True
530      True
531      True
532      True
533      True
534      True
535     False
536      True
537      True
538     False
539     False
540     False
541     False
542      True
543      True
544      True
545      True
546     False
547      True
548     False
549      True
550     False
551      True
552      True
553     False
554      True
555      True
556      True
557      True
558     False
559     False
560      True
561     False
562      True
563     False
564      True
565      True
566     False
567      True
568     False
569      True
570      True
571     False
572     False
573      True
574      True
575      True
576      True
577      True
578      True
579      True
580      True
581      True
582      True
583      True
584      True
585      True
586      True
587     False
588      True
589      True
590      True
591      True
592      True
593      True
594      True
595      True
596      True
597      True
598      True
599      True
600      True
601     False
602     False
603      True
604      True
605      True
606     False
607      True
608      True
609      True
610      True
611      True
612      True
613      True
614      True
615      True
616      True
617      True
618      True
619      True
620      True
621     False
622     False
623      True
624      True
625      True
626      True
627      True
628      True
629     False
630     False
631     False
632     False
633     False
634      True
635     False
636      True
637      True
638      True
639     False
640     False
641     False
642     False
643     False
644     False
645     False
646     False
647     False
648     False
649     False
650     False
651     False
652     False
653     False
654     False
655     False
656     False
657      True
658     False
659     False
660      True
661      True
662      True
663      True
664     False
665     False
666     False
667      True
668     False
669     False
670     False
671     False
672     False
673      True
674      True
675      True
676      True
677      True
678      True
679      True
680      True
681      True
682     False
683     False
684     False
685      True
686     False
687     False
688      True
689     False
690      True
691      True
692     False
693      True
694      True
695      True
696      True
697      True
698      True
699      True
700      True
701      True
702      True
703      True
704      True
705     False
706      True
707      True
708      True
709      True
710      True
711      True
712      True
713      True
714      True
715      True
716     False
717     False
718      True
719     False
720      True
721      True
722      True
723     False
724     False
725     False
726      True
727      True
728      True
729      True
730      True
731      True
732      True
733      True
734      True
735      True
736      True
737     False
738     False
739      True
740      True
741      True
742      True
743      True
744     False
745      True
746     False
747      True
748      True
749     False
750      True
751      True
752      True
753     False
754     False
755      True
756     False
757     False
758     False
759      True
760      True
761     False
762     False
763      True
764      True
765      True
766      True
767      True
768      True
769      True
770      True
771      True
772      True
773      True
774      True
775      True
776      True
777      True
778      True
779     False
780     False
781     False
782     False
783     False
784     False
785      True
786     False
787      True
788     False
789     False
790      True
791     False
792     False
793     False
794     False
795     False
796     False
797      True
798     False
799      True
800      True
801      True
802      True
803      True
804      True
805     False
806      True
807     False
808      True
809     False
810      True
811      True
812      True
813      True
814      True
815      True
816      True
817      True
818      True
819      True
820      True
821     False
822      True
823      True
824      True
825     False
826      True
827      True
830      True
831     False
832      True
833     False
834     False
835      True
836      True
837      True
838      True
839     False
841     False
842      True
843      True
844      True
845      True
846      True
847      True
848      True
849      True
850      True
851     False
852     False
853      True
854      True
855      True
856      True
857      True
858     False
859      True
860      True
861      True
862     False
863      True
864      True
865      True
866     False
867     False
869     False
870      True
871      True
872      True
873      True
874     False
875      True
876      True
877      True
878      True
879      True
880     False
881      True
882      True
883      True
884      True
885      True
886      True
887      True
888      True
889      True
890     False
891      True
892      True
893      True
894      True
895      True
896      True
897      True
898      True
899      True
900      True
901      True
902      True
903     False
904     False
905     False
906     False
907      True
908      True
909      True
910     False
911      True
912      True
913      True
914      True
915     False
916      True
917      True
918     False
919      True
920      True
921     False
923      True
924     False
925      True
926      True
927      True
928      True
929      True
930      True
931      True
932      True
933      True
934      True
935      True
936     False
937      True
938      True
939     False
940      True
941     False
942     False
943      True
944      True
945      True
946      True
947      True
948      True
949     False
950     False
951     False
952     False
953      True
954      True
955      True
956      True
957     False
958      True
959     False
960     False
961      True
962      True
963      True
964      True
965      True
966      True
967      True
968      True
969      True
970      True
971      True
972      True
973     False
974     False
975      True
976     False
977     False
978     False
979      True
980      True
981     False
982      True
983      True
984      True
985      True
986      True
987     False
988     False
989      True
990     False
991     False
992      True
993      True
994      True
995     False
996      True
997     False
998      True
999      True
1000    False
1001     True
1002    False
1003     True
1004     True
1005    False
1006     True
1007     True
1008     True
1009     True
1010     True
1011     True
1012    False
1013    False
1014     True
1015     True
1016     True
1017    False
1018     True
1019     True
1020    False
1021    False
1022     True
1023    False
1024     True
1025     True
1026     True
1027     True
1028     True
1029    False
1030     True
1031     True
1032     True
1033     True
1034     True
1035     True
1036     True
1037     True
1038    False
1039     True
1040    False
1041    False
1042     True
1043     True
1044     True
1045     True
1046     True
1047     True
1048     True
1049     True
1050    False
1051     True
1052     True
1053    False
1054     True
1055     True
1056    False
1057    False
1058     True
1059    False
1060    False
1061    False
1062     True
1063    False
1064    False
1065    False
1066    False
1067    False
1068     True
1069    False
1070     True
1071    False
1072    False
1073     True
1074    False
1075    False
1076    False
1077    False
1078    False
1079    False
1080    False
1081     True
1082     True
1083     True
1084     True
1085     True
1086     True
1087     True
1088     True
1089     True
1090     True
1091     True
1092     True
1093     True
1094     True
1095     True
1096     True
1097    False
1098     True
1099     True
1100     True
1101     True
1102     True
1103     True
1104     True
1105     True
1106     True
1107     True
1108     True
1109     True
1110     True
1111    False
1112     True
1113    False
1114     True
1115     True
1116     True
1117    False
1118     True
1119    False
1120     True
1121     True
1122     True
1123     True
1124     True
1125     True
1126     True
1127     True
1128     True
1129     True
1130     True
1131     True
1132     True
1133     True
1134     True
1135     True
1136     True
1137     True
1138     True
1139     True
1140     True
1141    False
1142    False
1143    False
1144     True
1145     True
1146     True
1147     True
1148    False
1149     True
1150     True
1151    False
1152    False
1153     True
1154     True
1155     True
1156    False
1157     True
1158     True
1159     True
1160     True
1161    False
1162     True
1163     True
1164     True
1165     True
1166     True
1167     True
1168     True
1169     True
1170     True
1171     True
1172     True
1173     True
1174     True
1175    False
1176    False
1177    False
1178    False
1179    False
1180    False
1181     True
1182     True
1183     True
1184     True
1185    False
1186     True
1187    False
1188    False
1189    False
1190     True
1191     True
1195     True
1196     True
1200    False
1201     True
1202     True
1203     True
1204    False
1206     True
1207     True
1208     True
1209     True
1210    False
1211     True
1212     True
1213     True
1214    False
1216     True
1217     True
1218    False
1219    False
1220    False
1221     True
1222    False
1223    False
1224    False
1225    False
1226    False
1227    False
1228    False
1229    False
1230     True
1231    False
1232     True
1235    False
1236     True
1237    False
1238    False
1239     True
1240     True
1241    False
1242     True
1243    False
1244     True
1245     True
1246     True
1247     True
1248     True
1249     True
1250     True
1251     True
1252     True
1253     True
1254     True
1255     True
1256     True
1257     True
1258     True
1259    False
1260    False
1261    False
1262    False
1263     True
1264    False
1265     True
1266     True
1267     True
1268     True
1269     True
1270     True
1271     True
1272     True
1273     True
1274    False
1275     True
1276    False
1277    False
1278     True
1279     True
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299    False
1300    False
1301    False
1302    False
1303    False
1304    False
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315    False
1316    False
1317    False
1318     True
1319     True
1320    False
1321    False
1322    False
1323     True
1324     True
1325    False
1326    False
1327    False
1328    False
1329    False
1330    False
1331     True
1332     True
1333     True
1334     True
1335     True
1336     True
1337    False
1338    False
1340    False
1341     True
1342     True
1343     True
1344    False
1345    False
1346     True
1347     True
1348     True
1349     True
1350     True
1351     True
1352     True
1353     True
1354    False
1355     True
1356     True
1357     True
1358     True
1359    False
1360    False
1361     True
1362     True
1363     True
1364     True
1365    False
1366     True
1367    False
1368     True
1369     True
1370    False
1371    False
1372    False
1373    False
1374    False
1375    False
1376    False
1377     True
1378    False
1379    False
1380    False
1381    False
1382     True
1383     True
1384     True
1385     True
1386     True
1387     True
1388    False
1389    False
1390     True
1391     True
1392    False
1393     True
1394     True
1395    False
1396     True
1397     True
1398     True
1399     True
1400     True
1401     True
1402     True
1403     True
1404     True
1405     True
1406     True
1407     True
1408     True
1409     True
1410     True
1411     True
1412    False
1413    False
1414    False
1415    False
1416    False
1417     True
1419    False
1420    False
1421    False
1422     True
1423    False
1424    False
1425     True
1426     True
1427     True
1428     True
1429     True
1431     True
1432     True
1433     True
1434     True
1435     True
1436    False
1437    False
1438    False
1439    False
1440     True
1441     True
1442    False
1443    False
1444     True
1445     True
1446     True
1447     True
1448    False
1449    False
1450     True
1451     True
1452     True

In [73]:
trans.shape

(4222, 43)

In [74]:
# Top 1 OrgRank
trans2 = trans[(trans["OrgRank_1"].astype(int).isin([0,1])) & (trans["OrgRank_2"].astype(int).isin([0,1]))]

In [75]:
trans2.shape

(2328, 43)

### double-check OrgRank

In [78]:
select_cols = ["InstitutionType_1","PrimaryInstitution_1","OrgName_1","OrgRank_1"]
# select_cols = ["InstitutionType_2","PrimaryInstitution_2","OrgName_2","OrgRank_2"]

In [80]:
# pd.set_option('display.max_rows', None)
# trans2[select_cols]

In [97]:
# OrgName NA but OrgRank > 0
trans2.loc[(trans2["OrgName_1"].isna()) & (trans2["OrgRank_1"].astype(int)>0),select_cols]

     InstitutionType_1 PrimaryInstitution_1 OrgName_1 OrgRank_1
1893            국제친선단체     아시아-아프리카 연대성 위원회       NaN         1

In [98]:
# OrgName not NA but OrgRank == 0
trans2.loc[(~trans2["OrgName_1"].isna()) & (trans2["OrgRank_1"].astype(int)==0),select_cols]

      InstitutionType_1 PrimaryInstitution_1              OrgName_1 OrgRank_1
87                  노동당                  노동당            당중앙위원회_X위원회         0
227                 노동당                  노동당            당중앙위원회_X위원회         0
256                 노동당                조선공상당                  북조선분국         0
261                 노동당                  노동당            당중앙위원회_X위원회         0
266                 노동당                  노동당            당중앙위원회_X위원회         0
267                 노동당                  노동당            당중앙위원회_X위원회         0
275                 노동당                  노동당            당중앙위원회_X위원회         0
276                 노동당                  노동당            당중앙위원회_X위원회         0
342                 노동당                  노동당            당중앙위원회_X위원회         0
343                 노동당                  노동당            당중앙위원회_X위원회         0
344                 노동당                  노동당           당중앙위원회_군사위원회         0
345                 노동당                  노동당           당중앙위원회_군사위원회         0
354                 노동당                  노동당            당중앙위원회_X위원회         0
358                 노동당                  노동당            당중앙위원회_X위원회         0
359                 노동당                  노동당            당중앙위원회_X위원회         0
365                 노동당                  노동당            당중앙위원회_X위원회         0
426                정권기관                   내각                  인민경비대         0
473                 노동당                  노동당             당중앙위원회_공업부         0
528                 인민군                국방위원회             호위사령부_호위총국         0
1045               정권기관             평앙시인민위원회                   건설총국         0
1048                노동당                  노동당       당중앙위원회_중앙당학교_지도부         0
1093                인민군                  인민군                   총정치국         0
1096                인민군                  인민군                   총정치국         0
1114               정권기관                   내각               국가과학원_X원         0
1162               정권기관                   내각                  출판지도국         0
1230                인민군                국방위원회                    외사국         0
1246                인민군                해군사령부          총참모부_작전총국_제7처         0
1263               정권기관              중앙인민위원회             인민무력부_후방총국         0
1267                인민군                  인민군               총정치국_조직부         0
1278               정권기관                   내각           교육위원회_과학및양성처         0
1362                노동당                  노동당     당중앙위원회_선전선동부_문화예술과         0
1447                노동당                  노동당            당중앙위원회_X위원회         0
1618                노동당                  노동당    당중앙위원회_군수공업부_제2경사업부         0
1668                노동당                  노동당        당중앙위원회_조직지도부_X과         0
1670               정권기관              중앙인민위원회              인민무력부_정찰국         0
1747                인민군                  인민군                   총정치국         0
1770               정권기관                   내각  국가과학원_기술공학연구소_급냉구조연구실         0
2011                노동당                  노동당            당중앙위원회_X위원회         0
2028               정권기관            국가체육지도위원회                     X국         0
2029               정권기관            국가체육지도위원회                     X국         0
2032      당외곽및사회단체_체육부문        조선빙상호케이(하키)협회              조선빙상호케이협회         0
2058                노동당                  노동당            당중앙위원회_X위원회         0
2059                노동당                  노동당            당중앙위원회_X위원회         0
2060                노동당                  노동당            당중앙위원회_X위원회         0
2083                노동당                  노동당            당중앙위원회_X위원회         0
2085                노동당                  노동당            당중앙위원회_X위원회         0
2106                노동당                  노동당            당중앙위원회_X위원회         0
2127               정권기관            국가체육지도위원회                  대외사업국         0
2128               정권기관            국가체육지도위원회                  대외사업국         0
2164  당외곽및사회단체_경제부문(별책)            김책제철연합기업소                   압연공장         0
2281                노동당                  노동당            당중앙위원회_X위원회         0
2359                인민군                공군사령부                   제3전단         0
2360                인민군                공군사령부                   제3전단         0
2361                인민군             항공반항공사령부                  제1전단장         0
2391                인민군                  인민군                   총정치국         0
2392                인민군                  인민군            조선반제투사노병위원회         0
2413      당외곽및사회단체_사회부문               조선적십자회              중앙위원회_예술단         0
2444               정권기관              중앙인민위원회              인민무력부_간부국         0
2457               정권기관                   내각            국가학위학직수여위원회         0
2490               정권기관              평양인민위원회                 대외봉사총국         0
2496               정권기관                   내각         대외봉사국_평양대외봉사학원         0
2521                노동당                  노동당            당중앙위원회_X위원회         0
2550                인민군                 총참모부                    보위국         0
2553                노동당                  노동당    당중앙위원회_김일성고급당학교_선전부         0
2554                인민군                  인민군               총정치국_선전부         0
2571  당외곽및사회단체_사회부문(별책)              조선중앙통신사                    서기국         0
2582               정권기관                   내각                 외무성_X국         0
2583               정권기관              중앙인민위원회               인민무력부_X국         0
2602                노동당                  노동당            당중앙위원회_X위원회         0
2661                노동당                  노동당            당중앙위원회_X위원회         0
2687             국제친선단체           북-가나 친선협회               북-가나 친선협회         0
2701               정권기관                   내각               중앙통계국_X처         0
2752                노동당                  노동당            당중앙위원회_X위원회         0
2766                인민군                  인민군                   총정치국         0
2780                인민군                  인민군                   총정치국         0
2831                인민군                국방위원회                    행정국         0
2858               정권기관             평양시인민위원회                 인민봉사총국         0
2859               정권기관              평양인민위원회                 인민봉사총국         0
2860               정권기관              평양인민위원회                 인민봉사총국         0
2861               정권기관                   내각               내각사무국_X부         0
3033               정권기관                   내각            국가과학원_농업과학원         0
3034               정권기관                   내각            국가과학원_농업과학원         0
3069               정권기관                   내각               내각사무국_X부         0
3143                노동당                  노동당            당중앙위원회_X위원회         0
3145                노동당                  노동당            당중앙위원회_X위원회         0
3163               정권기관                   내각        국가과학원_최첨단전자공학기지         0
3165               정권기관                   내각               국가과학원_X소         0
3175               정권기관                   내각              내각사무국_ X부         0
3185      당외곽및사회단체_체육부문        조선빙상호케이(하키)협회              조선빙상호케이협회         0
3217                노동당                  노동당            당중앙위원회_X위원회         0
3246                노동당                  노동당            당중앙위원회_X위원회         0
3336  당외곽및사회단체_사회부문(별책)              조선중앙통신사                    서기국         0
3338               정권기관                   내각              내각사무국_ X부         0
3343               정권기관                   내각                해외동포사업국         0
3406                인민군                  인민군                   총정치국         0
3421                노동당                  노동당            당중앙위원회_X위원회         0
3426  당외곽및사회단체_사회부문(별책)              조선중앙통신사                    서기국         0
3461                노동당                  노동당            당중앙위원회_X위원회         0
3462                노동당                  노동당            당중앙위원회_X위원회         0
3476                노동당                  노동당            당중앙위원회_X위원회         0
3505                인민군                국방위원회            국가안전보위부_정치국         0
3594                인민군                  인민군                   총정치국         0
3595                인민군                  인민군                   총정치국         0
3598                인민군                  인민군                   총정치국         0
3599                인민군                  인민군                   총정치국         0
3650                노동당                  노동당            당중앙위원회_X위원회         0
3721                인민군                  인민군                   총정치국         0
3784                노동당                  노동당            당중앙위원회_X위원회         0
3792                노동당                  노동당            당중앙위원회_X위원회         0
3798                노동당                  노동당            당중앙위원회_X위원회         0
3806  당외곽및사회단체_사회부문(별책)             평양연극영화대학             사회주의노동청년동맹         0
3810               정권기관                   내각                  자원개발성         0
3811               정권기관                   내각                  자원개발성         0
3813               정권기관                   내각               채취공업성_X국         0
3815               정권기관                   내각                  자원개발성         0
3816               정권기관                   내각                  자원개발성         0
3833                노동당                  노동당            당중앙위원회_X위원회         0
3844                인민군                  인민군                   총정치국         0
3893                노동당                  노동당            당중앙위원회_X위원회         0
3933                인민군                국방위원회                    설계국         0
3936                인민군                국방위원회                    외사국         0
3951                인민군                  인민군               총정치국_조직부         0
3955                인민군                  인민군               총정치국_조직부         0
4003                노동당                  노동당            당중앙위원회_X위원회         0
4103                노동당                  노동당            당중앙위원회_X위원회         0
4173                인민군                  인민군                    보위국         0
4226                인민군                  인민군               총정치국_조직부         0
4253               정권기관                   내각                 국가영화총국         0
4290               정권기관                   내각                 외무성_X국         0
4299               정권기관                   내각                 체육성_X국         0

In [99]:
# OrgName contains _ but OrgRank < 2
trans2.loc[(trans2["OrgName_1"].str.contains("_")) & (trans2["OrgRank_1"].astype(int)<2),select_cols]

     InstitutionType_1 PrimaryInstitution_1              OrgName_1 OrgRank_1
87                 노동당                  노동당            당중앙위원회_X위원회         0
227                노동당                  노동당            당중앙위원회_X위원회         0
261                노동당                  노동당            당중앙위원회_X위원회         0
266                노동당                  노동당            당중앙위원회_X위원회         0
267                노동당                  노동당            당중앙위원회_X위원회         0
275                노동당                  노동당            당중앙위원회_X위원회         0
276                노동당                  노동당            당중앙위원회_X위원회         0
342                노동당                  노동당            당중앙위원회_X위원회         0
343                노동당                  노동당            당중앙위원회_X위원회         0
344                노동당                  노동당           당중앙위원회_군사위원회         0
345                노동당                  노동당           당중앙위원회_군사위원회         0
354                노동당                  노동당            당중앙위원회_X위원회         0
358                노동당                  노동당            당중앙위원회_X위원회         0
359                노동당                  노동당            당중앙위원회_X위원회         0
365                노동당                  노동당            당중앙위원회_X위원회         0
473                노동당                  노동당             당중앙위원회_공업부         0
528                인민군                국방위원회             호위사령부_호위총국         0
1048               노동당                  노동당       당중앙위원회_중앙당학교_지도부         0
1114              정권기관                   내각               국가과학원_X원         0
1246               인민군                해군사령부          총참모부_작전총국_제7처         0
1263              정권기관              중앙인민위원회             인민무력부_후방총국         0
1267               인민군                  인민군               총정치국_조직부         0
1278              정권기관                   내각           교육위원회_과학및양성처         0
1362               노동당                  노동당     당중앙위원회_선전선동부_문화예술과         0
1447               노동당                  노동당            당중앙위원회_X위원회         0
1618               노동당                  노동당    당중앙위원회_군수공업부_제2경사업부         0
1668               노동당                  노동당        당중앙위원회_조직지도부_X과         0
1670              정권기관              중앙인민위원회              인민무력부_정찰국         0
1770              정권기관                   내각  국가과학원_기술공학연구소_급냉구조연구실         0
2011               노동당                  노동당            당중앙위원회_X위원회         0
2058               노동당                  노동당            당중앙위원회_X위원회         0
2059               노동당                  노동당            당중앙위원회_X위원회         0
2060               노동당                  노동당            당중앙위원회_X위원회         0
2083               노동당                  노동당            당중앙위원회_X위원회         0
2085               노동당                  노동당            당중앙위원회_X위원회         0
2106               노동당                  노동당            당중앙위원회_X위원회         0
2281               노동당                  노동당            당중앙위원회_X위원회         0
2413     당외곽및사회단체_사회부문               조선적십자회              중앙위원회_예술단         0
2444              정권기관              중앙인민위원회              인민무력부_간부국         0
2496              정권기관                   내각         대외봉사국_평양대외봉사학원         0
2521               노동당                  노동당            당중앙위원회_X위원회         0
2553               노동당                  노동당    당중앙위원회_김일성고급당학교_선전부         0
2554               인민군                  인민군               총정치국_선전부         0
2582              정권기관                   내각                 외무성_X국         0
2583              정권기관              중앙인민위원회               인민무력부_X국         0
2602               노동당                  노동당            당중앙위원회_X위원회         0
2661               노동당                  노동당            당중앙위원회_X위원회         0
2701              정권기관                   내각               중앙통계국_X처         0
2752               노동당                  노동당            당중앙위원회_X위원회         0
2861              정권기관                   내각               내각사무국_X부         0
3033              정권기관                   내각            국가과학원_농업과학원         0
3034              정권기관                   내각            국가과학원_농업과학원         0
3069              정권기관                   내각               내각사무국_X부         0
3143               노동당                  노동당            당중앙위원회_X위원회         0
3145               노동당                  노동당            당중앙위원회_X위원회         0
3163              정권기관                   내각        국가과학원_최첨단전자공학기지         0
3165              정권기관                   내각               국가과학원_X소         0
3175              정권기관                   내각              내각사무국_ X부         0
3217               노동당                  노동당            당중앙위원회_X위원회         0
3246               노동당                  노동당            당중앙위원회_X위원회         0
3338              정권기관                   내각              내각사무국_ X부         0
3421               노동당                  노동당            당중앙위원회_X위원회         0
3461               노동당                  노동당            당중앙위원회_X위원회         0
3462               노동당                  노동당            당중앙위원회_X위원회         0
3476               노동당                  노동당            당중앙위원회_X위원회         0
3505               인민군                국방위원회            국가안전보위부_정치국         0
3650               노동당                  노동당            당중앙위원회_X위원회         0
3773              정권기관                   내각       국가건설감독성_건설설계정보센터         1
3784               노동당                  노동당            당중앙위원회_X위원회         0
3792               노동당                  노동당            당중앙위원회_X위원회         0
3798               노동당                  노동당            당중앙위원회_X위원회         0
3813              정권기관                   내각               채취공업성_X국         0
3833               노동당                  노동당            당중앙위원회_X위원회         0
3893               노동당                  노동당            당중앙위원회_X위원회         0
3951               인민군                  인민군               총정치국_조직부         0
3955               인민군                  인민군               총정치국_조직부         0
4003               노동당                  노동당            당중앙위원회_X위원회         0
4103               노동당                  노동당            당중앙위원회_X위원회         0
4226               인민군                  인민군               총정치국_조직부         0
4290              정권기관                   내각                 외무성_X국         0
4299              정권기관                   내각                 체육성_X국         0

# Statistics

### 1. OrgRank increase - percent by year

In [109]:
stat1_columns = ["CareerStartYear_2","OrgAdvanceYes"]
stat1_groupby_columns = ["CareerStartYear_2"]
stat1_label_columns = ["Year","Total Transitions","Total Advancements of OrgRank"]

In [110]:
stat1 = trans[stat1_columns].groupby(stat1_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat1.columns = stat1_label_columns
stat1["Percentage Advancements of OrgRank"] = stat1.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat1

,Year,Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,1946,2,2,100.00
1,1947,1,True,100.00
2,1948,1,True,100.00
3,1949,1,True,100.00
4,1950,3,2,66.67
...,...,...,...,...
68,2017,31,27,87.10
69,2018,22,17,77.27
70,2019,82,53,64.63
71,2020,15,12,80.00
72,2021,96,48,50.00

In [111]:
stat1_filename = "orgrank_within_between.xlsx"
# stat1.to_excel(path_analysis + study0_path + stat2_filename,index=False)

### 2. OrgRank increase - percent by year, PISame = True

In [112]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'PISame', 'OrgSame',
       'OrgRankChange', 'PositionRankChange', 'Succession_Broad',
       'Succession_Narrow', 'OrgAdvanceYes', 'PositionAdvanceYes',
       'InstitutionCategory_1', 'InstitutionCategory_2',
       'InstitutionCategorySame', 'Succession_Five'],
      dtype='object')

In [113]:
stat2_columns = ["CareerStartYear_2","OrgAdvanceYes"]
stat2_condition = trans["PISame"]==True
stat2_groupby_columns = ["CareerStartYear_2"]
stat2_label_columns = ["Year","Total Transitions","Total Advancements of OrgRank"]

In [114]:
stat2 = trans.loc[stat2_condition,stat2_columns].groupby(stat2_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat2.columns = stat2_label_columns
stat2["Percentage Advancements of OrgRank"] = stat2.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat2

,Year,Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,1950,1,False,0.00
1,1951,1,False,0.00
2,1956,2,0,0.00
3,1959,2,0,0.00
4,1960,1,False,0.00
5,1961,5,1,20.00
6,1962,1,False,0.00
7,1965,3,0,0.00
8,1966,6,1,16.67
9,1967,2,1,50.00
10,1970,12,1,8.33
11,1971,2,0,0.00
12,1972,1,False,0.00
13,1974,2,0,0.00
14,1976,6,2,33.33
15,1977,8,1,12.50
16,1978,5,1,20.00
17,1979,4,1,25.00
18,1980,9,0,0.00
19,1981,3,0,0.00
20,1982,5,0,0.00
21,1983,1,False,0.00
22,1984,7,0,0.00
23,1985,6,0,0.00
24,1986,13,2,15.38
25,1988,9,0,0.00
26,1989,4,0,0.00
27,1990,19,2,10.53
28,1991,7,0,0.00
29,1992,12,1,8.33
30,1993,4,0,0.00
31,1994,3,2,66.67
32,1995,3,0,0.00
33,1996,4,0,0.00
34,1997,5,0,0.00
35,1998,10,0,0.00
36,1999,5,0,0.00
37,2000,7,0,0.00
38,2001,2,0,0.00
39,2002,7,1,14.29
40,2003,28,3,10.71
41,2004,4,1,25.00
42,2005,8,1,12.50
43,2006,11,1,9.09
44,2007,7,1,14.29
45,2008,8,0,0.00
46,2009,47,3,6.38
47,2010,15,6,40.00
48,2011,7,0,0.00
49,2012,15,5,33.33
50,2013,14,2,14.29
51,2014,21,6,28.57
52,2015,5,0,0.00
53,2016,50,2,4.00
54,2017,9,5,55.56
55,2018,5,0,0.00
56,2019,33,4,12.12
57,2020,6,3,50.00
58,2021,51,3,5.88

In [115]:
# pivot SameInstitution -

In [116]:
# stat2_filename = "orgrank_within.xlsx"
# stat2.to_excel(path_analysis + study0_path + stat2_filename,index=False)

### 3. OrgRank increase - percent by succesion period (broad)

In [117]:
trans.columns

Index(['LeaderID', 'CareerString_1', 'CareerDateString_2022_1',
       'CareerStartYear_1', 'CareerStartMonth_1', 'CareerStartDate_1',
       'CareerSubstring_1', 'InstitutionType_1', 'PrimaryInstitution_1',
       'OrgName_1', 'Local_1', 'Position_1', 'IsElected_1', 'OrgRank_1',
       'PositionRank_1', 'CareerString_2', 'CareerDateString_2022_2',
       'CareerStartYear_2', 'CareerStartMonth_2', 'CareerStartDate_2',
       'CareerSubstring_2', 'InstitutionType_2', 'PrimaryInstitution_2',
       'OrgName_2', 'Local_2', 'Position_2', 'IsElected_2', 'OrgRank_2',
       'PositionRank_2', 'OrgAdvance', 'PositionAdvance', 'PISame', 'OrgSame',
       'OrgRankChange', 'PositionRankChange', 'Succession_Broad',
       'Succession_Narrow', 'OrgAdvanceYes', 'PositionAdvanceYes',
       'InstitutionCategory_1', 'InstitutionCategory_2',
       'InstitutionCategorySame', 'Succession_Five'],
      dtype='object')

In [118]:
stat3_columns = ["Succession_Broad","OrgAdvanceYes"]
stat3_condition = trans["PISame"]==True
stat3_groupby_columns = ["Succession_Broad"]
stat3_label_columns = ["Succession (Broad)","Total Transitions","Total Advancements of OrgRank"]

In [119]:
stat3 = trans.loc[stat3_condition,stat3_columns].groupby(stat3_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
stat3.columns = stat3_label_columns
stat3["Percentage Advancements of OrgRank"] = stat3.apply(lambda x: round(x["Total Advancements of OrgRank"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat3

,Succession (Broad),Total Transitions,Total Advancements of OrgRank,Percentage Advancements of OrgRank
0,KIS to KJI,124,10,8.06
1,KJI to KJU,142,17,11.97

### 4. Transitions by period and institution

In [ ]:
stat9_columns = ["Succession_Broad","OrgName_2"]
stat9_condition = trans["PISame"]==True
stat9_groupby_columns = ["Succession_Broad"]
stat9_label_columns = ["Succession (Broad)","Total Transitions","Total Advancements of OrgRank"]

In [138]:
trans.head()

,LeaderID,CareerString_1,CareerDateString_2022_1,CareerStartYear_1,CareerStartMonth_1,CareerStartDate_1,CareerSubstring_1,InstitutionType_1,PrimaryInstitution_1,OrgName_1,...,OrgRankChange,PositionRankChange,Succession_Broad,Succession_Narrow,OrgAdvanceYes,PositionAdvanceYes,InstitutionCategory_1,InstitutionCategory_2,InstitutionCategorySame,Succession_Five
0,리원일,1997.11 노동행정부 부부장,NaN,1997,11,199711,NaN,정권기관,정무원,노동행정부,...,NaN,NaN,NaN,NaN,True,NaN,Government,Government,True,KIS to KJI
1,리원일,노동성 상 *후임 : 강영수,1997.11,1997,11,199711,NaN,정권기관,내각,노동성,...,same,same,NaN,NaN,False,False,Government,Government,True,KIS to KJI
2,리원일,1998. 9 노동상,NaN,1998,9,199809,NaN,정권기관,내각,노동성,...,NaN,NaN,NaN,NaN,NaN,NaN,Government,Social,False,KIS to KJI
3,리원일,북-이란 친선협회 위원장,1998.11,1998,11,199811,NaN,국제친선단체,북-이란 친선협회,NaN,...,NaN,NaN,NaN,NaN,True,NaN,Social,Government,False,KIS to KJI
4,리원일,북-이란 친선협회 위원장,1998.11,1998,11,199811,NaN,국제친선단체,북-이란 친선협회,NaN,...,same,same,NaN,NaN,False,True,Social,Social,True,KIS to KJI

In [ ]:
# stat9 = trans.loc[stat9_condition,stat9_columns].groupby(stat9_groupby_columns,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})
# stat9 = trans.loc[stat9_condition,stat9_columns].groupby(stat9_groupby_columns,as_index=False)["OrgName_2"].agg({"Total Transitions":"count","Total Advancements of OrgRank":"sum"})

# Hypothesis 1a - Org Advancement, broad succession periods

In [120]:
select_columns = ["Succession_Broad","LeaderID"]
select_rows = trans["PISame"]==True
group_columns = ["Succession_Broad"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Broad  LeaderID
0       KIS to KJI       124
1       KJI to KJU       142

In [121]:
stat4_rows = trans["PISame"]==True
stat4_columns = ["Succession_Broad","OrgAdvanceYes"]
stat4_groupby = ["Succession_Broad"]
stat4_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [122]:
stat4 = trans.loc[stat4_rows,stat4_columns].groupby(stat4_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4

  Succession_Broad  Total Transitions Total Advancements
0       KIS to KJI                124                 10
1       KJI to KJU                142                 17

In [123]:
stat4["Percentage Advancements of OrgRank"] = stat4.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4

,Succession_Broad,Total Transitions,Total Advancements,Percentage Advancements of OrgRank
0,KIS to KJI,124,10,8.06
1,KJI to KJU,142,17,11.97

In [124]:
x1 = stat4.iloc[0,2]
x2 = stat4.iloc[1,2]
n1 = stat4.iloc[0,1]
n2 = stat4.iloc[1,1]

In [125]:
# 2-sample test of proportions
# def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
two_sample_ttest_proportions(x1,x2,n1,n2,.05)

x1,x2,n1,n2: [10, 17, 124, 142]
p1:	 0.08064516129032258
p2:	 0.11971830985915492
p1-p2:	 -0.039073148568832344
z:	 -1.0526728190873862
pvalue:	 0.14624548511782098

# Hypothesis 1b - Position Advancement, broad succession periods

In [126]:
select_columns = ["Succession_Broad","LeaderID"]
select_rows = (trans["PISame"] & trans["OrgRankChange"].isin(["same"]))
group_columns = ["Succession_Broad"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Broad  LeaderID
0       KIS to KJI        98
1       KJI to KJU       112

In [127]:
stat4b_rows = (trans["PISame"] & trans["OrgRankChange"].isin(["same"]))
stat4b_columns = ["Succession_Broad","PositionAdvanceYes"]
stat4b_groupby = ["Succession_Broad"]
stat4b_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [128]:
stat4b = trans.loc[stat4b_rows,stat4b_columns].groupby(stat4b_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4b

  Succession_Broad  Total Transitions Total Advancements
0       KIS to KJI                 86                 50
1       KJI to KJU                 99                 52

In [129]:
stat4b["Percentage Advancements of Position Rank"] = stat4b.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4b

,Succession_Broad,Total Transitions,Total Advancements,Percentage Advancements of Position Rank
0,KIS to KJI,86,50,58.14
1,KJI to KJU,99,52,52.53

In [130]:
x1 = stat4b.iloc[0,2]
x2 = stat4b.iloc[1,2]
n1 = stat4b.iloc[0,1]
n2 = stat4b.iloc[1,1]

In [131]:
# 2-sample test of proportions
# def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
two_sample_ttest_proportions(x1,x2,n1,n2,.05)

x1,x2,n1,n2: [50, 52, 86, 99]
p1:	 0.5813953488372093
p2:	 0.5252525252525253
p1-p2:	 0.05614282358468403
z:	 0.7657866761417321
pvalue:	 0.22190162168167316

# Hypothesis 1c - Org Advancement, broad succession, by Institution

In [132]:
select_rows = trans["PISame"]==True
select_columns = ["Succession_Broad","LeaderID"]
group_columns = ["Succession_Broad"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Broad  LeaderID
0       KIS to KJI       124
1       KJI to KJU       142

In [133]:
select_columns = ["InstitutionCategorySame","PISame","LeaderID"]
groupby_columns1 = ["InstitutionCategorySame"]
groupby_columns2 = ["PISame"]
groupby_columns3 = ["InstitutionCategorySame","PISame"]

In [134]:
trans[select_columns].groupby(groupby_columns3).count()

                                LeaderID
InstitutionCategorySame PISame
False                   False       1135
True                    False        640
                        True         553

In [135]:
ics = list(trans.InstitutionCategory_2.unique())
ics

['Government', 'Social', 'Party', 'Military']

In [136]:
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True)
    stat4c_columns = ["Succession_Broad","OrgAdvanceYes"]
    stat4c_groupby = ["Succession_Broad"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements of OrgRank"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    x1 = stat4c.iloc[0,2]
    x2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(x1,x2,n1,n2,.05)

 Government


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 63                  7
1       KJI to KJU                104                 14

   Percentage Advancements of OrgRank
0                               11.11
1                               13.46

x1,x2,n1,n2: [7, 14, 63, 104]
p1:	 0.1111111111111111
p2:	 0.1346153846153846
p1-p2:	 -0.023504273504273504
z:	 -0.44402348053502794
pvalue:	 0.32851280389958204


 Social


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 24                  3
1       KJI to KJU                 16                  1

   Percentage Advancements of OrgRank
0                               12.50
1                                6.25

x1,x2,n1,n2: [3, 1, 24, 16]
p1:	 0.125
p2:	 0.0625
p1-p2:	 0.0625
z:	 0.6454972243679028
pvalue:	 0.25930250821436274


 Party


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 28                  0
1       KJI to KJU                  0                  0

   Percentage Advancements of OrgRank
0                                 0.0
1                                 NaN

x1,x2,n1,n2: [0, 0, 28, 0]
p1:	 0.0
p2:	 nan
p1-p2:	 nan
z:	 nan
pvalue:	 nan


 Military


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                  9                  0
1       KJI to KJU                 22                  2

   Percentage Advancements of OrgRank
0                                0.00
1                                9.09

x1,x2,n1,n2: [0, 2, 9, 22]
p1:	 0.0
p2:	 0.09090909090909091
p1-p2:	 -0.09090909090909091
z:	 -0.9352048708546269
pvalue:	 0.17484136440031395

C:\Users\seoul\AppData\Local\Temp\ipykernel_20576\2071851454.py:5: RuntimeWarning: invalid value encountered in scalar divide
  p2 = x2/n2
C:\Users\seoul\AppData\Local\Temp\ipykernel_20576\2071851454.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_20576\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))

# Hypothesis 1d - Position Advancement, broad succession, by Institution

In [274]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True) & (trans["OrgRankChange"].isin(["same"]))
    stat4c_columns = ["Succession_Broad","PositionAdvanceYes"]
    stat4c_groupby = ["Succession_Broad"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    x1 = stat4c.iloc[0,2]
    x2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(x1,x2,n1,n2,.05)

 Government


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 39                 27
1       KJI to KJU                 76                 30

   Percentage Advancements
0                    69.23
1                    39.47

x1,x2,n1,n2: [27, 30, 39, 76]
p1:	 0.6923076923076923
p2:	 0.39473684210526316
p1-p2:	 0.2975708502024291
z:	 3.0215304900211017
pvalue:	 0.0012575015501833375**


 Social


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 15                 13
1       KJI to KJU                  9                  8

   Percentage Advancements
0                    86.67
1                    88.89

x1,x2,n1,n2: [13, 8, 15, 9]
p1:	 0.8666666666666667
p2:	 0.8888888888888888
p1-p2:	 -0.022222222222222143
z:	 -0.1593638145779186
pvalue:	 0.43669112315483205


 Party


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                 25                  3
1       KJI to KJU                  0                  0

   Percentage Advancements
0                     12.0
1                      NaN

x1,x2,n1,n2: [3, 0, 25, 0]
p1:	 0.12
p2:	 nan
p1-p2:	 nan
z:	 nan
pvalue:	 nan


 Military


  Succession_Broad  Total Transitions Total Advancements  \
0       KIS to KJI                  7                  7
1       KJI to KJU                 14                 14

   Percentage Advancements
0                    100.0
1                    100.0

x1,x2,n1,n2: [7, 14, 7, 14]
p1:	 1.0
p2:	 1.0
p1-p2:	 0.0
z:	 nan
pvalue:	 nan

C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:5: RuntimeWarning: invalid value encountered in scalar divide
  p2 = x2/n2
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))

# Hypothesis 2a - Org Advancement, narrow succession periods

In [275]:
select_columns = ["Succession_Narrow","LeaderID"]
select_rows = trans["PISame"]==True
group_columns = ["Succession_Narrow"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Narrow  LeaderID
0        KIS to KJI        58
1        KJI to KJU        69

In [276]:
stat4_rows = trans["PISame"]==True
stat4_columns = ["Succession_Narrow","OrgAdvanceYes"]
stat4_groupby = ["Succession_Narrow"]
stat4_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [277]:
stat4 = trans.loc[stat4_rows,stat4_columns].groupby(stat4_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4

  Succession_Narrow  Total Transitions Total Advancements
0        KIS to KJI                 58                  5
1        KJI to KJU                 69                  9

In [278]:
stat4["Percentage Advancements of OrgRank"] = stat4.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4

,Succession_Narrow,Total Transitions,Total Advancements,Percentage Advancements of OrgRank
0,KIS to KJI,58,5,8.62
1,KJI to KJU,69,9,13.04

In [279]:
x1 = stat4.iloc[0,2]
x2 = stat4.iloc[1,2]
n1 = stat4.iloc[0,1]
n2 = stat4.iloc[1,1]

In [280]:
# 2-sample test of proportions
# def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
two_sample_ttest_proportions(x1,x2,n1,n2,.05)

x1,x2,n1,n2: [5, 9, 58, 69]
p1:	 0.08620689655172414
p2:	 0.13043478260869565
p1-p2:	 -0.044227886056971505
z:	 -0.7927446962278489
pvalue:	 0.21396329177709894

# Hypothesis 2b - Position Advancement, narrow succession periods

In [281]:
select_columns = ["Succession_Narrow","LeaderID"]
select_rows = (trans["PISame"] & trans["OrgRankChange"].isin(["same"]))
group_columns = ["Succession_Narrow"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Narrow  LeaderID
0        KIS to KJI        49
1        KJI to KJU        52

In [282]:
stat4b_rows = (trans["PISame"] & trans["OrgRankChange"].isin(["same"]))
stat4b_columns = ["Succession_Narrow","PositionAdvanceYes"]
stat4b_groupby = ["Succession_Narrow"]
stat4b_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [283]:
stat4b = trans.loc[stat4b_rows,stat4b_columns].groupby(stat4b_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4b

  Succession_Narrow  Total Transitions Total Advancements
0        KIS to KJI                 46                 23
1        KJI to KJU                 49                 20

In [284]:
stat4b["Percentage Advancements of Position Rank"] = stat4b.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4b

,Succession_Narrow,Total Transitions,Total Advancements,Percentage Advancements of Position Rank
0,KIS to KJI,46,23,50.00
1,KJI to KJU,49,20,40.82

In [285]:
x1 = stat4b.iloc[0,2]
x2 = stat4b.iloc[1,2]
n1 = stat4b.iloc[0,1]
n2 = stat4b.iloc[1,1]

In [286]:
# 2-sample test of proportions
# def two_sample_ttest_proportions(x1,x2,n1,n2,alpha):
two_sample_ttest_proportions(x1,x2,n1,n2,.05)

x1,x2,n1,n2: [23, 20, 46, 49]
p1:	 0.5
p2:	 0.40816326530612246
p1-p2:	 0.09183673469387754
z:	 0.8987094174781964
pvalue:	 0.18440372973802055

# Hypothesis 2c - Org Advancement, narrow succession, by Institution

In [287]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True)
    stat4c_columns = ["Succession_Narrow","OrgAdvanceYes"]
    stat4c_groupby = ["Succession_Narrow"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements of OrgRank"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    x1 = stat4c.iloc[0,2]
    x2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(x1,x2,n1,n2,.05)

 Government


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                 33                  3
1        KJI to KJU                 56                  8

   Percentage Advancements of OrgRank
0                                9.09
1                               14.29

x1,x2,n1,n2: [3, 8, 33, 56]
p1:	 0.09090909090909091
p2:	 0.14285714285714285
p1-p2:	 -0.05194805194805194
z:	 -0.7192363178658627
pvalue:	 0.2359976629109708


 Social


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                  6                  1
1        KJI to KJU                  1              False

   Percentage Advancements of OrgRank
0                               16.67
1                                0.00

x1,x2,n1,n2: [1, False, 6, 1]
p1:	 0.16666666666666666
p2:	 0.0
p1-p2:	 0.16666666666666666
z:	 0.44095855184409843
pvalue:	 0.32962150184631533


 Party


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                 13                  0
1        KJI to KJU                  0                  0

   Percentage Advancements of OrgRank
0                                 0.0
1                                 NaN

x1,x2,n1,n2: [0, 0, 13, 0]
p1:	 0.0
p2:	 nan
p1-p2:	 nan
z:	 nan
pvalue:	 nan


 Military


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                  6                  1
1        KJI to KJU                 12                  1

   Percentage Advancements of OrgRank
0                               16.67
1                                8.33

x1,x2,n1,n2: [1, 1, 6, 12]
p1:	 0.16666666666666666
p2:	 0.08333333333333333
p1-p2:	 0.08333333333333333
z:	 0.5303300858899106
pvalue:	 0.29794154528258887

C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:5: RuntimeWarning: invalid value encountered in scalar divide
  p2 = x2/n2
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))

# Hypothesis 2d - Position Advancement, narrow succession, by Institution

In [288]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True) & (trans["OrgRankChange"].isin(["same"]))
    stat4c_columns = ["Succession_Narrow","PositionAdvanceYes"]
    stat4c_groupby = ["Succession_Narrow"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    x1 = stat4c.iloc[0,2]
    x2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(x1,x2,n1,n2,.05)

 Government


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                 25                 16
1        KJI to KJU                 42                 13

   Percentage Advancements
0                    64.00
1                    30.95

x1,x2,n1,n2: [16, 13, 25, 42]
p1:	 0.64
p2:	 0.30952380952380953
p1-p2:	 0.3304761904761905
z:	 2.640471166016987
pvalue:	 0.0041395418644954995**


 Social


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                  5                  3
1        KJI to KJU                  0                  0

   Percentage Advancements
0                     60.0
1                      NaN

x1,x2,n1,n2: [3, 0, 5, 0]
p1:	 0.6
p2:	 nan
p1-p2:	 nan
z:	 nan
pvalue:	 nan


 Party


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                 12                  0
1        KJI to KJU                  0                  0

   Percentage Advancements
0                      0.0
1                      NaN

x1,x2,n1,n2: [0, 0, 12, 0]
p1:	 0.0
p2:	 nan
p1-p2:	 nan
z:	 nan
pvalue:	 nan


 Military


  Succession_Narrow  Total Transitions Total Advancements  \
0        KIS to KJI                  4                  4
1        KJI to KJU                  7                  7

   Percentage Advancements
0                    100.0
1                    100.0

x1,x2,n1,n2: [4, 7, 4, 7]
p1:	 1.0
p2:	 1.0
p1-p2:	 0.0
z:	 nan
pvalue:	 nan

C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:5: RuntimeWarning: invalid value encountered in scalar divide
  p2 = x2/n2
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:5: RuntimeWarning: invalid value encountered in scalar divide
  p2 = x2/n2
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_3432\2071851454.py:6: RuntimeWarning: invalid value encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))

# Hypothesis 3a - Org Advancement, succession period = Five

In [262]:
select_columns = ["Succession_Five","LeaderID"]
select_rows = trans["PISame"]==True
group_columns = ["Succession_Five"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Five  LeaderID
0      KIS to KJI        94
1      KJI to KJU       135

In [263]:
stat4_rows = trans["PISame"]==True
stat4_columns = ["Succession_Five","OrgAdvanceYes"]
stat4_groupby = ["Succession_Five"]
stat4_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [264]:
stat4 = trans.loc[stat4_rows,stat4_columns].groupby(stat4_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4

  Succession_Five  Total Transitions Total Advancements
0      KIS to KJI                 94                 25
1      KJI to KJU                135                 28

In [265]:
stat4["Percentage Advancements of OrgRank"] = stat4.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4

,Succession_Five,Total Transitions,Total Advancements,Percentage Advancements of OrgRank
0,KIS to KJI,94,25,26.60
1,KJI to KJU,135,28,20.74

In [266]:
# 2-sample test of proportions
two_sample_ttest_proportions(25,28,94,135,.05)

p1:	 0.26595744680851063
p2:	 0.2074074074074074
p1-p2:	 0.05855003940110323
z:	 1.0334309766029885
pvalue:	 calculate

# Hypothesis 3b - Position Advancement, succession period = Five

In [267]:
select_columns = ["Succession_Five","LeaderID"]
select_rows = (trans["PISame"] & trans["OrgSame"])==True
group_columns = ["Succession_Five"]
trans.loc[select_rows,select_columns].groupby(group_columns,as_index=False).count()

  Succession_Five  LeaderID
0      KIS to KJI        15
1      KJI to KJU        26

In [268]:
stat4b_rows = (trans["PISame"] & trans["OrgSame"])==True
stat4b_columns = ["Succession_Five","PositionAdvanceYes"]
stat4b_groupby = ["Succession_Five"]
stat4b_labels = ["Succession Period","Total Transitions","Total Advancements"]

In [269]:
stat4b = trans.loc[stat4b_rows,stat4b_columns].groupby(stat4b_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})
stat4b

  Succession_Five  Total Transitions Total Advancements
0      KIS to KJI                 15                  7
1      KJI to KJU                 26                 11

In [270]:
stat4b["Percentage Advancements of Position Rank"] = stat4b.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
stat4b

,Succession_Five,Total Transitions,Total Advancements,Percentage Advancements of Position Rank
0,KIS to KJI,15,7,46.67
1,KJI to KJU,26,11,42.31

In [271]:
# 2-sample test of proportions
two_sample_ttest_proportions(7,11,15,26,.05)

p1:	 0.4666666666666667
p2:	 0.4230769230769231
p1-p2:	 0.0435897435897436
z:	 0.2708996074187647
pvalue:	 calculate

# Hypothesis 3c - Org Advancement, succession = Five, by Institution

In [272]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True)
    stat4c_columns = ["Succession_Five","OrgAdvanceYes"]
    stat4c_groupby = ["Succession_Five"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["OrgAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements of OrgRank"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    p1 = stat4c.iloc[0,2]
    p2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(p1,p2,n1,n2,.05)

 Government


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                 58                 17
1      KJI to KJU                 62                 13

   Percentage Advancements of OrgRank
0                               29.31
1                               20.97

p1:	 0.29310344827586204
p2:	 0.20967741935483872
p1-p2:	 0.08342602892102333
z:	 1.0546786488216733
pvalue:	 calculate


 Social


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                 11                  1
1      KJI to KJU                  5                  0

   Percentage Advancements of OrgRank
0                                9.09
1                                0.00

p1:	 0.09090909090909091
p2:	 0.0
p1-p2:	 0.09090909090909091
z:	 0.6963106238227914
pvalue:	 calculate


 Party


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                 16                  2
1      KJI to KJU                 58                  9

   Percentage Advancements of OrgRank
0                               12.50
1                               15.52

p1:	 0.125
p2:	 0.15517241379310345
p1-p2:	 -0.030172413793103453
z:	 -0.3003539071209402
pvalue:	 calculate


 Military


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                  9                  5
1      KJI to KJU                 10                  6

   Percentage Advancements of OrgRank
0                               55.56
1                               60.00

p1:	 0.5555555555555556
p2:	 0.6
p1-p2:	 -0.0444444444444444
z:	 -0.19591793788175269
pvalue:	 calculate

# Hypothesis 3d - Position Advancement, Succession = Five, by Institution

In [273]:
ics = list(trans.InstitutionCategory_2.unique())
for ic in ics:
    print("\n\n",ic,"\n\n")
    stat4c_rows = (trans["InstitutionCategory_2"]==ic) & (trans["PISame"]==True) & (trans["OrgSame"]==True)
    stat4c_columns = ["Succession_Five","PositionAdvanceYes"]
    stat4c_groupby = ["Succession_Five"]
    stat4c_labels = ["Succession Period","Total Transitions","Total Advancements"]
    
    stat4c = trans.loc[stat4c_rows,stat4c_columns].groupby(stat4c_groupby,as_index=False)["PositionAdvanceYes"].agg({"Total Transitions":"count","Total Advancements":"sum"})    
    stat4c["Percentage Advancements"] = stat4c.apply(lambda x: round(x["Total Advancements"] / x["Total Transitions"] * 100,2) if x["Total Transitions"] > 0 else np.nan,axis=1)
   
    print(stat4c,"\n")
    
    p1 = stat4c.iloc[0,2]
    p2 = stat4c.iloc[1,2]
    n1 = stat4c.iloc[0,1]
    n2 = stat4c.iloc[1,1]
    
    two_sample_ttest_proportions(p1,p2,n1,n2,.05)

 Government


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                 11                  4
1      KJI to KJU                 19                  5

   Percentage Advancements
0                    36.36
1                    26.32

p1:	 0.36363636363636365
p2:	 0.2631578947368421
p1-p2:	 0.10047846889952156
z:	 0.578729841692194
pvalue:	 calculate


 Social


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                  3                  2
1      KJI to KJU                  1               True

   Percentage Advancements
0                    66.67
1                   100.00

p1:	 0.6666666666666666
p2:	 1.0
p1-p2:	 -0.33333333333333337
z:	 -0.6666666666666667
pvalue:	 calculate


 Party


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                  1               True
1      KJI to KJU                  5                  5

   Percentage Advancements
0                    100.0
1                    100.0

p1:	 1.0
p2:	 1.0
p1-p2:	 0.0
z:	 nan
pvalue:	 calculate


 Military


  Succession_Five  Total Transitions Total Advancements  \
0      KIS to KJI                  0                  0
1      KJI to KJU                  1              False

   Percentage Advancements
0                      NaN
1                      0.0

p1:	 nan
p2:	 0.0
p1-p2:	 nan
z:	 nan
pvalue:	 calculate

C:\Users\seoul\AppData\Local\Temp\ipykernel_7912\3713812013.py:6: RuntimeWarning: invalid value encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_7912\3713812013.py:4: RuntimeWarning: invalid value encountered in scalar divide
  p1 = x1/n1
C:\Users\seoul\AppData\Local\Temp\ipykernel_7912\3713812013.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))
C:\Users\seoul\AppData\Local\Temp\ipykernel_7912\3713812013.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  z = (p1-p2) / math.sqrt(pstar*(1-pstar)*((1/n1) + (1/n2)))