# Libraries & Global Variables

In [1]:
import pandas as pd

# Import Data

In [3]:
leaders = pd.read_csv("leader table_dsl.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 3

In [ ]:
# look at the csv file - what's wrong or different?

# change the delimiter

In [16]:
leaders = pd.read_csv("leader table_dsl.csv",delimiter=";")

In [17]:
leaders

,MOUID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC
0,102,장성택,1946.1.22 함북 청진시,NaN,1946.0,한반도,함북,청진시
1,103,윤기정,NaN,NaN,NaN,NaN,NaN,NaN
2,104,장성길,"1939.1.13, 평양","820전차군단 정치위원, 인민군 중장",1939.0,한반도,평양,NaN
3,105,원응희,1939년생(1936년說),"보위사령관, 인민군 대장, 당 중앙위 위원",1939.0,NaN,NaN,NaN
4,106,주규창,1928.11.25 함남 함주군,NaN,1928.0,한반도,함남,함주군
...,...,...,...,...,...,...,...,...
379,803,전창복,NaN,NaN,NaN,NaN,NaN,NaN
380,804,조연준,1937.9.28 함경남도 고원군,NaN,1937.0,한반도,함남,고원군
381,805,최광래,1944년생,NaN,1944.0,NaN,NaN,NaN
382,806,최광진,NaN,NaN,NaN,NaN,NaN,NaN
383,807,강관주,1930.7.5 평남 대동군,NaN,1930.0,한반도,평남,대동군

In [18]:
# something is wrong - 
    # number of records is wrong
    # header is wrong

# compare pandas with csv files
    # csv files have no variable headers
    
# add variable names - where - in pandas? or csv files?

In [19]:
# do the same for the careers.csv file

In [20]:
careers = pd.read_csv("leader-career link table_dsl.csv",delimiter=";")

In [21]:
careers

,102,장성택,1,1969. 모스크바 유학,NULL,NULL.1,NULL.2,NULL.3,NULL.4,NULL.5,NULL.6,NULL.7,NULL.8,NULL.9,NULL.10,NULL.11,org1_org2_org3_org4_position
0,102,장성택,2,1972. 김경희와 결혼,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
1,102,장성택,3,1982.10 당 청소년사업부 부부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
2,102,장성택,4,1985. 7 당 청소년사업부 제1부부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
3,102,장성택,5,1986.11 최고인민회의 제8기 대의원,1986.0,11.0,1.0,NaN,최고인민회의,NaN,NaN,NaN,NaN,대의원,1.0,3.0,최고인민회의_NA_NA_NA_대의원
4,102,장성택,6,1988.12 당 청소년사업부 부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5701,807,강관주,3506,1993. 1 당 통일전선부 부장,1993.0,1.0,1.0,NaN,노동당,중앙위원회,통일전선부,NaN,NaN,부장,3.0,1.0,노동당_중앙위원회_통일전선부_NA_부장
5702,807,강관주,3507,1993.10 해외동포원호위원회 위원장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5703,807,강관주,3508,1997. 2 당 대외연락부(舊 사회문화부) 부장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5704,807,강관주,3509,2009. 내각 225국 국장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position
5705,807,강관주,3510,연도미상김일성고급당학교 졸업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org1_org2_org3_org4_position

In [22]:
# confirm correct number of records with SQL database

# Question 1: Are younger leaders disproportionately from Pyongyang

# (BirthCP = "평양", BirthYear>1960)

In [23]:
leaders

,MOUID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC
0,102,장성택,1946.1.22 함북 청진시,NaN,1946.0,한반도,함북,청진시
1,103,윤기정,NaN,NaN,NaN,NaN,NaN,NaN
2,104,장성길,"1939.1.13, 평양","820전차군단 정치위원, 인민군 중장",1939.0,한반도,평양,NaN
3,105,원응희,1939년생(1936년說),"보위사령관, 인민군 대장, 당 중앙위 위원",1939.0,NaN,NaN,NaN
4,106,주규창,1928.11.25 함남 함주군,NaN,1928.0,한반도,함남,함주군
...,...,...,...,...,...,...,...,...
379,803,전창복,NaN,NaN,NaN,NaN,NaN,NaN
380,804,조연준,1937.9.28 함경남도 고원군,NaN,1937.0,한반도,함남,고원군
381,805,최광래,1944년생,NaN,1944.0,NaN,NaN,NaN
382,806,최광진,NaN,NaN,NaN,NaN,NaN,NaN
383,807,강관주,1930.7.5 평남 대동군,NaN,1930.0,한반도,평남,대동군

In [24]:
# https://stackoverflow.com/questions/19384532/get-statistics-for-each-group-such-as-count-mean-etc-using-pandas-groupby

leaders.groupby("BirthCP").size()

BirthCP
강원         8
서울         2
양강        10
자강         9
지린         1
평남        22
평북         9
평양        18
하바로프스크     1
함경         1
함남        13
함북        11
황남         4
황북         1
황해         1
dtype: int64

In [25]:
# sort the list

#https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_values.html

leaders.groupby("BirthCP").size().sort_values()

BirthCP
지린         1
하바로프스크     1
함경         1
황북         1
황해         1
서울         2
황남         4
강원         8
자강         9
평북         9
양강        10
함북        11
함남        13
평양        18
평남        22
dtype: int64

In [26]:
leaders.groupby(["BirthYear","BirthCP"]).size()

BirthYear  BirthCP
1910.0     함북         1
1912.0     평남         1
1916.0     양강         1
           황북         1
1917.0     평남         1
                     ..
1956.0     평양         1
           함남         1
1957.0     평양         1
1958.0     양강         1
1959.0     자강         1
Length: 97, dtype: int64

In [43]:
# create a new variable "Young". set = to 0. do a conditional replace

# https://stackoverflow.com/questions/21608228/conditional-replace-pandas

leaders["Young"]=0
leaders.loc[leaders.BirthYear>=1960,"Young"] = 1

In [44]:
#leaders.loc[leaders["BirthYear"]>="1960","Young"]
#leaders
leaders

,MOUID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC,Young
0,102,장성택,1946.1.22 함북 청진시,NaN,1946.0,한반도,함북,청진시,0
1,103,윤기정,NaN,NaN,NaN,NaN,NaN,NaN,0
2,104,장성길,"1939.1.13, 평양","820전차군단 정치위원, 인민군 중장",1939.0,한반도,평양,NaN,0
3,105,원응희,1939년생(1936년說),"보위사령관, 인민군 대장, 당 중앙위 위원",1939.0,NaN,NaN,NaN,0
4,106,주규창,1928.11.25 함남 함주군,NaN,1928.0,한반도,함남,함주군,0
...,...,...,...,...,...,...,...,...,...
379,803,전창복,NaN,NaN,NaN,NaN,NaN,NaN,0
380,804,조연준,1937.9.28 함경남도 고원군,NaN,1937.0,한반도,함남,고원군,0
381,805,최광래,1944년생,NaN,1944.0,NaN,NaN,NaN,0
382,806,최광진,NaN,NaN,NaN,NaN,NaN,NaN,0
383,807,강관주,1930.7.5 평남 대동군,NaN,1930.0,한반도,평남,대동군,0

In [46]:
leaders.groupby("BirthYear").size()

BirthYear
1910.0     1
1912.0     1
1916.0     2
1917.0     1
1918.0     1
1919.0     1
1920.0     1
1921.0     2
1922.0     2
1923.0     3
1924.0     3
1925.0     3
1926.0     4
1928.0     6
1929.0     6
1930.0    11
1931.0     2
1932.0     4
1933.0     5
1934.0     5
1935.0     7
1936.0    10
1937.0     6
1938.0     7
1939.0     9
1940.0    12
1941.0    14
1942.0    15
1943.0     6
1944.0    12
1945.0     7
1946.0    14
1947.0    11
1948.0    10
1949.0     5
1950.0     4
1951.0     4
1952.0     2
1953.0     6
1954.0     9
1955.0     5
1956.0     8
1957.0     1
1958.0     5
1959.0     4
1960.0     1
1961.0     3
1962.0     2
1963.0     2
1966.0     1
1968.0     1
dtype: int64

In [47]:
# distribution of leaders by "Young"
leaders.groupby("Young").size()

Young
0    374
1     10
dtype: int64

In [48]:
# maybe 1960 was a bad choice

# what is the birth year?

leaders["BirthYear"].describe()

count     267.000000
mean     1941.539326
std        10.751523
min      1910.000000
25%      1935.000000
50%      1942.000000
75%      1948.000000
max      1968.000000
Name: BirthYear, dtype: float64

In [52]:
# try again with BirthYear >=1942 (Kim Jong Il was born in 1942)

leaders["Young"]=0
leaders.loc[leaders.BirthYear>=1942,"Young"]=1
leaders

,MOUID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC,Young
0,102,장성택,1946.1.22 함북 청진시,NaN,1946.0,한반도,함북,청진시,1
1,103,윤기정,NaN,NaN,NaN,NaN,NaN,NaN,0
2,104,장성길,"1939.1.13, 평양","820전차군단 정치위원, 인민군 중장",1939.0,한반도,평양,NaN,0
3,105,원응희,1939년생(1936년說),"보위사령관, 인민군 대장, 당 중앙위 위원",1939.0,NaN,NaN,NaN,0
4,106,주규창,1928.11.25 함남 함주군,NaN,1928.0,한반도,함남,함주군,0
...,...,...,...,...,...,...,...,...,...
379,803,전창복,NaN,NaN,NaN,NaN,NaN,NaN,0
380,804,조연준,1937.9.28 함경남도 고원군,NaN,1937.0,한반도,함남,고원군,0
381,805,최광래,1944년생,NaN,1944.0,NaN,NaN,NaN,1
382,806,최광진,NaN,NaN,NaN,NaN,NaN,NaN,0
383,807,강관주,1930.7.5 평남 대동군,NaN,1930.0,한반도,평남,대동군,0

In [50]:
# distribution of leaders by "Young"
leaders.groupby("Young").size()

Young
0    246
1    138
dtype: int64

In [53]:
leaders.groupby("BirthCP").size()

BirthCP
강원         8
서울         2
양강        10
자강         9
지린         1
평남        22
평북         9
평양        18
하바로프스크     1
함경         1
함남        13
함북        11
황남         4
황북         1
황해         1
dtype: int64

In [54]:
leaders["Pyongyang"]=0

In [56]:
leaders.loc[leaders.BirthCP=="평양","Pyongyang"]=1

In [57]:
leaders

,MOUID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC,Young,Pyongyang
0,102,장성택,1946.1.22 함북 청진시,NaN,1946.0,한반도,함북,청진시,1,0
1,103,윤기정,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,104,장성길,"1939.1.13, 평양","820전차군단 정치위원, 인민군 중장",1939.0,한반도,평양,NaN,0,1
3,105,원응희,1939년생(1936년說),"보위사령관, 인민군 대장, 당 중앙위 위원",1939.0,NaN,NaN,NaN,0,0
4,106,주규창,1928.11.25 함남 함주군,NaN,1928.0,한반도,함남,함주군,0,0
...,...,...,...,...,...,...,...,...,...,...
379,803,전창복,NaN,NaN,NaN,NaN,NaN,NaN,0,0
380,804,조연준,1937.9.28 함경남도 고원군,NaN,1937.0,한반도,함남,고원군,0,0
381,805,최광래,1944년생,NaN,1944.0,NaN,NaN,NaN,1,0
382,806,최광진,NaN,NaN,NaN,NaN,NaN,NaN,0,0
383,807,강관주,1930.7.5 평남 대동군,NaN,1930.0,한반도,평남,대동군,0,0

In [58]:
leaders.groupby("Pyongyang").size()

Pyongyang
0    366
1     18
dtype: int64

In [59]:
leaders.groupby(["Young","Pyongyang"]).size()

Young  Pyongyang
0      0            236
       1             10
1      0            130
       1              8
dtype: int64

In [60]:
leaders.BirthCP

0       함북
1      NaN
2       평양
3      NaN
4       함남
      ...
379    NaN
380     함남
381    NaN
382    NaN
383     평남
Name: BirthCP, Length: 384, dtype: object

In [61]:
leaders[leaders.BirthCP.notna()].groupby(["Young","Pyongyang"]).size()

Young  Pyongyang
0      0            69
       1            10
1      0            24
       1             8
dtype: int64

In [62]:
# frequency of old elites from Pyongyang
10/(10+69)

0.12658227848101267

In [63]:
# frequency of youn g elites from Pyongyang
8/(8+24)

0.25

In [66]:
# python way to do things

leaders["BirthCP"] == "평양"

0      False
1      False
2       True
3      False
4      False
       ...
379    False
380    False
381    False
382    False
383    False
Name: BirthCP, Length: 384, dtype: bool

In [67]:
# pandas way to do things

leaders.BirthCP == "평양"

0      False
1      False
2       True
3      False
4      False
       ...
379    False
380    False
381    False
382    False
383    False
Name: BirthCP, Length: 384, dtype: bool