In [1]:
import pandas as pd

In [29]:
# dfold = pd.read_csv("../data/old data/leader table_dsl.csv",delimiter=";",encoding="utf-8")
dfold = pd.read_excel("../data/old data/NK elite old checklist.xlsx").dropna(subset=["LeaderID"])

In [30]:
dfnew = pd.read_excel("../data/new data/NK elite new checklist.xlsx").dropna(subset=["LeaderID"])

In [31]:
dfnew

,LeaderID,Name,성명(한글),소속/직책,성별,생년월일,출생지,사망여부,사망일자
0,강관주,강관주,NaN,NaN,남성,1930년 07월 05일,평안남도 대동군,NaN,연도미상
1,강능수,강능수,NaN,(사망) 당 중앙위원회 위원,남성,1930년 02월 21일,평양시,(사망),2015년 07월 01일
2,강동윤,강동윤,NaN,당 중앙위원회 부부장,남성,연도미상,NaN,NaN,연도미상
3,강련학,강련학,강연학,(사망) 민족화해협의회 부회장,남성,연도미상,NaN,(사망),2016년 10월 01일
4,강명철,강명철,NaN,조선그리스도교연맹 중앙위원회 위원장,남성,연도미상,NaN,NaN,연도미상
...,...,...,...,...,...,...,...,...,...
600,황병서,황병서,NaN,인민군 차수,남성,1949년,NaN,NaN,연도미상
601,황봉영,황봉영,NaN,조선올림픽위원회 부위원장,남성,1944년 08월 15일,NaN,NaN,연도미상
602,황순희,황순희,NaN,(사망) 조선혁명박물관 관장,여성,1919년 05월 03일,북한지역외 중국,(사망),2020년 01월 17일
603,황철식,황철식,NaN,NaN,미상,연도미상,NaN,NaN,연도미상
604,황학원,황학원,NaN,NaN,남성,1941년 01월 01일,NaN,NaN,연도미상

In [32]:
dfold

,MOUID,LeaderID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC
0,102,장성택,장성택,1946.1.22 함북 청진시,NaN,1946.0,한반도,함북,청진시
1,103,윤기정,윤기정,NaN,NaN,NaN,NaN,NaN,NaN
2,104,장성길,장성길,"1939.1.13, 평양","820전차군단 정치위원, 인민군 중장",1939.0,한반도,평양,NaN
3,105,원응희,원응희,1939년생(1936년說),"보위사령관, 인민군 대장, 당 중앙위 위원",1939.0,NaN,NaN,NaN
4,106,주규창,주규창,1928.11.25 함남 함주군,NaN,1928.0,한반도,함남,함주군
...,...,...,...,...,...,...,...,...,...
379,803,전창복,전창복,NaN,NaN,NaN,NaN,NaN,NaN
380,804,조연준,조연준,1937.9.28 함경남도 고원군,NaN,1937.0,한반도,함남,고원군
381,805,최광래,최광래,1944년생,NaN,1944.0,NaN,NaN,NaN
382,806,최광진,최광진,NaN,NaN,NaN,NaN,NaN,NaN
383,807,강관주,강관주,1930.7.5 평남 대동군,NaN,1930.0,한반도,평남,대동군

In [33]:
newdupa = dfnew[dfnew["LeaderID"].str.contains("a")]

In [34]:
newdupnames = newdupa.Name.tolist()
len(newdupnames)

16

In [35]:
newdupnames

['김경호',
 '김광철',
 '김금철',
 '김명길',
 '김영일',
 '김영철',
 '김영훈',
 '김완수',
 '김윤혁',
 '김일철',
 '김형식',
 '리성국',
 '리용철',
 '박명철',
 '박성철',
 '최영호']

In [36]:
olddupa = dfold[dfold["LeaderID"].str.contains("a")]

In [37]:
olddupa

,MOUID,LeaderID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC
60,233,김형식a,김형식,1941.5.29,NaN,1941.0,NaN,NaN,NaN
73,262,김일철a,김일철,1930년생 평양,NaN,1930.0,한반도,평양,NaN
86,283,김윤혁a,김윤혁,1926년생 평남 양덕,"당 중앙위원, 최고인민회의 제11기 대의원",1926.0,한반도,평남,양덕
102,320,김완수a,김완수,1939.5.10 함남,NaN,1939.0,한반도,함남,NaN
104,326,박성철a,박성철,NaN,NaN,NaN,NaN,NaN,NaN
110,334,김영철a,김영철,1946년생 양강도,NaN,1946.0,한반도,양강,NaN
123,351,김영일a,김영일,1947.3.17 평북 정주시,NaN,1947.0,한반도,평북,정주시
143,384,리용철a,리용철,NaN,NaN,NaN,NaN,NaN,NaN
170,424,박명철a,박명철,1941.9.15 평북 의주군,NaN,1941.0,한반도,평북,의주군
286,648,김경호a,김경호,1958.12.11,NaN,1958.0,NaN,NaN,NaN
291,653,김명길a,김명길,1959.3.14 자강도 만포시,NaN,1959.0,한반도,자강,만포시

In [38]:
dfold[dfold.KoreanName.str.contains("김경호")]

,MOUID,LeaderID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC
286,648,김경호a,김경호,1958.12.11,NaN,1958.0,NaN,NaN,NaN
287,649,김경호b,김경호,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
dfnew[dfnew.Name.str.contains("김경호")]

,LeaderID,Name,성명(한글),소속/직책,성별,생년월일,출생지,사망여부,사망일자
47,김경호a,김경호,NaN,조선태권도위원회 국제태권도연맹 부총재,남성,1958년 12월 11일,강원도,NaN,연도미상
48,김경호b,김경호,NaN,NaN,남성,연도미상,NaN,NaN,연도미상

In [40]:
dfnew

,LeaderID,Name,성명(한글),소속/직책,성별,생년월일,출생지,사망여부,사망일자
0,강관주,강관주,NaN,NaN,남성,1930년 07월 05일,평안남도 대동군,NaN,연도미상
1,강능수,강능수,NaN,(사망) 당 중앙위원회 위원,남성,1930년 02월 21일,평양시,(사망),2015년 07월 01일
2,강동윤,강동윤,NaN,당 중앙위원회 부부장,남성,연도미상,NaN,NaN,연도미상
3,강련학,강련학,강연학,(사망) 민족화해협의회 부회장,남성,연도미상,NaN,(사망),2016년 10월 01일
4,강명철,강명철,NaN,조선그리스도교연맹 중앙위원회 위원장,남성,연도미상,NaN,NaN,연도미상
...,...,...,...,...,...,...,...,...,...
600,황병서,황병서,NaN,인민군 차수,남성,1949년,NaN,NaN,연도미상
601,황봉영,황봉영,NaN,조선올림픽위원회 부위원장,남성,1944년 08월 15일,NaN,NaN,연도미상
602,황순희,황순희,NaN,(사망) 조선혁명박물관 관장,여성,1919년 05월 03일,북한지역외 중국,(사망),2020년 01월 17일
603,황철식,황철식,NaN,NaN,미상,연도미상,NaN,NaN,연도미상
604,황학원,황학원,NaN,NaN,남성,1941년 01월 01일,NaN,NaN,연도미상

# merge old and new - confusion matrix

### confirm unique LeaderID in new and old data

In [41]:
dfold.shape

(384, 9)

In [42]:
len(dfold.LeaderID.unique())

384

In [43]:
dfold[dfold.LeaderID.duplicated()==True]

Empty DataFrame
Columns: [MOUID, LeaderID, KoreanName, BirthString, DeathString, BirthYear, BirthCountry, BirthCP, BirthBCC]
Index: []

In [46]:
dfold[dfold.LeaderID.str.contains("김완수")]

,MOUID,LeaderID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC
102,320,김완수a,김완수,1939.5.10 함남,NaN,1939.0,한반도,함남,NaN
303,666,김완수b,김완수,1940년생,NaN,1940.0,NaN,NaN,NaN

In [47]:
dfnew[dfnew.LeaderID.str.contains("김완수")]

    LeaderID Name 성명(한글)            소속/직책  성별           생년월일   출생지 사망여부  사망일자
121     김완수a  김완수    NaN  최고인민회의 제14기 대의원  남성  1941년 01월 01일  함경북도  NaN  연도미상

In [48]:
dfnew.shape

(605, 9)

In [49]:
len(dfnew.LeaderID.unique())

605

### merge new and old leader lists

In [50]:
dfmerge = dfnew.merge(dfold,on="LeaderID",how="outer")
dfmerge.shape

(668, 17)

In [51]:
dfmerge

,LeaderID,Name,성명(한글),소속/직책,성별,생년월일,출생지,사망여부,사망일자,MOUID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC
0,강관주,강관주,NaN,NaN,남성,1930년 07월 05일,평안남도 대동군,NaN,연도미상,807.0,강관주,1930.7.5 평남 대동군,NaN,1930.0,한반도,평남,대동군
1,강능수,강능수,NaN,(사망) 당 중앙위원회 위원,남성,1930년 02월 21일,평양시,(사망),2015년 07월 01일,430.0,강능수,1930.2.21 평양,NaN,1930.0,한반도,평양,NaN
2,강동윤,강동윤,NaN,당 중앙위원회 부부장,남성,연도미상,NaN,NaN,연도미상,153.0,강동윤,NaN,NaN,NaN,NaN,NaN,NaN
3,강련학,강련학,강연학,(사망) 민족화해협의회 부회장,남성,연도미상,NaN,(사망),2016년 10월 01일,542.0,강련학,1932년생,NaN,1932.0,NaN,NaN,NaN
4,강명철,강명철,NaN,조선그리스도교연맹 중앙위원회 위원장,남성,연도미상,NaN,NaN,연도미상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,오광철,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,705.0,오광철,1959.6.15,NaN,1959.0,NaN,NaN,NaN
664,오길방,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,706.0,오길방,1936년생,NaN,1936.0,NaN,NaN,NaN
665,우두태,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,707.0,우두태,"1940년생, 강원 고성",NaN,1940.0,한반도,강원,고성
666,이공필,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,709.0,이공필,NaN,NaN,NaN,NaN,NaN,NaN
667,이금범,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711.0,이금범,1941.1.3,NaN,1941.0,NaN,NaN,NaN

### confusion matrix

In [54]:
# contained in new, but not in old - cases where MOUID is null
dfmerge[dfmerge.MOUID.isnull()].shape

(284, 17)

In [59]:
# contained in old, but not in new - cases where Name is null
dfmerge[dfmerge.Name.isnull()].shape

(63, 17)

In [62]:
# contained in both old and new - cases where neither Name nor MOUID are null
dfmerge[dfmerge.Name.notnull() & dfmerge.MOUID.notnull()].shape

(321, 17)

In [63]:
# contained in neither old nor new - cases where both Name and MOUID are null
dfmerge[dfmerge.Name.isnull() & dfmerge.MOUID.isnull()].shape

(0, 17)

In [68]:
# confirm the intersection and unique new sum to total new (605)
321+63

384

In [67]:
# confirm the intersection and unique old sum to total old (384)
321+284

605

In [69]:
# confirm the three cells sum to the total (668)
284+63+321

668

# examine parsed fields for old and new - e.g. BirthString & 생년월일

In [74]:
dfnew

,LeaderID,Name,성명(한글),소속/직책,성별,생년월일,출생지,사망여부,사망일자
0,강관주,강관주,NaN,NaN,남성,1930년 07월 05일,평안남도 대동군,NaN,연도미상
1,강능수,강능수,NaN,(사망) 당 중앙위원회 위원,남성,1930년 02월 21일,평양시,(사망),2015년 07월 01일
2,강동윤,강동윤,NaN,당 중앙위원회 부부장,남성,연도미상,NaN,NaN,연도미상
3,강련학,강련학,강연학,(사망) 민족화해협의회 부회장,남성,연도미상,NaN,(사망),2016년 10월 01일
4,강명철,강명철,NaN,조선그리스도교연맹 중앙위원회 위원장,남성,연도미상,NaN,NaN,연도미상
...,...,...,...,...,...,...,...,...,...
600,황병서,황병서,NaN,인민군 차수,남성,1949년,NaN,NaN,연도미상
601,황봉영,황봉영,NaN,조선올림픽위원회 부위원장,남성,1944년 08월 15일,NaN,NaN,연도미상
602,황순희,황순희,NaN,(사망) 조선혁명박물관 관장,여성,1919년 05월 03일,북한지역외 중국,(사망),2020년 01월 17일
603,황철식,황철식,NaN,NaN,미상,연도미상,NaN,NaN,연도미상
604,황학원,황학원,NaN,NaN,남성,1941년 01월 01일,NaN,NaN,연도미상

In [72]:
dfmerge[dfmerge.MOUID.notnull()]

,LeaderID,Name,성명(한글),소속/직책,성별,생년월일,출생지,사망여부,사망일자,MOUID,KoreanName,BirthString,DeathString,BirthYear,BirthCountry,BirthCP,BirthBCC
0,강관주,강관주,NaN,NaN,남성,1930년 07월 05일,평안남도 대동군,NaN,연도미상,807.0,강관주,1930.7.5 평남 대동군,NaN,1930.0,한반도,평남,대동군
1,강능수,강능수,NaN,(사망) 당 중앙위원회 위원,남성,1930년 02월 21일,평양시,(사망),2015년 07월 01일,430.0,강능수,1930.2.21 평양,NaN,1930.0,한반도,평양,NaN
2,강동윤,강동윤,NaN,당 중앙위원회 부부장,남성,연도미상,NaN,NaN,연도미상,153.0,강동윤,NaN,NaN,NaN,NaN,NaN,NaN
3,강련학,강련학,강연학,(사망) 민족화해협의회 부회장,남성,연도미상,NaN,(사망),2016년 10월 01일,542.0,강련학,1932년생,NaN,1932.0,NaN,NaN,NaN
5,강민철,강민철,NaN,NaN,남성,1948년,NaN,NaN,연도미상,288.0,강민철,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,오광철,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,705.0,오광철,1959.6.15,NaN,1959.0,NaN,NaN,NaN
664,오길방,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,706.0,오길방,1936년생,NaN,1936.0,NaN,NaN,NaN
665,우두태,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,707.0,우두태,"1940년생, 강원 고성",NaN,1940.0,한반도,강원,고성
666,이공필,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,709.0,이공필,NaN,NaN,NaN,NaN,NaN,NaN
667,이금범,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711.0,이금범,1941.1.3,NaN,1941.0,NaN,NaN,NaN