In [1]:
import pandas as pd
import numpy as np

# combined data - 2 tables

In [2]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [3]:
filename_careers = "careers.xlsx"

careers = pd.read_excel(path_tables + filename_careers,dtype="str")
careers.shape

(9001, 12)

In [4]:
careers[careers["CareerString"].isna()]

Empty DataFrame
Columns: [CareerString, CareerDateString_2022, IsJob, MultipleSubstrings, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, PrimaryInstitution, OrgName, Position, Notes]
Index: []

In [5]:
filename_leadercareerlink = "leadercareerlink.xlsx"

In [6]:
filename_leaderjoblink = "leaderjoblink.xlsx"

In [7]:
filename_joborglink = "joborglink.xlsx"

# combined data - 1 cleaning/cleaning step 2 - career/

In [8]:
path_cleaning = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 1 cleaning/cleaning step 2 - career/"

In [9]:
subpath_2_1 = "2.1 career_undivided_unparsed_uncoded/"
subpath_2_2 = "2.2 career_divided_unparsed_uncoded/"
subpath_2_3 = "2.3 joborglink/"
subpath_2_4 = "2.4 orgtree/"
subpath_2_5 = "2.5 position/"
subpath_2_6 = "2.6 career_reassembled/"
subpath_2_7 = "2.7 orgtree position & rank/"

In [10]:
# 1.0 orgtree_position_rank

# constructing new file from:
## 2022 북한_기관별_인명록_북한정보포털 게재용
## orgtree table

filein_opr = "1.0 orgtree_position_rank.xlsx"
opr = pd.read_excel(path_cleaning + subpath_2_7 + filein_opr,dtype="str")
opr.shape

(1376, 19)

In [11]:
opr.head(2)

,InsideGov,PrimaryInstitution,OrgName,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Notes,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName,Alias_OrgName
0,1,노동당,NaN,1.0.0.0.0,0,총비서,NaN,NaN,Current,Current,Current,NaN,1,0,0,0,0,NaN,NaN
1,1,노동당,당중앙위원회,1.1.0.0.0,1,NaN,NaN,"위원, 후보위원",Current,Current,Current,NaN,1,1,0,0,0,NaN,NaN

In [12]:
# orgtree_copy

# copy of orgtree table

filein_ot = "orgtree_copy.xlsx"
ot = pd.read_excel(path_cleaning + subpath_2_7 + filein_ot,dtype="str")
ot.shape

(1406, 19)

In [14]:
# position_rank_jacob_2 - hand-coded

# Jacob's hand_ranked positions of 내각, 정무원

# filein_posrank_admin = "position_rank_jacob_2.xlsx"
# pr_admin = pd.read_excel(path_cleaning + subpath_2_7 + filein_posrank_admin,dtype="str")
# pr_admin.shape

In [14]:
# position_rank_esther - original

# original positions of 노동당, before hand-coding

# filein_posrank_party_orig = "position_rank_esther.xlsx"
# pr_party_orig = pd.read_excel(path_cleaning + subpath_2_7 + filein_posrank_party_orig,dtype="str")
# pr_party_orig.shape

In [15]:
# position_rank_esther_handcoded

# Esther's hand_ranked positions of 노동당

# filein_posrank_party = "position_rank_esther_handcoded.xlsx"
# pr_party = pd.read_excel(path_cleaning + subpath_2_7 + filein_posrank_party,dtype="str")
# pr_party.shape

In [31]:
# position_rank_jeongsu_handcoded

# Jeongsu's hand-coded positions of all orgs minus 노동당, 내각, 정무원

filein_posrank_else = "position_rank_jeongsu_handcoded.xlsx"
pr_else = pd.read_excel(path_cleaning + subpath_2_7 + filein_posrank_else,dtype="str")
pr_else.shape

(839, 10)

# functions: format orgtree

In [16]:
# using this on (PI,OrgName) will ensure unique & non-null keys
# using this on a larger df will ensure unique rows and non-null keys, but not unique keys

def unique_non_null_rows(olddf):
    
    df = olddf.copy()
    
    
    ### drop duplicates
    df = df.drop_duplicates(keep="first",ignore_index=True)

    ### drop null rows
    df.dropna(how="all",axis=0,inplace=True)
    
    # drop rows with null PI
    df = df[~(df["PrimaryInstitution"].isna())]
        
    ### drop rows where PI contains stop words
    stop_words_lower = ["uncertain","current","deprecated","please_revise"]
    df = df[ ~ df["PrimaryInstitution"].str.lower().isin(stop_words_lower)]
            

    print("\nUnique Non-null Rows...")
    print("")
    print("\tNon-unique rows:",olddf.shape)
    print("\tUnique rows    :",df.shape)

    ### sort
    df = df.sort_values(["PrimaryInstitution","OrgName"])
    
    return df

In [17]:
def verify_unique_rows(df):
    
    key_columns = ["PrimaryInstitution","OrgName"]
    print("\nVerifying Unique Rows...")
    print("")
    print("\tDuplicate Rows:",df[df.duplicated(keep=False)].shape)
    print("\tDuplicate Keys:",df[df.duplicated(key_columns,keep=False)].shape)
    print("\tNull Rows     :",df[df["PrimaryInstitution"].isna() & df["OrgName"].isna()].shape)

In [18]:
def merge_results(m):
    
    print("\nMerge Results...")
    print("")
    print("\tshape     :",m.shape)
    print("\tleft_only :",m[m["_merge"]=="left_only"].shape)
    print("\tboth      :",m[m["_merge"]=="both"].shape)
    print("\tright_only:",m[m["_merge"]=="right_only"].shape)

# 0. opr: format indices & OrgRank

In [19]:
opr.head(2)

,InsideGov,PrimaryInstitution,OrgName,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Notes,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName,Alias_OrgName
0,1,노동당,NaN,1.0.0.0.0,0,총비서,NaN,NaN,Current,Current,Current,NaN,1,0,0,0,0,NaN,NaN
1,1,노동당,당중앙위원회,1.1.0.0.0,1,NaN,NaN,"위원, 후보위원",Current,Current,Current,NaN,1,1,0,0,0,NaN,NaN

In [20]:
def update_opr_index(opr,max_level):
    
    # create and clear out existing Level Indicies
    opr["OrgRank"]=np.nan
    opr["L1_Index"]=np.nan
    opr["L2_Index"]=np.nan
    opr["L3_Index"]=np.nan
    opr["L4_Index"]=np.nan
    opr["L5_Index"]=np.nan
    
    # pad PI_Index with missing 0s up to the deepest level (4 or 5?)
    opr["PI_Index"] = opr.apply(lambda x: str(x["PI_Index"]) + ((max_level-1)-str(x["PI_Index"]).count(".")) * ".0",axis=1)
    
    # calculate OrgRank
    opr["OrgRank"] = opr.apply(lambda x: (max_level-1) - str(x["PI_Index"]).count(".0"),axis=1)
    
    # populate Level Indices using PI_Index
    opr.loc[opr["PI_Index"].notna(),"L1_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[0],axis=1)
    opr.loc[opr["PI_Index"].notna(),"L2_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[1],axis=1)
    opr.loc[opr["PI_Index"].notna(),"L3_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[2],axis=1)
    opr.loc[opr["PI_Index"].notna(),"L4_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[3],axis=1)
    opr.loc[opr["PI_Index"].notna(),"L5_Index"] = opr.loc[opr["PI_Index"].notna()].apply(lambda x: str(x["PI_Index"]).split(".")[4],axis=1)

    # sort by Level1, Level2, Level3
    sort_columns = ["L1_Index","L2_Index","L3_Index","L4_Index","L5_Index"]
    #opr.L1_Index.astype(int,errors="ignore")
    #opr.L2_Index.astype(int,errors="ignore")
    #opr.L3_Index.astype(int,errors="ignore")
    opr.sort_values(sort_columns,inplace=True)
    
    return opr

In [21]:
opr = update_opr_index(opr,5)

In [22]:
# export opr

# fileout_opr = "1.0 orgtree_position_rank.xlsx"
# opr.to_excel(path_cleaning + subpath_2_7 + fileout_opr,index=False)

# 0. pr_else - clean file, add LinkToNext_

In [23]:
# position_rank_esther_handcoded: restore OrgName from position_rank_esther
# Esther changed a few OrgNames; I will restore the original OrgName, but save Esther's changes

In [32]:
pr_else.head(2)

,Unnamed: 0,InsideGov,PrimaryInstitution,OrgName,Position,Position수정,IsElected,OrgRank,PositionRank,NOTE
0,0,0,4.15문화창작단,NaN,단장,NaN,NaN,1,1,NaN
1,1,0,4.15문화창작단,NaN,부단장,NaN,NaN,1,2,NaN

In [34]:
# pr_else[pr_else.Change_OrgName.notna()].shape

In [35]:
# add LinkToNext_ fields to pr_party2
ot.head(2)

,InsideGov,PrimaryInstitution,OrgName,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Notes,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName,Alias_OrgName
0,0,4.15문화창작단,NaN,NaN,NaN,NaN,NaN,NaN,Current,Current,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,6.15공동선언실천남북공동위원회북측위원회,교직원분과,NaN,NaN,NaN,NaN,NaN,Current,Current,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
key_columns2 = ["PrimaryInstitution","OrgName"]
# org_columns = key_columns2 + [c for c in list(ot.columns) if "LinkToNext_" in c]
org_columns = key_columns2 + ["LinkToNext_Year"]
# print(org_columns)
pr_else2 = pr_else.merge(ot[org_columns],on=key_columns2,how="inner",indicator=False)
# merge_results(pr_else2)

In [39]:
# prep columns to merge with opr
pr_else2.rename(columns={"PositionRank":"PositionRank_manual"},inplace=True)

In [42]:
pr_else2.rename(columns={"Position수정":"Change_Position"},inplace=True)

In [48]:
pr_else2.rename(columns={"NOTE":"Notes"},inplace=True)

In [43]:
pr_else2["PositionRank_3P"]=np.nan

In [49]:
pr_else2.columns

Index(['Unnamed: 0', 'InsideGov', 'PrimaryInstitution', 'OrgName', 'Position',
       'Change_Position', 'IsElected', 'OrgRank', 'PositionRank_manual',
       'Notes', 'LinkToNext_Year', 'PositionRank_3P'],
      dtype='object')

In [50]:
reorder_columns = ['InsideGov', 'PrimaryInstitution', 'OrgName', 'LinkToNext_Year','Position', 'IsElected',
       'PositionRank_manual',  'PositionRank_3P', 'Change_Position','Notes']
pr_else2 = pr_else2[reorder_columns]

In [51]:
pr_else2.head(2)

,InsideGov,PrimaryInstitution,OrgName,LinkToNext_Year,Position,IsElected,PositionRank_manual,PositionRank_3P,Change_Position,Notes
0,0,4.15문화창작단,NaN,Current,단장,NaN,1,NaN,NaN,NaN
1,0,4.15문화창작단,NaN,Current,부단장,NaN,2,NaN,NaN,NaN

# 1. orgtree_position_rank: update all besides 노동당, 내각, 정무원

In [34]:
# align opr with pr_else2

In [52]:
pr_else2.head(2)

,InsideGov,PrimaryInstitution,OrgName,LinkToNext_Year,Position,IsElected,PositionRank_manual,PositionRank_3P,Change_Position,Notes
0,0,4.15문화창작단,NaN,Current,단장,NaN,1,NaN,NaN,NaN
1,0,4.15문화창작단,NaN,Current,부단장,NaN,2,NaN,NaN,NaN

In [53]:
# recursively - 

## manually update orgtree_position_rank
## open and compare with pr_party2

In [54]:
# 1.0 orgtree_position_rank

# constructing new file from:
## 2022 북한_기관별_인명록_북한정보포털 게재용
## orgtree table

filein_opr = "1.0 orgtree_position_rank.xlsx"
opr = pd.read_excel(path_cleaning + subpath_2_7 + filein_opr,dtype="str")
opr.shape

(1376, 19)

In [55]:
opr.head(2)

,InsideGov,PrimaryInstitution,OrgName,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Notes,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName,Alias_OrgName
0,1,노동당,NaN,1.0.0.0.0,0,총비서,NaN,NaN,Current,Current,Current,NaN,1,0,0,0,0,NaN,NaN
1,1,노동당,당중앙위원회,1.1.0.0.0,1,NaN,NaN,"위원, 후보위원",Current,Current,Current,NaN,1,1,0,0,0,NaN,NaN

In [39]:
opr = update_opr_index(opr,5)

In [56]:
# export opr

# fileout_opr = "1.0 orgtree_position_rank.xlsx"
# opr.to_excel(path_cleaning + subpath_2_7 + fileout_opr,index=False)

In [57]:
pr_else2.columns

Index(['InsideGov', 'PrimaryInstitution', 'OrgName', 'LinkToNext_Year',
       'Position', 'IsElected', 'PositionRank_manual', 'PositionRank_3P',
       'Change_Position', 'Notes'],
      dtype='object')

In [58]:
opr.columns

Index(['InsideGov', 'PrimaryInstitution', 'OrgName', 'PI_Index', 'OrgRank',
       'P1', 'P2', 'P3', 'LinkToNext_PI', 'LinkToNext_Org', 'LinkToNext_Year',
       'Notes', 'L1_Index', 'L2_Index', 'L3_Index', 'L4_Index', 'L5_Index',
       'Change_OrgName', 'Alias_OrgName'],
      dtype='object')

In [59]:
key_columns2 = ["PrimaryInstitution","OrgName"]
pr_else3 = pr_else2.merge(opr,on=key_columns2,how="left",indicator=True,suffixes=("","_opr"))
merge_results(pr_else3)

Merge Results...

	shape     : (839, 28)
	left_only : (799, 28)
	both      : (40, 28)
	right_only: (0, 28)

In [62]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# select_columns = ["PrimaryInstitution","OrgName","PI_Index","OrgRank","Position","PositionRank_manual","P1","P2","P3","Notes","Notes_opr"] 
# pr_else3.loc[pr_else3["_merge"]=="both",select_columns]

In [63]:
pr_else3[pr_else3["_merge"]=="left_only"].head(3)

,InsideGov,PrimaryInstitution,OrgName,LinkToNext_Year,Position,IsElected,PositionRank_manual,PositionRank_3P,Change_Position,Notes,InsideGov_opr,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year_opr,Notes_opr,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName,Alias_OrgName,_merge
0,0,4.15문화창작단,NaN,Current,단장,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,0,4.15문화창작단,NaN,Current,부단장,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,0,7.7연합기업소,NaN,Current,기사장,NaN,?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Three Cases of  OrgName in NK elite career data

- Case 0: OrgName in 기관별인명록: code these from 1-199
- Case 1: OrgName not in 기관별인명록, but contained in data AND LinkToNext_Year not current: code as 500+
- Case 2: OrgName not in 기관별인명록, but contained in data AND LinkToNext_Year is current: code as 200+

### Case 0: OrgName in 기관별인명록

- Update 1.0 orgtree_position_rank with OrgName in 기관별인명록
- Code these from 1-199
- Run above routine # 1. orgtree_position_rank: update all besides 노동당, 내각, 정무원
    - to update opr & pr_else3
- Proceed to Cases 1 & 2

### Case 1: LinkToNext_Year not current - code as 500+

In [64]:
pr_admin3[(pr_admin3["LinkToNext_Year"]!="Current") & (pr_admin3["_merge"]=="left_only")].shape

NameError: name 'pr_admin3' is not defined

In [47]:
ot[~(ot["LinkToNext_Year"]=="Current") & (ot["PrimaryInstitution"].isin(["정무원","내각"]))].shape

(0, 19)

In [48]:
pr_admin3[(pr_admin3["LinkToNext_Year"]!="Current") & (pr_admin3["_merge"]=="left_only")]

Empty DataFrame
Columns: [CareerString, CareerSubstring, CareerStartYear, InsideGov, PrimaryInstitution, OrgName, LinkToNext_Year, Position, IsElected, PositionRank_manual, PositionRank_3P, Change_OrgName, Change_Position, Notes, InsideGov_opr, PI_Index, OrgRank, P1, P2, P3, LinkToNext_PI, LinkToNext_Org, LinkToNext_Year_opr, Notes_opr, L1_Index, L2_Index, L3_Index, L4_Index, L5_Index, Change_OrgName_opr, Alias_OrgName, _merge]
Index: []

### Case 2: Level 3 or deeper (not found in 기관별인명록) - code as 200+

In [49]:
pr_admin3[pr_admin3["_merge"]=="left_only"].shape

(0, 32)

In [50]:
show_columns = ["OrgName","Position","Notes","Change_OrgName","_merge"]
pr_admin3.loc[pr_admin3["_merge"]=="left_only",show_columns]

Empty DataFrame
Columns: [OrgName, Position, Notes, Change_OrgName, _merge]
Index: []

In [51]:
# prep to add to opr
opr.columns

Index(['InsideGov', 'PrimaryInstitution', 'OrgName', 'PI_Index', 'OrgRank',
       'P1', 'P2', 'P3', 'LinkToNext_PI', 'LinkToNext_Org', 'LinkToNext_Year',
       'Notes', 'L1_Index', 'L2_Index', 'L3_Index', 'L4_Index', 'L5_Index',
       'Change_OrgName', 'Alias_OrgName'],
      dtype='object')

In [52]:
pr_admin3[opr.columns].head(2)

,InsideGov,PrimaryInstitution,OrgName,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Notes,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName,Alias_OrgName
0,1,내각,간석지건설지도국_간석지설계사업소,3.201.201.0.0,2,NaN,NaN,NaN,NaN,NaN,Current,"Currently, 사업소 지배인; 연구원 기사장",3,201,201,0,0,NaN,NaN
1,1,내각,간석지건설지도국_간석지설계사업소,3.201.201.0.0,2,NaN,NaN,NaN,NaN,NaN,Current,"Currently, 사업소 지배인; 연구원 기사장",3,201,201,0,0,NaN,NaN

In [53]:
pr_admin3_left = pr_admin3.loc[pr_admin3["_merge"]=="left_only",opr.columns]

In [54]:
pr_admin3_left.shape

(0, 19)

In [55]:
pr_admin3_left.drop_duplicates(inplace=True)
pr_admin3_left.shape

(0, 19)

In [56]:
pr_admin3_left

Empty DataFrame
Columns: [InsideGov, PrimaryInstitution, OrgName, PI_Index, OrgRank, P1, P2, P3, LinkToNext_PI, LinkToNext_Org, LinkToNext_Year, Notes, L1_Index, L2_Index, L3_Index, L4_Index, L5_Index, Change_OrgName, Alias_OrgName]
Index: []

In [58]:
# export pr_admin3_left to update 200+ Series Orgs

# fileout_pr_admin3_left = "pr_admin3_left_use and delete.xlsx"
# pr_admin3_left.to_excel(path_cleaning + subpath_2_7 + fileout_pr_admin3_left,index=False)

# 2. pr_admin3: update PositionRank_3P and export

In [59]:
# once aligned, copy pr_party2 hand-coded PositionRank into opr

In [60]:
pr_admin.shape

(1877, 13)

In [61]:
pr_admin2.shape

(932, 14)

In [62]:
pr_admin3.shape

(932, 32)

In [63]:
pr_admin3.head(10)

,CareerString,CareerSubstring,CareerStartYear,InsideGov,PrimaryInstitution,OrgName,LinkToNext_Year,Position,IsElected,PositionRank_manual,PositionRank_3P,Change_OrgName,Change_Position,Notes,InsideGov_opr,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year_opr,Notes_opr,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName_opr,Alias_OrgName,_merge
0,1975.10 농업위원회 간척지 설계사업소 기사장,NaN,1975,1,내각,간석지건설지도국_간석지설계사업소,Current,기사장,NaN,1,NaN,NaN,NaN,"Currently, 사업소 지배인; 연구원 기사장",1,3.201.201.0.0,2,NaN,NaN,NaN,NaN,NaN,Current,"Currently, 사업소 지배인; 연구원 기사장",3,201,201,0,0,NaN,NaN,both
1,농업위원회 간척지 설계사업소 기사장,NaN,1975,1,내각,간석지건설지도국_간석지설계사업소,Current,기사장,NaN,1,NaN,NaN,NaN,"Currently, 사업소 지배인; 연구원 기사장",1,3.201.201.0.0,2,NaN,NaN,NaN,NaN,NaN,Current,"Currently, 사업소 지배인; 연구원 기사장",3,201,201,0,0,NaN,NaN,both
2,1998. 7 건설건재공업성 부상,NaN,1998,1,내각,건설건재공업성,Current,부상,NaN,2,NaN,NaN,NaN,NaN,1,3.12.0.0.0,1,상,부상,NaN,Current,Current,Current,NaN,3,12,0,0,0,NaN,NaN,both
3,건설건재공업성 부상,NaN,1998,1,내각,건설건재공업성,Current,부상,NaN,2,NaN,NaN,NaN,NaN,1,3.12.0.0.0,1,상,부상,NaN,Current,Current,Current,NaN,3,12,0,0,0,NaN,NaN,both
4,건설건재공업성 과학기술국장,NaN,2003,1,내각,건설건재공업성,Current,국장,NaN,1,NaN,건설건재공업성_과학기술국,NaN,NaN,1,3.12.0.0.0,1,상,부상,NaN,Current,Current,Current,NaN,3,12,0,0,0,NaN,NaN,both
5,2005. 건설건재공업성 부상,NaN,2005,1,내각,건설건재공업성,Current,부상,NaN,2,NaN,NaN,NaN,NaN,1,3.12.0.0.0,1,상,부상,NaN,Current,Current,Current,NaN,3,12,0,0,0,NaN,NaN,both
6,건설건재공업성 부상,NaN,2005,1,내각,건설건재공업성,Current,부상,NaN,2,NaN,NaN,NaN,NaN,1,3.12.0.0.0,1,상,부상,NaN,Current,Current,Current,NaN,3,12,0,0,0,NaN,NaN,both
7,2005. 3 건설건재공업상,NaN,2005,1,내각,건설건재공업성,Current,상,NaN,1,NaN,NaN,NaN,NaN,1,3.12.0.0.0,1,상,부상,NaN,Current,Current,Current,NaN,3,12,0,0,0,NaN,NaN,both
8,건설건재공업상,NaN,2005,1,내각,건설건재공업성,Current,상,NaN,1,NaN,NaN,NaN,NaN,1,3.12.0.0.0,1,상,부상,NaN,Current,Current,Current,NaN,3,12,0,0,0,NaN,NaN,both
9,"2009. 4 최고인민회의 제12기 대의원, 건설건재공업상(유임)",건설건재공업상(유임),2009,1,내각,건설건재공업성,Current,상,NaN,1,NaN,NaN,NaN,NaN,1,3.12.0.0.0,1,상,부상,NaN,Current,Current,Current,NaN,3,12,0,0,0,NaN,NaN,both

In [64]:
def return_position_rank(x):
    
    # create list of positions in P1, P2, P3
    p_list = str(x["P1"]).split(",")+str(x["P2"]).split(",")+str(x["P3"]).split(",")
    # print(p_list)
    
    # remove "nan"
    p_list = [item.strip() for item in p_list if item.strip()!="nan"]
    # print(p_list)
    
    # list index of Position in p_list
    position_rank = np.nan
    
    if x["Position"] in p_list:
        position_rank = p_list.index(x["Position"]) + 1
    
    
    return position_rank

In [65]:
pr_admin3.apply(lambda x: return_position_rank(x),axis=1)

0      NaN
1      NaN
2      2.0
3      2.0
4      NaN
5      2.0
6      2.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     2.0
18     2.0
19     2.0
20     1.0
21     1.0
22     1.0
23     1.0
24     2.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
30     1.0
31     1.0
32     NaN
33     2.0
34     NaN
35     1.0
36     1.0
37     2.0
38     NaN
39     1.0
40     NaN
41     1.0
42     1.0
43     1.0
44     1.0
45     1.0
46     1.0
47     1.0
48     NaN
49     NaN
50     NaN
51     NaN
52     NaN
53     NaN
54     1.0
55     1.0
56     1.0
57     1.0
58     NaN
59     1.0
60     1.0
61     1.0
62     1.0
63     1.0
64     1.0
65     NaN
66     NaN
67     1.0
68     1.0
69     1.0
70     1.0
71     NaN
72     NaN
73     3.0
74     3.0
75     2.0
76     NaN
77     3.0
78     3.0
79     1.0
80     1.0
81     3.0
82     3.0
83     1.0
84     1.0
85     1.0
86     1.0
87     1.0
88     NaN
89     1.0
90     1.0
91     2.0
92     2.0
93     NaN
94     NaN
95     2.0
96     NaN
97     NaN
98     1.0
99     1.0
100    1.0
101    1.0
102    NaN
103    NaN
104    NaN
105    NaN
106    NaN
107    1.0
108    NaN
109    NaN
110    NaN
111    1.0
112    1.0
113    NaN
114    1.0
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
122    NaN
123    NaN
124    NaN
125    NaN
126    NaN
127    NaN
128    NaN
129    NaN
130    NaN
131    NaN
132    NaN
133    NaN
134    NaN
135    NaN
136    NaN
137    NaN
138    NaN
139    NaN
140    NaN
141    NaN
142    NaN
143    2.0
144    1.0
145    NaN
146    NaN
147    NaN
148    NaN
149    NaN
150    NaN
151    3.0
152    3.0
153    NaN
154    1.0
155    1.0
156    1.0
157    1.0
158    1.0
159    1.0
160    1.0
161    1.0
162    1.0
163    2.0
164    1.0
165    1.0
166    1.0
167    1.0
168    1.0
169    1.0
170    1.0
171    1.0
172    1.0
173    1.0
174    2.0
175    2.0
176    1.0
177    1.0
178    1.0
179    1.0
180    4.0
181    4.0
182    NaN
183    NaN
184    4.0
185    4.0
186    NaN
187    NaN
188    NaN
189    4.0
190    4.0
191    NaN
192    5.0
193    NaN
194    NaN
195    3.0
196    3.0
197    NaN
198    NaN
199    3.0
200    3.0
201    NaN
202    4.0
203    2.0
204    2.0
205    1.0
206    1.0
207    1.0
208    1.0
209    1.0
210    1.0
211    1.0
212    1.0
213    NaN
214    NaN
215    NaN
216    NaN
217    NaN
218    NaN
219    NaN
220    NaN
221    NaN
222    NaN
223    NaN
224    NaN
225    NaN
226    NaN
227    NaN
228    NaN
229    NaN
230    NaN
231    NaN
232    NaN
233    NaN
234    NaN
235    NaN
236    NaN
237    2.0
238    2.0
239    2.0
240    1.0
241    2.0
242    1.0
243    1.0
244    1.0
245    NaN
246    NaN
247    NaN
248    NaN
249    NaN
250    NaN
251    NaN
252    NaN
253    NaN
254    NaN
255    NaN
256    NaN
257    1.0
258    2.0
259    2.0
260    NaN
261    2.0
262    NaN
263    NaN
264    NaN
265    NaN
266    NaN
267    1.0
268    1.0
269    3.0
270    3.0
271    1.0
272    1.0
273    1.0
274    NaN
275    1.0
276    1.0
277    NaN
278    2.0
279    2.0
280    1.0
281    1.0
282    1.0
283    1.0
284    1.0
285    1.0
286    NaN
287    NaN
288    1.0
289    1.0
290    1.0
291    1.0
292    1.0
293    1.0
294    1.0
295    1.0
296    1.0
297    1.0
298    2.0
299    1.0
300    1.0
301    1.0
302    NaN
303    NaN
304    1.0
305    1.0
306    1.0
307    1.0
308    1.0
309    1.0
310    1.0
311    2.0
312    1.0
313    1.0
314    1.0
315    1.0
316    2.0
317    1.0
318    NaN
319    1.0
320    1.0
321    NaN
322    1.0
323    1.0
324    NaN
325    NaN
326    NaN
327    NaN
328    NaN
329    NaN
330    NaN
331    NaN
332    NaN
333    2.0
334    2.0
335    1.0
336    1.0
337    1.0
338    NaN
339    NaN
340    NaN
341    NaN
342    2.0
343    2.0
344    1.0
345    1.0
346    2.0
347    1.0
348    1.0
349    1.0
350    1.0
351    1.0
352    NaN
353    NaN
354    1.0
355    1.0
356    1.0
357    1.0
358    2.0
359    1.0
360    1.0
361    1.0
362    1.0
363    2.0
364    1.0
365    1.0
366    2.0
367    1.0
368    1.0
369    1.0
370    1.0
371    1.0
372    1.0
373    NaN
374    1.0
375    1.0
376    1.0
377    1.0
378    1.0
379    1.0
380    1.0
381    2.0
382    2.0
383    1.0
384    1.0
385    2.0
386    2.0
387    NaN
388    2.0
389    2.0
390    1.0
391    2.0
392    2.0
393    NaN
394    NaN
395    NaN
396    NaN
397    NaN
398    NaN
399    NaN
400    NaN
401    NaN
402    2.0
403    2.0
404    2.0
405    2.0
406    2.0
407    2.0
408    1.0
409    1.0
410    1.0
411    NaN
412    2.0
413    2.0
414    1.0
415    1.0
416    2.0
417    2.0
418    1.0
419    1.0
420    NaN
421    2.0
422    2.0
423    1.0
424    1.0
425    2.0
426    2.0
427    2.0
428    2.0
429    1.0
430    NaN
431    NaN
432    2.0
433    NaN
434    2.0
435    1.0
436    NaN
437    2.0
438    1.0
439    2.0
440    NaN
441    1.0
442    NaN
443    1.0
444    NaN
445    NaN
446    NaN
447    NaN
448    NaN
449    NaN
450    NaN
451    NaN
452    NaN
453    NaN
454    NaN
455    1.0
456    1.0
457    1.0
458    NaN
459    NaN
460    NaN
461    NaN
462    1.0
463    1.0
464    1.0
465    1.0
466    1.0
467    NaN
468    NaN
469    NaN
470    1.0
471    NaN
472    NaN
473    NaN
474    NaN
475    NaN
476    1.0
477    NaN
478    1.0
479    1.0
480    1.0
481    1.0
482    NaN
483    1.0
484    1.0
485    1.0
486    NaN
487    1.0
488    1.0
489    1.0
490    1.0
491    1.0
492    1.0
493    NaN
494    1.0
495    1.0
496    1.0
497    1.0
498    1.0
499    1.0
500    1.0
501    1.0
502    1.0
503    NaN
504    1.0
505    1.0
506    1.0
507    1.0
508    1.0
509    1.0
510    2.0
511    2.0
512    1.0
513    1.0
514    1.0
515    1.0
516    1.0
517    1.0
518    1.0
519    1.0
520    1.0
521    1.0
522    1.0
523    1.0
524    NaN
525    NaN
526    1.0
527    1.0
528    1.0
529    1.0
530    NaN
531    1.0
532    1.0
533    1.0
534    1.0
535    1.0
536    1.0
537    1.0
538    1.0
539    1.0
540    1.0
541    1.0
542    1.0
543    1.0
544    1.0
545    NaN
546    NaN
547    NaN
548    NaN
549    NaN
550    NaN
551    NaN
552    NaN
553    NaN
554    NaN
555    NaN
556    NaN
557    NaN
558    NaN
559    NaN
560    NaN
561    NaN
562    NaN
563    NaN
564    NaN
565    NaN
566    NaN
567    NaN
568    NaN
569    NaN
570    NaN
571    NaN
572    NaN
573    NaN
574    NaN
575    1.0
576    1.0
577    1.0
578    1.0
579    NaN
580    NaN
581    NaN
582    1.0
583    1.0
584    1.0
585    1.0
586    NaN
587    NaN
588    1.0
589    1.0
590    1.0
591    1.0
592    NaN
593    NaN
594    1.0
595    1.0
596    NaN
597    NaN
598    NaN
599    NaN
600    NaN
601    NaN
602    NaN
603    NaN
604    NaN
605    NaN
606    2.0
607    1.0
608    2.0
609    2.0
610    NaN
611    NaN
612    1.0
613    1.0
614    1.0
615    1.0
616    1.0
617    2.0
618    1.0
619    1.0
620    1.0
621    1.0
622    1.0
623    1.0
624    1.0
625    1.0
626    1.0
627    1.0
628    1.0
629    1.0
630    1.0
631    1.0
632    1.0
633    1.0
634    1.0
635    1.0
636    1.0
637    1.0
638    1.0
639    1.0
640    1.0
641    1.0
642    1.0
643    1.0
644    1.0
645    1.0
646    NaN
647    NaN
648    1.0
649    1.0
650    NaN
651    NaN
652    2.0
653    NaN
654    NaN
655    NaN
656    NaN
657    2.0
658    2.0
659    2.0
660    2.0
661    NaN
662    2.0
663    2.0
664    2.0
665    NaN
666    NaN
667    NaN
668    NaN
669    NaN
670    2.0
671    NaN
672    NaN
673    NaN
674    NaN
675    NaN
676    NaN
677    NaN
678    NaN
679    NaN
680    NaN
681    NaN
682    NaN
683    NaN
684    NaN
685    NaN
686    NaN
687    NaN
688    NaN
689    NaN
690    NaN
691    NaN
692    NaN
693    NaN
694    NaN
695    NaN
696    NaN
697    NaN
698    NaN
699    NaN
700    NaN
701    NaN
702    NaN
703    NaN
704    NaN
705    NaN
706    NaN
707    NaN
708    NaN
709    NaN
710    NaN
711    NaN
712    NaN
713    NaN
714    NaN
715    NaN
716    NaN
717    NaN
718    NaN
719    NaN
720    NaN
721    NaN
722    NaN
723    NaN
724    NaN
725    NaN
726    NaN
727    NaN
728    NaN
729    1.0
730    1.0
731    1.0
732    1.0
733    1.0
734    1.0
735    1.0
736    1.0
737    1.0
738    NaN
739    1.0
740    1.0
741    1.0
742    1.0
743    NaN
744    NaN
745    NaN
746    NaN
747    NaN
748    1.0
749    1.0
750    1.0
751    2.0
752    2.0
753    1.0
754    1.0
755    1.0
756    1.0
757    NaN
758    NaN
759    NaN
760    1.0
761    NaN
762    NaN
763    NaN
764    1.0
765    1.0
766    1.0
767    1.0
768    NaN
769    1.0
770    2.0
771    1.0
772    1.0
773    1.0
774    1.0
775    NaN
776    1.0
777    1.0
778    NaN
779    NaN
780    1.0
781    NaN
782    NaN
783    2.0
784    2.0
785    1.0
786    1.0
787    NaN
788    NaN
789    2.0
790    2.0
791    2.0
792    1.0
793    1.0
794    1.0
795    NaN
796    2.0
797    1.0
798    1.0
799    1.0
800    1.0
801    1.0
802    1.0
803    NaN
804    NaN
805    NaN
806    1.0
807    1.0
808    1.0
809    1.0
810    1.0
811    1.0
812    1.0
813    1.0
814    1.0
815    1.0
816    1.0
817    1.0
818    NaN
819    NaN
820    NaN
821    NaN
822    NaN
823    NaN
824    NaN
825    NaN
826    NaN
827    NaN
828    NaN
829    NaN
830    NaN
831    NaN
832    NaN
833    NaN
834    NaN
835    NaN
836    NaN
837    NaN
838    NaN
839    NaN
840    NaN
841    NaN
842    NaN
843    NaN
844    NaN
845    NaN
846    2.0
847    2.0
848    NaN
849    1.0
850    1.0
851    NaN
852    NaN
853    NaN
854    NaN
855    NaN
856    NaN
857    NaN
858    6.0
859    2.0
860    2.0
861    2.0
862    2.0
863    2.0
864    1.0
865    1.0
866    NaN
867    NaN
868    NaN
869    NaN
870    NaN
871    2.0
872    2.0
873    1.0
874    1.0
875    2.0
876    2.0
877    2.0
878    2.0
879    2.0
880    2.0
881    2.0
882    2.0
883    2.0
884    1.0
885    1.0
886    2.0
887    2.0
888    2.0
889    2.0
890    2.0
891    2.0
892    2.0
893    2.0
894    1.0
895    2.0
896    2.0
897    2.0
898    2.0
899    2.0
900    2.0
901    2.0
902    2.0
903    2.0
904    2.0
905    2.0
906    2.0
907    NaN
908    1.0
909    1.0
910    2.0
911    2.0
912    2.0
913    2.0
914    2.0
915    2.0
916    2.0
917    2.0
918    2.0
919    2.0
920    2.0
921    2.0
922    2.0
923    2.0
924    2.0
925    NaN
926    1.0
927    2.0
928    1.0
929    2.0
930    2.0
931    NaN
dtype: float64

In [66]:
pr_admin3["PositionRank_3P"] = pr_admin3.apply(lambda x: return_position_rank(x),axis=1)

In [67]:
# check
pr_admin3[(pr_admin3["Position"]=="위원") & (pr_admin3["OrgName"]=="당중앙위원회")]

Empty DataFrame
Columns: [CareerString, CareerSubstring, CareerStartYear, InsideGov, PrimaryInstitution, OrgName, LinkToNext_Year, Position, IsElected, PositionRank_manual, PositionRank_3P, Change_OrgName, Change_Position, Notes, InsideGov_opr, PI_Index, OrgRank, P1, P2, P3, LinkToNext_PI, LinkToNext_Org, LinkToNext_Year_opr, Notes_opr, L1_Index, L2_Index, L3_Index, L4_Index, L5_Index, Change_OrgName_opr, Alias_OrgName, _merge]
Index: []

In [87]:
# copy Change_OrgName_opr to Change_OrgName
# copy Notes_opr to Notes
pr_admin3[pr_admin3["Change_OrgName"].notna()].shape

(41, 32)

In [88]:
pr_admin3[pr_admin3["Change_OrgName_opr"].notna()].shape

(41, 32)

In [90]:
pr_admin3.head(2)

,CareerString,CareerSubstring,CareerStartYear,InsideGov,PrimaryInstitution,OrgName,LinkToNext_Year,Position,IsElected,PositionRank_manual,PositionRank_3P,Change_OrgName,Change_Position,Notes,InsideGov_opr,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year_opr,Notes_opr,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName_opr,Alias_OrgName,_merge
0,1975.10 농업위원회 간척지 설계사업소 기사장,NaN,1975,1,내각,간석지건설지도국_간석지설계사업소,Current,기사장,NaN,1,NaN,NaN,NaN,"Currently, 사업소 지배인; 연구원 기사장; Currently, 사업소 지배...",1,3.201.201.0.0,2,NaN,NaN,NaN,NaN,NaN,Current,"Currently, 사업소 지배인; 연구원 기사장",3,201,201,0,0,NaN,NaN,both
1,농업위원회 간척지 설계사업소 기사장,NaN,1975,1,내각,간석지건설지도국_간석지설계사업소,Current,기사장,NaN,1,NaN,NaN,NaN,"Currently, 사업소 지배인; 연구원 기사장; Currently, 사업소 지배...",1,3.201.201.0.0,2,NaN,NaN,NaN,NaN,NaN,Current,"Currently, 사업소 지배인; 연구원 기사장",3,201,201,0,0,NaN,NaN,both

In [92]:
# pr_admin3 - how many empty PositionRank_manual & PositionRank_3P
pr_admin3[pr_admin3["PositionRank_manual"].isna()].shape

(15, 32)

In [94]:
pr_admin3[pr_admin3["PositionRank_3P"].isna()].shape

(383, 32)

In [68]:
pr_admin3.columns

Index(['CareerString', 'CareerSubstring', 'CareerStartYear', 'InsideGov',
       'PrimaryInstitution', 'OrgName', 'LinkToNext_Year', 'Position',
       'IsElected', 'PositionRank_manual', 'PositionRank_3P', 'Change_OrgName',
       'Change_Position', 'Notes', 'InsideGov_opr', 'PI_Index', 'OrgRank',
       'P1', 'P2', 'P3', 'LinkToNext_PI', 'LinkToNext_Org',
       'LinkToNext_Year_opr', 'Notes_opr', 'L1_Index', 'L2_Index', 'L3_Index',
       'L4_Index', 'L5_Index', 'Change_OrgName_opr', 'Alias_OrgName',
       '_merge'],
      dtype='object')

In [373]:
# export pr_admin3 for Esther & Jeongsu to review

# export_columns = ["InsideGov","PrimaryInstitution","OrgName","OrgRank","LinkToNext_Year","Position","IsElected","PositionRank_manual","PositionRank_3P","P1","P2","P3","Change_OrgName","Change_Position","Notes"]
# pr_admin3[export_columns].to_excel(path_cleaning + subpath_2_7 + "position_rank_esther_two_ranks.xlsx",index=False)

# 3. match career & pr_admin3 and resolve null Position_3P

#### Resolve. Validation values for resolving null Position_3P

1. OrgName & Position ok. Add Position to P1
2. OrgName & Position ok. Add Position to P2
3. OrgName & Position ok. Add Position to P3
4. Change_OrgName and/or Change_Position
5. Uncertain OrgName
6. Uncertain Position
7. NotJob
8. Multiple CareerSubstring
9. Other - see Notes

In [95]:
careers.head(2)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PrimaryInstitution,OrgName,Position,Notes
0,1996. 3 외교부 10국장,NaN,True,1,1996,3,NaN,외교부,정무원,외교부,국장,NaN
1,유엔 주재 대표부 1등서기관,1975.10,True,1,1975,10,NaN,유엔 주재 대표부,내각,외무성_유엔대표부,1등서기관,NaN

In [96]:
careers_columns = ["CareerString","CareerStartYear","MultipleSubstrings","CareerSubstring","IsJob","PrimaryInstitution","OrgName","Position"]
careers[careers_columns].head(2)

,CareerString,CareerStartYear,MultipleSubstrings,CareerSubstring,IsJob,PrimaryInstitution,OrgName,Position
0,1996. 3 외교부 10국장,1996,1,NaN,True,정무원,외교부,국장
1,유엔 주재 대표부 1등서기관,1975,1,NaN,True,내각,외무성_유엔대표부,1등서기관

In [97]:
pr_admin3.head(2)

,CareerString,CareerSubstring,CareerStartYear,InsideGov,PrimaryInstitution,OrgName,LinkToNext_Year,Position,IsElected,PositionRank_manual,PositionRank_3P,Change_OrgName,Change_Position,Notes,InsideGov_opr,PI_Index,OrgRank,P1,P2,P3,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year_opr,Notes_opr,L1_Index,L2_Index,L3_Index,L4_Index,L5_Index,Change_OrgName_opr,Alias_OrgName,_merge
0,1975.10 농업위원회 간척지 설계사업소 기사장,NaN,1975,1,내각,간석지건설지도국_간석지설계사업소,Current,기사장,NaN,1,NaN,NaN,NaN,"Currently, 사업소 지배인; 연구원 기사장; Currently, 사업소 지배...",1,3.201.201.0.0,2,NaN,NaN,NaN,NaN,NaN,Current,"Currently, 사업소 지배인; 연구원 기사장",3,201,201,0,0,NaN,NaN,both
1,농업위원회 간척지 설계사업소 기사장,NaN,1975,1,내각,간석지건설지도국_간석지설계사업소,Current,기사장,NaN,1,NaN,NaN,NaN,"Currently, 사업소 지배인; 연구원 기사장; Currently, 사업소 지배...",1,3.201.201.0.0,2,NaN,NaN,NaN,NaN,NaN,Current,"Currently, 사업소 지배인; 연구원 기사장",3,201,201,0,0,NaN,NaN,both

In [98]:
pr_admin3_incomplete = pr_admin3[pr_admin3["PositionRank_3P"].isna()]
pr_admin3_incomplete.shape

(383, 32)

In [99]:
pr_match_columns = ["PrimaryInstitution","OrgName","LinkToNext_Year","Position","IsElected","PositionRank_manual","PositionRank_3P","P1","P2","P3","Change_OrgName","Change_Position","Notes"]
pr_admin3_incomplete = pr_admin3_incomplete[pr_match_columns]
pr_admin3_incomplete["Resolution"] = np.nan

In [101]:
pr_order_columns = ["PrimaryInstitution","OrgName","LinkToNext_Year","Position","IsElected","PositionRank_manual","PositionRank_3P","P1","P2","P3","Resolution","Change_OrgName","Change_Position","Notes"]
pr_admin3_incomplete = pr_admin3_incomplete[pr_order_columns]
pr_admin3_incomplete.head(2)

,PrimaryInstitution,OrgName,LinkToNext_Year,Position,IsElected,PositionRank_manual,PositionRank_3P,P1,P2,P3,Resolution,Change_OrgName,Change_Position,Notes
0,내각,간석지건설지도국_간석지설계사업소,Current,기사장,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Currently, 사업소 지배인; 연구원 기사장; Currently, 사업소 지배..."
1,내각,간석지건설지도국_간석지설계사업소,Current,기사장,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Currently, 사업소 지배인; 연구원 기사장; Currently, 사업소 지배..."

In [105]:
# drop duplicates - as some PI pairs were matched to multiple career strings
pr_admin3_incomplete.drop_duplicates(inplace=True)

In [107]:
pr_admin3_incomplete.shape

(186, 14)

In [106]:
pr_admin3_incomplete[pr_admin3_incomplete.duplicated()].shape

(0, 14)

In [111]:
key_columns3 = ["PrimaryInstitution","OrgName","Position"]
career_pos_mismatch = careers[careers_columns].merge(pr_admin3_incomplete,on=key_columns3,how="inner",indicator=False)
# merge_results(career_pos_mismatch)

In [381]:
# career_pos_mismatch[career_pos_mismatch["_merge"]=="right_only"]

In [112]:
career_pos_mismatch.shape

(405, 19)

In [113]:
career_pos_mismatch.head(10)

,CareerString,CareerStartYear,MultipleSubstrings,CareerSubstring,IsJob,PrimaryInstitution,OrgName,Position,LinkToNext_Year,IsElected,PositionRank_manual,PositionRank_3P,P1,P2,P3,Resolution,Change_OrgName,Change_Position,Notes
0,유엔 주재 대표부 1등서기관,1975,1,NaN,True,내각,외무성_유엔대표부,1등서기관,Current,NaN,?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1975.10 유엔주재 북한대표부 1등서기관,1975,1,NaN,True,내각,외무성_유엔대표부,1등서기관,Current,NaN,?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002. 1 철도성 수송지휘국 1부국장,2002,1,NaN,True,내각,철도성_수송지휘국,1부국장,Current,NaN,?,NaN,국장,부국장,NaN,NaN,NaN,NaN,1부국장 > 2부국장?
3,싱가포르 대사관 2등 서기관,1978,1,NaN,True,내각,외무성_아시아2국_싱가포르대사관,2등서기관,Current,NaN,?,NaN,대사,NaN,NaN,NaN,NaN,NaN,NaN
4,나이지리아 주재 北대사관 2등 서기관,1989,1,NaN,True,내각,외무성_아프리카-라틴아메리카-아랍국_나이지리아대사관,2등서기관,Current,NaN,?,NaN,대사,NaN,NaN,NaN,외무성_아프리카아랍라틴아메리카국_나이지리아대사관,NaN,NaN
5,2003. 철도성 2부국장,2003,1,NaN,True,내각,철도성,2부국장,Current,NaN,?,NaN,상,부상,NaN,NaN,NaN,NaN,1부국장 > 2부국장?
6,1972. 3 인도네시아 주재 북한대사관 3등서기관,1972,1,NaN,True,내각,외무성_아시아2국_인도네시아대사관,3등서기관,Current,NaN,?,NaN,대사,NaN,NaN,NaN,NaN,NaN,NaN
7,1969. 5 콩고 주재 3등 서기관,1969,1,NaN,True,내각,외무성_아프리카-라틴아메리카-아랍국_콩고민주공화국대사관,3등서기관,Current,NaN,?,NaN,대사,NaN,NaN,NaN,외무성_아프리카아랍라틴아메리카국_콩고민주공화국대사관,NaN,NaN
8,1980. 외무성 근무,1980,1,NaN,True,내각,외무성,Uncertain,Current,NaN,NaN,NaN,상,부상,NaN,NaN,NaN,NaN,NaN
9,1982. 외무성 근무,1982,1,NaN,True,내각,외무성,Uncertain,Current,NaN,NaN,NaN,상,부상,NaN,NaN,NaN,NaN,NaN

In [117]:
career_pos_mismatch[career_pos_mismatch["Position"].str.lower()=="uncertain"]

,CareerString,CareerStartYear,MultipleSubstrings,CareerSubstring,IsJob,PrimaryInstitution,OrgName,Position,LinkToNext_Year,IsElected,PositionRank_manual,PositionRank_3P,P1,P2,P3,Resolution,Change_OrgName,Change_Position,Notes
8,1980. 외무성 근무,1980,1,NaN,True,내각,외무성,Uncertain,Current,NaN,NaN,NaN,상,부상,NaN,NaN,NaN,NaN,NaN
9,1982. 외무성 근무,1982,1,NaN,True,내각,외무성,Uncertain,Current,NaN,NaN,NaN,상,부상,NaN,NaN,NaN,NaN,NaN
10,외무성 근무,1980,1,NaN,True,내각,외무성,Uncertain,Current,NaN,NaN,NaN,상,부상,NaN,NaN,NaN,NaN,NaN
11,외무성 근무,1982,1,NaN,True,내각,외무성,Uncertain,Current,NaN,NaN,NaN,상,부상,NaN,NaN,NaN,NaN,NaN
12,1982. 6 방글라데시 주재 북한대사관 근무,1982,1,NaN,True,내각,외무성_아시아2국_방글라데시대사관,Uncertain,Current,NaN,NaN,NaN,대사,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
career_pos_mismatch.shape

(405, 19)

In [118]:
# export and edit

career_pos_mismatch.to_excel(path_cleaning + subpath_2_7 + "2.0_mismatch_정권_0.xlsx",index=False)