In [23]:
import pandas as pd
import numpy as np
from datetime import date

# combined data - 2 tables

In [24]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [25]:
filename_careers = "careers.xlsx"
careers = pd.read_excel(path_tables + filename_careers,dtype="str")
careers.shape

(9001, 12)

In [26]:
careers.columns

Index(['CareerString', 'CareerDateString_2022', 'IsJob', 'MultipleSubstrings',
       'CareerStartYear', 'CareerStartMonth', 'CareerSubstring', 'OrgString',
       'PrimaryInstitution', 'OrgName', 'Position', 'Notes'],
      dtype='object')

In [27]:
filename_orgtree = "orgtree.xlsx"
ot = pd.read_excel(path_tables + filename_orgtree,dtype="str")
ot.shape

(1742, 9)

In [28]:
filename_leadercareerlink = "leadercareerlink.xlsx"
lclink = pd.read_excel(path_tables + filename_leadercareerlink,dtype="str")
lclink.shape

(12617, 3)

In [29]:
filename_positions_elected = "positions_elected.xlsx"
elected = pd.read_excel(path_tables + filename_positions_elected,dtype="str")
elected.shape

(105, 5)

In [30]:
filename_pop = "pi_org_pos.xlsx"
# pop = pd.read_excel(path_tables + filename_pop,dtype="str")
# pop.shape

In [31]:
# position hierarchy table

In [32]:
# filename_leaderjoblink = "leaderjoblink.xlsx"

In [33]:
# filename_joborglink = "joborglink.xlsx"

# functions

In [34]:
def merge_results(m):
    
    print("\nMerge Results...")
    print("")
    print("\tshape     :",m.shape)
    print("\tleft_only :",m[m["_merge"]=="left_only"].shape)
    print("\tboth      :",m[m["_merge"]=="both"].shape)
    print("\tright_only:",m[m["_merge"]=="right_only"].shape)

In [35]:
# using this on (PI,OrgName) will ensure unique & non-null keys
# using this on a larger df will ensure unique rows and non-null keys, but not unique keys

def unique_non_null_rows(olddf):
    
    df = olddf.copy()
    
    
    ### drop duplicates
    df = df.drop_duplicates(keep="first",ignore_index=True)

    ### drop null rows
    df.dropna(how="all",axis=0,inplace=True)
    
    # drop rows with null PI
    df = df[~(df["PrimaryInstitution"].isna())]
        
    ### drop rows where PI contains stop words
    stop_words_lower = ["uncertain","current","deprecated","please_revise"]
    df = df[ ~ df["PrimaryInstitution"].str.lower().isin(stop_words_lower)]
            

    print("\nUnique Non-null Rows...")
    print("")
    print("\tNon-unique rows:",olddf.shape)
    print("\tUnique rows    :",df.shape)

    ### sort
    df = df.sort_values(["PrimaryInstitution","OrgName"])
    
    return df

# 0. prepare pop table: ElectedPositions, PositionHierarchy, OrgHierarchy

### Elected Postions from PI-OrgName-Position

In [97]:
ot.head(2)

,InsideGov,PrimaryInstitution,OrgName,ImmediateSuperiorOrg,SupervisesParent,LinkToNext_PI,LinkToNext_Org,LinkToNext_Year,Notes
0,0,4.15문화창작단,NaN,NaN,NaN,Current,Current,Current,NaN
1,0,6.15공동선언실천남북공동위원회북측위원회,교직원분과,NaN,NaN,Current,Current,Current,NaN

In [105]:
ot_columns = ["InsideGov","PrimaryInstitution","OrgName"]
keyorg = ot[ot_columns].drop_duplicates(keep="first")
keyorg.shape

(1742, 3)

In [106]:
key_columns = ["PrimaryInstitution","OrgName"]
unique_non_null_rows(keyorg)

Unique Non-null Rows...

	Non-unique rows: (1742, 3)
	Unique rows    : (1742, 3)

     InsideGov      PrimaryInstitution  OrgName
0            0               4.15문화창작단      NaN
1            0  6.15공동선언실천남북공동위원회북측위원회    교직원분과
2            0  6.15공동선언실천남북공동위원회북측위원회    노동자분과
3            0  6.15공동선언실천남북공동위원회북측위원회  농업근로자분과
4            0  6.15공동선언실천남북공동위원회북측위원회   문학예술분과
...        ...                     ...      ...
1737         0     흥남가스화건설장함경남도지구계획위원회      NaN
1738         0                  희천기계공장      분공장
1739         0                  희천기계공장      NaN
1740         0                희천정밀기계공장      분공장
1741         0                희천정밀기계공장      NaN

[1742 rows x 3 columns]

In [107]:
jobs = careers[(careers["IsJob"]=="True") & (careers["CareerStartYear"].notna())]

In [108]:
key_columns2 = ["PrimaryInstitution","OrgName","Position"]
keyjobs = jobs[key_columns2].drop_duplicates(keep="first")
keyjobs.shape

(1902, 3)

In [109]:
keyjobs = unique_non_null_rows(keyjobs)

Unique Non-null Rows...

	Non-unique rows: (1902, 3)
	Unique rows    : (1851, 3)

In [110]:
pop = keyorg.merge(keyjobs,how="outer",on=key_columns,indicator=True)
pop.shape

(2575, 5)

In [111]:
merge_results(pop)

Merge Results...

	shape     : (2575, 5)
	left_only : (724, 5)
	both      : (1851, 5)
	right_only: (0, 5)

In [112]:
# in orgtree, not in careers
pop[pop["_merge"]=="left_only"]

     InsideGov      PrimaryInstitution       OrgName Position     _merge
3            0  6.15공동선언실천남북공동위원회북측위원회         교직원분과      NaN  left_only
4            0  6.15공동선언실천남북공동위원회북측위원회         노동자분과      NaN  left_only
5            0  6.15공동선언실천남북공동위원회북측위원회       농업근로자분과      NaN  left_only
6            0  6.15공동선언실천남북공동위원회북측위원회        문학예술분과      NaN  left_only
7            0  6.15공동선언실천남북공동위원회북측위원회          보건분과      NaN  left_only
...        ...                     ...           ...      ...        ...
2555         1                   호위사령부  호위총국_평양경비사령부      NaN  left_only
2562         0                  화학공업협회           NaN      NaN  left_only
2564         0                   활쏘기협회           NaN      NaN  left_only
2570         0     흥남가스화건설장함경남도지구계획위원회           NaN      NaN  left_only
2572         0                  희천기계공장           NaN      NaN  left_only

[724 rows x 5 columns]

In [113]:
pop.drop(columns=["_merge"],inplace=True)

In [66]:
# populate PositionRank

In [67]:
# populate OrgRank

In [68]:
# pop_pre.to_excel(path_tables + "pi_org_pos.xlsx",index=False)

# 0. create position_list

In [69]:
pop.shape

(2575, 3)

In [70]:
position_list = pop["Position"].drop_duplicates().to_frame()
type(position_list)

pandas.core.frame.DataFrame

In [71]:
position_list.sort_values("Position",inplace=True,ignore_index=True)
position_list

    Position
0      1등서기관
1       1부국장
2        1비서
3      2등서기관
4       2부국장
..       ...
237       회장
238    후방총국장
239       후보
240     후보위원
241      NaN

[242 rows x 1 columns]

In [72]:
position_list.to_excel(path_tables + "position_list.xlsx",index=False)

# 0. add ElectedPositions

In [114]:
# add IsElected
pop2 = pop.merge(elected,on=key_columns2,how="outer",indicator=True)

In [115]:
pop2.head(2)

,InsideGov,PrimaryInstitution,OrgName,Position,IsElected,PositionRank,_merge
0,0,4.15문화창작단,NaN,단장,NaN,NaN,left_only
1,0,4.15문화창작단,NaN,부단장,NaN,NaN,left_only

In [116]:
# "both": IsElected = 1; "left_only": IsElected = nan
merge_results(pop2)

Merge Results...

	shape     : (2575, 7)
	left_only : (2470, 7)
	both      : (105, 7)
	right_only: (0, 7)

In [117]:
pop2.drop(columns=["_merge"],inplace=True)

In [118]:
pop2.head(5)

  InsideGov      PrimaryInstitution OrgName Position IsElected PositionRank
0         0               4.15문화창작단     NaN       단장       NaN          NaN
1         0               4.15문화창작단     NaN      부단장       NaN          NaN
2         0               4.15문화창작단     NaN      NaN       NaN          NaN
3         0  6.15공동선언실천남북공동위원회북측위원회   교직원분과      NaN       NaN          NaN
4         0  6.15공동선언실천남북공동위원회북측위원회   노동자분과      NaN       NaN          NaN

# 0. remove null Positions

In [119]:
pop3 = pop2[pop2.Position.notna()]
pop3

     InsideGov PrimaryInstitution OrgName Position IsElected PositionRank
0            0          4.15문화창작단     NaN       단장       NaN          NaN
1            0          4.15문화창작단     NaN      부단장       NaN          NaN
16           0           7.7연합기업소     NaN      기사장       NaN          NaN
17           0        北-러시아 친선의원단     NaN      위원장       NaN          NaN
18           0        北-중국 친선의원단      NaN      위원장       NaN          NaN
...        ...                ...     ...      ...       ...          ...
2568         0          황해제철연합기업소     NaN      지배인       NaN          NaN
2569         0             후방군관학교     NaN       교장       NaN          NaN
2571         0             희천기계공장     분공장      지배인       NaN          NaN
2573         0           희천정밀기계공장     분공장      지배인       NaN          NaN
2574         0           희천정밀기계공장     NaN      지배인       NaN          NaN

[1810 rows x 6 columns]

In [120]:
# confirm all p-o-p columns are unique
unique_non_null_rows(pop3[key_columns2])

Unique Non-null Rows...

	Non-unique rows: (1810, 3)
	Unique rows    : (1810, 3)

     PrimaryInstitution OrgName Position
0             4.15문화창작단     NaN       단장
1             4.15문화창작단     NaN      부단장
2              7.7연합기업소     NaN      기사장
3           北-러시아 친선의원단     NaN      위원장
4           北-중국 친선의원단      NaN      위원장
...                 ...     ...      ...
1805          황해제철연합기업소     NaN      지배인
1806             후방군관학교     NaN       교장
1807             희천기계공장     분공장      지배인
1808           희천정밀기계공장     분공장      지배인
1809           희천정밀기계공장     NaN      지배인

[1810 rows x 3 columns]

# 0. divide by PrimaryInstitution & export

In [121]:
# divide

# 내각, 정무원 - Jacob
# 노동당 - Esther
# 나머지 - Jeongsu

# include InGov=False
# include IsElected=True

In [122]:
jacob_pi = ["내각","정무원"]
esther_pi = ["노동당"]

In [123]:
jacob = pop3[pop3.PrimaryInstitution.isin(jacob_pi)]
jacob.shape

(705, 6)

In [124]:
jacob.PrimaryInstitution.unique()

array(['내각', '정무원'], dtype=object)

In [125]:
esther = pop3[pop3.PrimaryInstitution.isin(esther_pi)]
esther.shape

(263, 6)

In [126]:
esther.PrimaryInstitution.unique()

array(['노동당'], dtype=object)

In [127]:
jeongsu = pop3[~ pop3.PrimaryInstitution.isin(jacob_pi + esther_pi)]
jeongsu.shape

(842, 6)

In [128]:
jeongsu.PrimaryInstitution.unique()

array(['4.15문화창작단', '7.7연합기업소', '北-러시아 친선의원단', '北-중국 친선의원단 ', '강건종합군관학교',
       '강동지구탄광연합기업소', '강서구역청산엽동농장', '강선제강소', '강원도임업연합기업소', '개성무역총회사',
       '개성방직공장', '개천군협동농장', '공산청년동맹', '광명성경제연합회', '구성공작기계공장', '국가개발은행',
       '국립교향악단', '국립평양예술단', '국무위원회', '국방위원회', '국제무도경기위원회', '국제문제연구소',
       '금성정치대학', '금속및기계수출업총회사', '금수산의사당', '길주펄프공장', '김일성-김정일주의청년동맹',
       '김일성경호대', '김일성군사종합대학', '김일성김정일기금위원회', '김일성사회주의청년동맹', '김책공군대학',
       '김책제철연합기업소', '남북경협제도실무협의회', '남포유리공장', '남흥청년화학연합기업소', '내각B',
       '노농적위군', '농업과학원', '단군민족통일협의회', '단천수산사업소', '대성경제연합체', '대안전기공장',
       '대안중기계연합기업소', '동아시아경기대회협의회', '만경대혁명학원', '만수대예술국장', '만수대예술극장',
       '묘향무역회사', '무산광산연합기업소', '문평제련소', '민족화해협의회', '백두산건축연구원', '백두산창작단',
       '범민족통일음악회', '보위사령부', '보천보전자악단', '부령합금철공장', '북-가나 친선협회',
       '북-가나 친선협회 ', '북-기니비사우 친선협회', '북-나미비아 친선협회', '북-나이지리아 친선협회',
       '북-네팔 친선협회', '북-네팔 친선협회 ', '북-독일 친선의원단', '북-독일 친선협회',
       '북-라오스 친선의원단', '북-라오스 친선협회', '북-라오스 친선협회 ',
       '북-라틴아메리카 및 카리브해 지역 친선협회', '북-라틴아메리카친선협회', '북-러 친선의원단',
       '북-러시아 친선협회', '북-루마니아 친선협회', '북-르완다 친선협회', '북-리비아 친선협회',
       '북-말레이시아 친선협회', '북-몽골 친선의원단', '북-몽골 친선협회', '북-몽골 친선협회 ',
       '북-미얀마 친선협회', '북-베네수엘라 친선협회', '북-베트남 친선협회', '북-벨라루시 친선협회',
       '북-불가리아 친선협회', '북-세네갈 친선협회', '북-소 친선협회', '북-수리남 친선협회',
       '북-스웨덴 친선협회', '북-스위스 친선협회', '북-시리아 친선협회', '북-시리아 친선협회 ',
       '북-시에라리온 친선협회', '북-아르헨티나 친선협회', '북-알제리 친선협회', '북-영국 친선의원단',
       '북-영국 친선협회', '북-오스트리아 친선협회 ', '북-요르단 친선협회', '북-유럽동맹 친선의원단',
       '북-이라크 친선협회', '북-이란 친선의원단', '북-이란 친선의회 그룹', '북-이란 친선협회',
       '북-이집트 친선협회', '북-이집트 친선협회 ', '북-이탈리아 친선의원단', '북-인도 친선협회',
       '북-인도네시아 친선의원단', '북-인도네시아 친선의회 그룹', '북-인도네시아 친선협회', '북-일 우호친선협회',
       '북-자메이카 친선협회', '북-적도기니 친선협회', '북-중 친선의원단', '북-중 친선협회',
       '북-중 친선협회 중앙위원회', '북-중 친선협회 중앙위원회 ', '북-중국 친선의원단', '북-중국 친선협회',
       '북-짐바브웨 친선협회', '북-체코 친선의원단', '북-칠레 친선협회', '북-카보베르데 친선 및 연대성위원회',
       '북-캄보디아 친선의원단', '북-쿠바 단결위원회', '북-쿠바 연대성위원회', '북-쿠바 친선위원회',
       '북-쿠바 친선협회', '북-쿠웨이트 친선협회', '북-탄자니아 친선협회 ', '북-태국 친선협회',
       '북-토고 친선협회', '북-토고 친선협회 ', '북-파키스탄 친선협회', '북-팔레스타인 친선협회',
       '북-팔레스타인 친선협회 ', '북-폴란드 친선협회', '북-핀란드 친선협회', '북-필리핀 친선협회',
       '북-필리핀 친선협회 ', '북러 친선협회', '북조선노동당', '북조선민주청년동맹', '북조선임시인민위원회',
       '북창화력발전연합기업소', '북한-쿠바 단결위원회', '비전향장기수 구원대책 조선위원회', '사회과학원',
       '사회주의노동청년동맹', '사회주의애국청년동맹', '삼석구역장수원협동농장', '성진방직공장',
       '세계인민들과의연대성조선위원회', '수풍발전소', '순천비날론연합기업소', '순천지구청년탄광기업소',
       '순천지구청년탄광연합기업소', '승리자동차연합기업소', '신포수산사업소', '아시아-아프리카 연대성 위원회',
       '안주지구탄광연합기업소', '양강도임업연합기업소', '영화예술단', '용성기계연합기업소', '용성기계연합총국',
       '용성식료공장', '용천식료공장', '운산공구공장', '원산철도차량연합기업소', '유엔아동기금민족조정위원회',
       '윤이상음악연구소', '인민경비대', '인민대학습당', '일본의과거청산을요구하는국제연대협의회조선위원회',
       '전희석동무가일하는기업소', '조국통일문제연구소', '조국통일민주주의전선', '조국통일범민족연합북측본부',
       '조국통일범민족청년학생연합', '조선-나이지리아 친선협회 ', '조선-네팔 친선협회', '조선-독일 친선의원단',
       '조선-독일 친선협회', '조선-라오스 친선의원단', '조선-라오스 친선협회 ',
       '조선-라틴아메리카 및 카리브해 지역 친선협회', '조선-러시아 친선협회 ', '조선-루마니아 친선협회',
       '조선-르완다 친선협회 ', '조선-리비아 친선협회', '조선-몽골 친선의원단', '조선-몽골 친선협회 ',
       '조선-베트남 친선협회', '조선-베트남친선의원단', '조선-벨라루스 친선협회', '조선-불가리아 친선협회 ',
       '조선-수단 친선협회 ', '조선-수리남 친선협회 ', '조선-스웨덴 친선협회', '조선-스위스 친선협회',
       '조선-시리아 친선협회', '조선-시리아친선의원단', '조선-영국 친선협회 ', '조선-영국친선의원단',
       '조선-오세아니아 친선협회 ', '조선-유럽동맹친선의원단', '조선-이란 친선의원단', '조선-이란 친선의회 그룹',
       '조선-이란 친선협회', '조선-이집트 친선협회', '조선-이탈리아친선의원단', '조선-인도 친선협회',
       '조선-인도네시아 친선의원단', '조선-인도네시아 친선의회 그룹', '조선-인도네시아 친선협회',
       '조선-일본 우호친선협회', '조선-자메이카 친선협회 ', '조선-적도기니 친선협회', '조선-중국 친선의원단',
       '조선-중국 친선협회 ', '조선-중국 친선협회 중앙위원회', '조선-중국친선협회', '조선-짐바브웨 친선협회',
       '조선-칠레 친선협회', '조선-캄보디아친선협회', '조선-쿠바 연대성위원회', '조선-쿠바 친선위원회',
       '조선-쿠바 친선협회', '조선-쿠웨이트 친선협회', '조선-탄자니아 친선협회', '조선-태국 친선의원단',
       '조선-폴란드 친선협회', '조선-핀란드 친선협회 ', '조선4.25예술영화촬영소', '조선건축가동맹',
       '조선과학기술총연맹', '조선국제합영촉진위원회', '조선국제합영총회사', '조선권투협회', '조선그리스도교연맹',
       '조선금연위원회', '조선기자동맹', '조선김일성화김정일화위원회', '조선농업근로자동맹', '조선대외문화연락위원회',
       '조선대외문화연락협회', '조선대풍국제투자그룹', '조선대풍투자그룹', '조선도서관협회', '조선도시연맹',
       '조선마라톤협회', '조선무술연맹', '조선무역은행', '조선문학예술총동맹', '조선문학창작사', '조선민족음악위원회',
       '조선민주법률가협회', '조선민주여성동맹', '조선민주청년동맹', '조선반제투사노병위원회', '조선반핵평화협의회',
       '조선불교도연맹', '조선빙상피겨협회', '조선빙상호케이(하키)협회', '조선사회과학자협회', '조선사회민주당',
       '조선사회주의여성동맹', '조선소프트볼협회', '조선아시아태평양평화위원회', '조선역기협회', '조선연로자보호연맹',
       '조선올림픽위원회', '조선옷협회', '조선외교협회', '조선요리협회', '조선유네스코민족위원회',
       '조선유엔식량및농업기구민족위원회', '조선은별무역총회사', '조선의학협회', '조선인민경비대',
       '조선일본군위안부및강제연행피해자보상대책위원회', '조선자연보호연맹', '조선장애자보호연맹', '조선적십자종합병원',
       '조선적십자회', '조선정교위원회', '조선종교인협의회', '조선직업총동맹', '조선창광무역회사', '조선천도교청우당',
       '조선천도교회중앙지도위원회', '조선축구협회', '조선카톨릭교협회', '조선탁구협회', '조선태권도위원회',
       '조선평화옹호전국민족위원회', '조선피복가공기술협회', '조선학생위원회', '조선해외동포원호위원회', '조선혁명박물관',
       '조선흑색금속수출회사', '종군위안부및태평양전쟁피해자대책위원회', '중앙인민위원회', '중앙자재총연합상사',
       '직동청년탄광', '체육연구원', '총참모부', '최고사령부', '최고인민회의', '태권도협회', '평양기계상사',
       '평양만경대예술단', '평양시상하수도관리소', '평양시지방산업총국', '평양시청년건설사단', '평양신학원',
       '평양영화대학', '평양탄광기계공장', '평양피복공장', '평양학생소년예술단', '피바다가극단', '혁명승리기념관',
       '호위사령부', '화학공장건설연합기업소', '황주군구포협동농장', '황해제철연합기업소', '후방군관학교',
       '희천기계공장', '희천정밀기계공장'], dtype=object)

In [129]:
# export tables
jacob.to_excel(path_tables + "position_rank_jacob.xlsx",index=True)
esther.to_excel(path_tables + "position_rank_esther.xlsx",index=True)
jeongsu.to_excel(path_tables + "position_rank_jeongsu.xlsx",index=True)