In [1]:
import pandas as pd
import numpy as np
from datetime import date

# combined data - 2 tables

In [2]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [21]:
filename_careers = "careers.xlsx"
careers = pd.read_excel(path_tables + filename_careers,dtype="str")
careers.shape

(9001, 12)

In [22]:
filename_orgtree = "orgtree.xlsx"
ot = pd.read_excel(path_tables + filename_orgtree,dtype="str")
ot.shape

(1711, 9)

In [23]:
filename_leadercareerlink = "leadercareerlink.xlsx"
lclink = pd.read_excel(path_tables + filename_leadercareerlink,dtype="str")
lclink.shape

(12617, 3)

In [6]:
# filename_leaderjoblink = "leaderjoblink.xlsx"

In [7]:
# filename_joborglink = "joborglink.xlsx"

# combined data - 3 queries

In [24]:
path_queries = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 3 queries/"

In [25]:
filename_leaderjobtransition = "leaderjobtransition.xlsx"
# ljt = pd.read_excel(path_queries + filename_leaderjobtransition,dtype="str")

In [10]:
today = date.today()
print(today)

2023-07-09

# 1. deprecate old version

In [15]:
table_name = "leaderjobtransition"
table_name

'leaderjobtransition'

In [16]:
filename_leaderjobtransition

'leaderjobtransition.xlsx'

In [17]:
filename_deprecated = table_name + "_deprecated_"+str(today)+".xlsx"
filename_deprecated

'leaderjobtransition_deprecated_2023-07-09.xlsx'

In [19]:
# deprecate old query
# oldtable = pd.read_excel(path_queries + filename_careers,dtype="str")
# oldtable.to_excel(path_queries + filename_deprecated,index=False)

# 2. refresh query using current tables

In [28]:
lclink.head(2)

  LeaderID                CareerString CareerDateString_2022
0      리선권   개성공단 남북공동위원회 통행통신통관 분과위원회     2013.09 ~ 2014.01
1      조경철            故 김정일 국가장의위원회 위원               2011.12

# 3. export new query

In [55]:
# refresh leaderjobtransition with new data
ljt_new.to_excel(path_tables + filename_careers,index=False)